<template>
  <b-sidebar
    id="search-sidebar"
    :visible="isTimKiemSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-tim-kiem-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Tìm kiếm
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- Tên đăng nhập -->
          <validation-provider
            #default="validationContext"
            name="Tên đăng nhập"
          >
            <b-form-group
              label="Tên đăng nhập"
              label-for="search_username"
            >
              <b-form-input
                id="search_username"
                v-model="userData.username"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tên đăng nhập"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Họ tên -->
          <validation-provider
            #default="validationContext"
            name="Họ tên"
          >
            <b-form-group
              label="Họ tên"
              label-for="search_ho-ten"
            >
              <b-form-input
                id="search_ho-ten"
                v-model="userData.hoten"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Họ và tên đầy đủ"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Điện thoại -->
          <validation-provider
            #default="validationContext"
            name="Điện thoại"
          >
            <b-form-group
              label="Điện thoại"
              label-for="search_phone_khach_hang"
            >
              <b-form-input
                id="search_phone_khach_hang"
                v-model="userData.dien_thoai"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder=""
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Email -->
          <validation-provider
            #default="validationContext"
            name="Email"
          >
            <b-form-group
              label="Email"
              label-for="search_email_khach_hang"
            >
              <b-form-input
                id="search_email_khach_hang"
                v-model="userData.email"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="SearchIcon"
              />
              Tìm kiếm
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'

export default {
  components: {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isTimKiemSidebarActive',
    event: 'update:is-tim-kiem-sidebar-active',
  },
  props: {
    isTimKiemSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
    }
  },
  setup() {
    const blankUserData = {
      hoten: '',
      username: '',
      dien_thoai: '',
      ngay_sinh_tu: '',
      ngay_sinh_den: '',
      ngay_nhap_tu: '',
      ngay_nhap_den: '',
      email: '',
      dia_chi: '',
    }

    const listVaiTro = ref([])

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      listVaiTro,
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
    submit() {
      const currentUser = getUserData()

      Object.assign(this.userData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
        timKiem: 1,
      })

      this.$root.$emit('timKiemDaiLy', this.userData)
    },
    onSubmit() {
      this.submit()
    },

  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
