<template >
  <b-card>
    <b-card-title>NẠP TIỀN</b-card-title>
    <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
    >
      <b-form
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
      >
        <b-row>
          <b-col
              cols="12"
              md="6"
          >
            <b-form-group
                label="Chủ tài khoản"
                label-for="chu_tai_khoan"
            >
              <b-form-input
                  id="chu_tai_khoan"
                  disabled="disabled"
                  v-model="LoadTaiKhoanNapTien.name"
              />
            </b-form-group>
          </b-col>
          <b-col
              cols="12"
              md="6"
          >
            <b-form-group
                label="Số tài khoản"
                label-for="chu_tai_khoan"
            >
              <b-form-input
                  id="chu_tai_khoan"
                  disabled="disabled"
                  v-model="LoadTaiKhoanNapTien.content"
              />
            </b-form-group>
          </b-col>
          <b-col
            cols="12"
            md="12"
          >
          <b-form-group
              label="Nhập số tiền"
              label-for="so-tien"
          >
            <b-form-input
                id="so-tien"
                v-model="FormNapTienData.so_tien"
                type="number"
            />
          </b-form-group>
          </b-col>
          <b-col
              cols="12"
              md="12"
          >
            <b-form-group
              label="Ảnh giao dịch"
              label-for="anh-banner-banner"
            >
              <b-form-file
                id="anh-banner-banner"
                v-model="FormNapTienData.image"
                multiple
                placeholder="Chọn file(s)..."
                drop-placeholder="Chọn file(s).."
                accept="image/jpeg, image/png, image/gif"
                @change="selectedFile($event)"
              />
            </b-form-group>
          </b-col>
          <b-col
              cols="12"
              md="12"
          >
            <b-button
                variant="primary"
                class="mr-2"
                type="submit"
            >
              <feather-icon
                  icon="SaveIcon"
                  class="mr-50"
              />
              Nạp tiền
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-card>
</template>
<script>
import {
  BCard,
  BCardTitle,
  BForm,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BButton,
  BFormFile,

} from 'bootstrap-vue'
import { ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { onUnmounted, ref } from '@vue/composition-api'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import userStoreModule from '@/views/users/userStoreModule'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { useToast } from 'vue-toastification/composition'
// eslint-disable-next-line import/no-cycle
import router from '@/router'

export default {
  components: {
    BCardTitle,
    BCard,
    BFormGroup,
    BFormInput,
    BCol,
    BRow,
    BForm,
    BButton,
    BFormFile,
    ValidationObserver,
  },
  setup() {
    const blankFormNapTienData = {
      so_tien: '',
      image: null,
      anh_giao_dich: [],
    }
    const blankLoadTaiKhoanNapTien = {
      content: '',
      name: '',
    }
    const LoadTaiKhoanNapTien = ref(JSON.parse(JSON.stringify(blankLoadTaiKhoanNapTien)))
    const USER_APP_STORE_MODULE_NAME = 'app-nap-tien'
    const currentUser = getUserData()
    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })
    const FormNapTienData = ref(JSON.parse(JSON.stringify(blankFormNapTienData)))
    const resetuserData = () => {
      FormNapTienData.value = JSON.parse(JSON.stringify(blankFormNapTienData))
    }
    const setUserData = user => {
      FormNapTienData.value = user
    }
    Object.assign(FormNapTienData.value, {
      auth: currentUser.auth_key,
      uid: currentUser.id,
    })
    const createImage = file => {
      const reader = new FileReader()
      reader.onload = e => {
        FormNapTienData.value.anh_giao_dich.push(e.target.result)
      }
      reader.readAsDataURL(file)
    }
    const selectedFile = event => {
      const files = event.target.files || event.dataTransfer.files
      if (files.length > 0) {
        files.forEach(item => {
          createImage(item)
        })
      }
      console.log(FormNapTienData.value)
    }
    const toast = useToast()
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const onSubmit = () => {
      store.state.showBlock = true
      store.dispatch('app-nap-tien/saveNapTien', FormNapTienData.value)
        .then(response => {
          store.state.showBlock = false
          if (response.data.status === 1) {
            showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', response.data.content)
          }
        })
        .catch(e => {
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          store.state.showBlock = false
        })
    }

    store.state.showBlock = true

    store.dispatch('app-nap-tien/loadTaiKhoanThanhToan', {
      id: router.currentRoute.params.id,
      auth: currentUser.auth_key,
      uid: currentUser.id,
    })
      .then(response => {
        LoadTaiKhoanNapTien.value = response.data.content
        store.state.showBlock = false
      })
      .catch(error => {
        if (error.response.status === 404) {
          resetuserData()
        }
        this.showToast('danger', 'Thông báo', 'BellIcon', error)
        store.state.showBlock = false
      })
    const {
      resetForm,
    } = formValidation(resetuserData)
    return {
      onSubmit,
      resetForm,
      selectedFile,
      createImage,
      setUserData,
      FormNapTienData,
      LoadTaiKhoanNapTien,
    }
  },
}
</script>
