<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <b-card>
      <b-card-header>
        <b-card-title>Thông tin khách hàng</b-card-title>
      </b-card-header>
      <b-row>
        <!-- User Info: Left col -->
        <b-col
          cols="21"
          xl="6"
          class="d-flex justify-content-between flex-column"
        >
          <!-- User Avatar & Action Buttons -->
          <div class="d-flex justify-content-start">
            <b-avatar
              :text="avatarText(YNghiaCacConSoData.hoten)"
              variant="light-primary"
              size="104px"
              rounded
            />
            <div class="d-flex flex-column ml-1">
              <div class="mb-1">
                <h4 class="mb-1">
                  <b-badge
                    variant="info"
                    class="badge-glow"
                  >
                    {{ YNghiaCacConSoData.ma_khach_hang }}
                  </b-badge>
                </h4>
                <h4 class="mb-3">
                  Họ tên: {{ YNghiaCacConSoData.hoten }}
                </h4>
                <h4 class="font-weight-bold">
                  Ví: {{ YNghiaCacConSoData.vi_dien_tu }} VNĐ
                </h4>
              </div>
            </div>
          </div>

        </b-col>

        <!-- Right Col: Table -->
        <b-col
          cols="12"
          xl="6"
        >
          <table class="mt-2 mt-xl-0 w-100">
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="UserIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">Tên đăng nhập:</span>
              </th>
              <td class="pb-50">
                {{ YNghiaCacConSoData.username }}
              </td>
            </tr>
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="StarIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">Địa chỉ:</span>
              </th>
              <td class="pb-50 text-capitalize">
                {{ YNghiaCacConSoData.dia_chi }}
              </td>
            </tr>
            <tr>
              <th>
                <feather-icon
                  icon="PhoneIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">Điện thoại:</span>
              </th>
              <td>
                {{ YNghiaCacConSoData.dien_thoai }}
              </td>
            </tr>
          </table>
        </b-col>
      </b-row>
    </b-card>

    <b-tabs>
      <b-tab title="Đơn hàng đã đặt">
        <b-card no-body>
          <b-card-body>
            <b-card-title>Đơn hàng đã đặt</b-card-title>
              <b-table
                ref="refUserListTable"
                class="position-relative"
                empty-text=""
                show-empty
                responsive
                :items="getDonHang"
                :fields="tableDonHangDaDatColumns"
                primary-key="id"
              >
                <template #cell(index)="data">
                  <p class="text-right">
                    {{ data.index +1 }}
                  </p>
                </template>
                <template #cell(chi_tiet)="data">
                  <router-link :to="{ name: 'xem-chi-tiet-don-hang', params: { id: data.item.id } }">
                    <feather-icon
                      icon="EyeIcon"
                      size="16"
                      class="align-middle text-body"
                    />
                  </router-link>
                </template>
                <!-- Column: id -->
                <template #cell(id)="data">
                  <b-badge
                    pill
                    variant="light-primary"
                    class="text-capitalize"
                  >{{ data.item.id }}</b-badge> ({{ data.item.created.split(' ')[0] }})<br>
                  <div v-if="data.item.order_id !== '' && data.item.order_id !== null">
                    <div class="mt-2">
                      <strong>Mã vận đơn:</strong> <br>
                      <b-badge
                        pill
                        variant="light-warning"
                        class="text-capitalize"
                      >{{ data.item.order_id }}</b-badge>
                    </div>
                  </div>
                  <div v-else>
                    <span class="text-muted">Chưa có MVĐ</span>
                  </div>
                </template>
                <template #cell(tong_tien)="data">
                  <div class="text-right">
                    <strong>¥ </strong><span class="text-primary">{{ Number( data.item.tong_tien_cdn).toLocaleString('cn', {minimumFractionDigits: 2}) }}</span>
                  </div>
                  <div class="text-right">
                    <strong>Tỷ giá: </strong><span class="text-warning">{{ Number( data.item.ty_gia * 1000).toLocaleString('vi', {minimumFractionDigits: 0}) }} </span>VNĐ
                  </div>
                  <div class="text-right">
                    <strong>TT: </strong><span class="text-danger">{{ Number( data.item.tong_tien).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> VNĐ
                  </div>
                  <div
                    class="text-right"
                  >
                    <strong>LN: </strong><span class="text-success">{{ Number( data.item.loi_nhuan_don_hang).toLocaleString('vi',{maximumFractionDigits: 0}) }}</span> ({{ (Number( data.item.loi_nhuan_don_hang) * 100/Number( data.item.thanh_tien)).toLocaleString('vi', {maximumFractionDigits: 2}) }}%)
                  </div>
                </template>
                <!-- Column: vi_dien_tu -->
                <template #cell(thanh_tien)="data">
                  <b-media vertical-align="center">
                    <div class="text-right">
                      <strong>Ship: </strong>¥ <span class="text-primary">{{ Number( data.item.phi_ship_trung_quoc).toLocaleString('cn', {minimumFractionDigits: 2}) }}</span>
                    </div>
                    <div class="text-right">
                      <strong>Phí DV: </strong> <span class="text-warning">{{ Number( data.item.phi_mua_hang).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> VNĐ
                    </div>
                    <div class="text-right">
                      <strong>Chiết khấu: </strong> <span class="text-warning">- {{ Number( data.item.tien_chiet_khau).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> VNĐ
                    </div>
                    <div class="text-right">
                      <strong>Nợ:</strong> <b-badge
                        pill
                        :variant="`light-${data.item.so_tien_da_tra === data.item.thanh_tien ? 'success' : 'danger'}`"
                        class="text-capitalize"
                      >{{ (Number(data.item.thanh_tien) - Number( data.item.so_tien_da_tra) ).toLocaleString('vi', {minimumFractionDigits: 0}) }}</b-badge> /
                      <b-badge
                        pill
                        variant="light-danger"
                        class="text-capitalize"
                      >
                        {{ Number( data.item.thanh_tien).toLocaleString('vi', {minimumFractionDigits: 0}) }}
                      </b-badge> VNĐ
                    </div>
                  </b-media>
                </template>
              </b-table>
          </b-card-body>
        </b-card>
      </b-tab>
      <b-tab title="Các giao dịch đã thực hiện">
        <b-card no-body>
          <b-card-body>
            <b-card-title>Các giao dịch đã thực hiện</b-card-title>
            <b-table
              ref="refUserListTable"
              class="position-relative"
              empty-text=""
              show-empty
              responsive="sm"
              stacked="md"
              selectable
              :items="getGiaoDich"
              :fields="tableGiaoDichColumns"
              primary-key="id"
            >
              <template #cell(index)="data">
                <p class="text-right">
                  {{ data.index +1 }}
                </p>
              </template>
              <template #cell(id)="data">
                <b-badge
                  pill
                  variant="light-primary"
                  class="text-capitalize"
                >{{ data.item.id }}</b-badge> <br>
                <strong>Thời gian: </strong><br>{{ data.item.created }}
              </template>
              <template #cell(khach_hang)="data">
              <strong>Thực hiện</strong><br>
              {{ data.item.nguoi_tao }}<br>
              <strong>Khách hàng</strong><br>
              {{ data.item.khach_hang }}
              </template>
              <template #cell(loai_giao_dich)="data">
                {{ data.item.loai_giao_dich }}
                <div v-if="data.item.don_hang_lien_quan_id !== null">
                  <strong>Đơn hàng </strong>
                  <b-badge
                    pill
                    variant="light-primary"
                    class="text-capitalize"
                  >{{ data.item.don_hang_lien_quan_id }}
                  </b-badge>
                </div>
              </template>
              <template #cell(so_tien)="data">
                <div
                  v-if="data.item.trang_thai_giao_dich === 'Chờ xác minh'"
                  class="text-right"
                >
                  <del>
                    {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}
                  </del>
                </div>
                <div
                  v-else
                  class="text-right"
                >
                  <div v-if="data.item.loai_giao_dich === 'Nạp tiền' || data.item.loai_giao_dich === 'Hoàn tiền đơn hàng'">
                    <b-badge
                      pill
                      variant="light-success"
                      class="text-capitalize"
                    >+ {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}</b-badge>
                  </div>
                  <div v-if="data.item.loai_giao_dich === 'Thanh toán đơn hàng'">
                    <b-badge
                      pill
                      variant="light-danger"
                      class="text-capitalize"
                    >- {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}</b-badge>
                  </div>

                </div>
              </template>
            </b-table>
          </b-card-body>
        </b-card>
      </b-tab>
      <b-tab title="Khách hàng tuyến dưới">
        <b-card no-body>
          <b-card-body>
            <b-card-title>Khách hàng tuyến dưới</b-card-title>
            <b-table
              ref="refUserListTable"
              class="position-relative"
              empty-text=""
              show-empty
              responsive="sm"
              stacked="md"
              selectable
              :items="getKhachHangTuyenDuoi"
              :fields="tableKhachHangTuyenDuoiColumns"
              primary-key="id"
            >
              <template #cell(index)="data">
                <p class="text-right">
                  {{ data.index +1 }}
                </p>
              </template>
              <template #cell(id)="data">
                <b-badge
                  pill
                  variant="light-primary"
                  class="text-capitalize"
                >{{ data.item.id }}</b-badge> <br>
                <strong>Thời gian: </strong><br>{{ data.item.created }}
              </template>
              <template #cell(khach_hang)="data">
                <strong>Thực hiện</strong><br>
                {{ data.item.nguoi_tao }}<br>
                <strong>Khách hàng</strong><br>
                {{ data.item.khach_hang }}
              </template>
              <template #cell(loai_giao_dich)="data">
                {{ data.item.loai_giao_dich }}
                <div v-if="data.item.don_hang_lien_quan_id !== null">
                  <strong>Đơn hàng </strong> <b-badge
                    pill
                    variant="light-primary"
                    class="text-capitalize"
                  >{{ data.item.don_hang_lien_quan_id }}</b-badge>
                </div>
              </template>
              <template #cell(so_tien)="data">
                <div
                  v-if="data.item.trang_thai_giao_dich === 'Chờ xác minh'"
                  class="text-right"
                >
                  <del>
                    {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}
                  </del>
                </div>
                <div
                  v-else
                  class="text-right"
                >
                  <div v-if="data.item.loai_giao_dich === 'Nạp tiền' || data.item.loai_giao_dich === 'Hoàn tiền đơn hàng'">
                    <b-badge
                      pill
                      variant="light-success"
                      class="text-capitalize"
                    >+ {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}</b-badge>
                  </div>
                  <div v-if="data.item.loai_giao_dich === 'Thanh toán đơn hàng'">
                    <b-badge
                      pill
                      variant="light-danger"
                      class="text-capitalize"
                    >- {{ Number(data.item.so_tien_giao_dich).toLocaleString('vi', {maximumFractionDigits: 0}) }}</b-badge>
                  </div>

                </div>
              </template>
            </b-table>
          </b-card-body>
        </b-card>
      </b-tab>
    </b-tabs>

  </div>
</template>

<script>

import {
  BRow, BCol, BCard, BCardTitle, BCardHeader, BTable, BBadge, BMedia, BAvatar, BTabs, BTab, BCardBody,
} from 'bootstrap-vue'
import { ref, onUnmounted } from '@vue/composition-api'
import store from '@/store'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { required } from '@validations'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
// eslint-disable-next-line import/no-cycle
import { avatarText } from '@core/utils/filter'
import moment from 'moment'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
// eslint-disable-next-line import/no-cycle
import router from '@/router'
// eslint-disable-next-line import/no-cycle
import useThanhVienList from '@/views/users/thanh-vien/useThanhVienList'
import userStore from '../userStoreModule'

export default {
  directives: {
    Ripple,
  },
  components: {
    BCardTitle,
    BCardHeader,
    BCardBody,
    BCard,
    BBadge,
    BRow,
    BCol,
    BTable,
    BMedia,
    BAvatar,
    BTabs,
    BTab,
  },
  data() {
    return {
      required,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
    }
  },
  setup() {
    const blankYNghiaCacConSoData = {
      id: '',
      username: '',
      password_hash: '',
      email: '',
      hoten: '',
      dien_thoai: '',
      dia_chi: '',
      ngay_sinh: '',
      cmnd: '',
      vi_dien_tu: 0,
    }
    const {
      tableDonHangDaDatColumns,
      tableKhachHangTuyenDuoiColumns,
      tableGiaoDichColumns,
      getDonHang,
      getKhachHangTuyenDuoi,
      getGiaoDich,
    } = useThanhVienList()

    const YNghiaCacConSoData = ref(JSON.parse(JSON.stringify(blankYNghiaCacConSoData)))

    const USER_APP_STORE_MODULE_NAME = 'app-user'

    const resetuserData = () => {
      YNghiaCacConSoData.value = JSON.parse(JSON.stringify(blankYNghiaCacConSoData))
    }
    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStore)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const currentUser = getUserData()
    const toast = useToast()
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true

      Object.assign(YNghiaCacConSoData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-user/updateProfile', YNghiaCacConSoData.value)
        .then(response => {
          store.state.showBlock = false
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
        })
        .catch(e => {
          showToast('danger', 'Thông báo', 'BellIcon', e.message)
          store.state.showBlock = false
        })
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    store.state.showBlock = true

    store.dispatch('app-user/loadProfile', {
      auth: currentUser.auth_key,
      uid: currentUser.id,
      id: router.currentRoute.query.id_khach_hang,
    })
      .then(response => {
        YNghiaCacConSoData.value = response.data.khachhang
        store.state.showBlock = false
      })
      .catch(error => {
        if (error.response.status === 404) {
          resetuserData()
        }
        this.showToast('danger', 'Thông báo', 'BellIcon', error)
        store.state.showBlock = false
      })

    return {
      onSubmit,
      YNghiaCacConSoData,
      refFormObserver,
      getValidationState,
      resetForm,
      tableDonHangDaDatColumns,
      tableKhachHangTuyenDuoiColumns,
      tableGiaoDichColumns,
      getDonHang,
      getKhachHangTuyenDuoi,
      moment,
      getGiaoDich,
      avatarText,
    }
  },
  mounted() {
  },
}

</script>

<style lang="scss">

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
