/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
$font-size: 13pt;

.brand-text{
  font-size: $font-size !important
}
[dir] .table td{
  padding: 5px 10px;
}
p{
  padding: 0;
  margin: 5px;
}
[dir] .table thead th {
  border-bottom: 2px solid #ebe9f1;
  padding: 0.72rem 10px;
}
[dir] label {
  font-size: 1rem
}
.ql-align-center{
  text-align: center;
}
th.table-secondary{
  background-color: #28c76f !important;
  color: #fff;
}
th.table-primary{
  background-color: #7367f0 !important;
  color: #fff;
}
