<template>

  <div>
    <!-- Table Container Card -->
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Danh sách khách hàng</b-card-title>
      </b-card-header>

      <b-table
        ref="refUserListTable"
        class="position-relative"
        :items="userData.khach_hang"
        responsive
        :fields="tableColumns"
        primary-key="id"
        :sort-by.sync="sortBy"
        show-empty
        empty-text=""
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- A virtual  so_tien_da_thanh_toan column -->
        <template #cell(so_tien_da_thanh_toan)="data">
          <div>
            <b-badge
              pill
              :variant="`light-${(data.item.so_tien_da_thanh_toan <= 0 && data.item.so_tien_can_thanh_toan > 0) ? 'danger' : ( Number.parseInt(data.item.so_tien_da_thanh_toan) >= data.item.so_tien_can_thanh_toan ? 'success' : 'warning')}`"
              class="text-capitalize"
            >
              {{ data.item.so_tien_da_thanh_toan != null ? Number( data.item.so_tien_da_thanh_toan).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </b-badge>
          </div>
          <small class="text-muted">/
            {{ data.item.so_tien_can_thanh_toan != null ? Number( data.item.so_tien_can_thanh_toan).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}</small>
        </template>
        <!-- A virtual id column -->
        <template #cell(id)="data">
          <p class="text-right">
            {{ data.index+1 }}
          </p>
        </template>

        <!-- Column: email -->
        <template #cell(hoten)="data">
          <b-media vertical-align="center">
            <b-link
              :to="{ name: 'apps-users-view', params: { id: data.item.id } }"
              class="font-weight-bold d-block text-nowrap text-primary"
            >
              {{ data.item.hoten }}
            </b-link>
            <small class="text-muted">{{ data.item.email }}</small>
          </b-media>
        </template>
        <!-- Column: Actions -->
        <template #cell(xem_bai)="data">
          <b-link
            :disabled="Number(data.item.so_tien_da_thanh_toan) <= 0"
            :to="{name: 'xem-bai', params: {id: data.item.id}}"
          >
            <feather-icon icon="EyeIcon" />
          </b-link>
        </template>
      </b-table>
    </b-card>
  </div>
</template>

<script>
import {
  BCard, BTable, BCardTitle, BBadge, BLink,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import { avatarText } from '@core/utils/filter'
import useUsersList from './useUsersList'
import userStoreModule from '../../../userStoreModule'

export default {
  components: {
    BCard,
    BTable,
    BBadge,
    BCardTitle,
    BCardHeader,
    BLink,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-user'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const isAddNewUserSidebarActive = ref(false)

    const {
      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useUsersList()

    return {

      // Sidebar
      isAddNewUserSidebarActive,

      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // Filter
      avatarText,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    }
  },
}
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
