<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <tim-kiem
      :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
      @refetch-data="refetchData"
    />
    <tim-kiem-rut-tien
      :is-tim-kiem-rut-tien-sidebar-active.sync="isTimKiemRutTienSidebarActive"
      @refetch-two-data="refetchTwoData"
    />
    <xem-chi-tiet-rut-tien
      :is-xem-chi-tiet-rut-tien-sidebar-active.sync="isXemChiTietRutTienSidebarActive"
      @refetch-two-data="refetchTwoData"
    />
    <xem-chi-tiet-doi-qua
      :is-xem-chi-tiet-doi-qua-sidebar-active.sync="isXemChiTietDoiQuaSidebarActive"
      @refetch-data="refetchData"
    />
    <xac-nhan-doi-qua
      :is-doi-qua-confirm-is-active.sync="isDoiQuaConfirmIsActive"
      @refetch-data="refetchData"
    />
    <b-card
      no-body
      class="mb-0"
    >
      <div>
            <template slot="title">
              Yêu cầu đổi quà&nbsp;
              <span class="badge badge-primary badge-pill">{{ dataMeta.of }}</span>
            </template>
            <b-card-header>
              <b-card-title style="padding-left: 22px">
                Tổng số tiền: <span class="text-success">{{ Number(tongTienData).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ</span>
              </b-card-title>
              <b-dropdown
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="flat-primary"
                dropright
                text="Chức năng"
                :right="$store.state.appConfig.isRTL"
              >
                <b-dropdown-item @click="timKiem()">
                  <feather-icon
                    icon="SearchIcon"
                    class="mr-50"
                  />
                  <span class="align-middle ml-50">Tìm kiếm</span>
                </b-dropdown-item>
                <b-dropdown-item @click="selectAllRows()">
                  <feather-icon icon="CheckCircleIcon" />
                  <span class="align-middle ml-50">Chọn tất cả</span>
                </b-dropdown-item>
                <b-dropdown-item @click="clearSelected()">
                  <feather-icon icon="XIcon" />
                  Bỏ chọn
                </b-dropdown-item>
              </b-dropdown>
            </b-card-header>
            <b-table
              ref="refUserListTable"
              class="position-relative"
              empty-text="Không có dữ liệu"
              show-empty
              responsive="sm"
              stacked="md"
              selectable
              :items="fetchUsers"
              :fields="tableColumns"
              :sort-by.sync="sortBy"
              primary-key="id"
              :sort-desc.sync="isSortDirDesc"
              @row-selected="onRowSelected"
            >
              <!-- A virtual id column -->
              <template #cell(index)="data">
                <p class="text-center">
                  {{ data.index +1 }}
                </p>
              </template>
              <!-- Column: Tên quà tặng -->
              <template #cell(name)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.name }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Người thực hiện -->
              <template #cell(hoten)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.username }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số lượng -->
              <template #cell(so_luong)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.so_luong }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số tiền -->
              <template #cell(tong_tien)="data">
                <div>
                  {{ Number(data.item.tong_tien).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
                </div>
              </template>
              <!-- Column: Ngày thực hiện -->
              <template #cell(created)="data">
                <div class="text-left">
                  {{
                    moment(String(data.item.created)).format('DD/MM/YYYY HH:mm:ss')
                  }}
                </div>
              </template>
              <!-- A virtual trang_thai column -->
              <template #cell(trang_thai)="data">
                <div v-if="data.item.trang_thai === 'Chờ duyệt'">
                  <b-badge variant="light-warning">
                    Chờ duyệt
                  </b-badge>
                </div>
                <div v-else-if="data.item.trang_thai === 'Đã duyệt'">
                  <b-badge variant="light-success">
                    Đã duyệt
                  </b-badge>
                </div>
              </template>
              <!-- Column: Ghi chú -->
              <template #cell(ghi_chu)="data">
                <div>
                  {{ data.item.ghi_chu }}
                </div>
              </template>
              <!-- Column: actions -->
              <template #cell(actions)="data">
                <b-dropdown
                  variant="link"
                  no-caret
                  dropright
                  :right="$store.state.appConfig.isRTL"
                >

                  <template #button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="align-middle text-body"
                    />
                  </template>
                  <b-dropdown-item @click="xemChiTietDoiQua(data.item.id)">
                    <feather-icon icon="EyeIcon" />
                    <span class="align-middle ml-50">Xem chi tiết</span>
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="doiQuaConfirm(data.item.id)"
                  >
                    <feather-icon icon="CheckCircleIcon" />
                    <span class="align-middle ml-50">Xác nhận đổi quà</span>
                  </b-dropdown-item>
                </b-dropdown>
              </template>
            </b-table>
            <div class="mx-2 mb-2">
              <b-row>
                <b-col
                  cols="12"
                  sm="6"
                  class="d-flex align-items-center justify-content-center justify-content-sm-start"
                >
                  <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
                </b-col>
                <!-- Pagination -->
                <b-col
                  cols="12"
                  sm="6"
                  class="d-flex align-items-center justify-content-center justify-content-sm-end"
                >

                  <b-pagination
                    v-model="currentPageOne"
                    :total-rows="totalUsers"
                    :per-page="perPageOne"
                    first-number
                    last-number
                    class="mb-0 mt-1 mt-sm-0"
                    prev-class="prev-item"
                    next-class="next-item"
                  >
                    <template #prev-text>
                      <feather-icon
                        icon="ChevronLeftIcon"
                        size="18"
                      />
                    </template>
                    <template #next-text>
                      <feather-icon
                        icon="ChevronRightIcon"
                        size="18"
                      />
                    </template>
                  </b-pagination>

                </b-col>

              </b-row>
            </div>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BDropdown, BDropdownItem,
  BCardTitle, BBadge, BMedia,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import TimKiem from '@/views/giao-dich/yeu-cau-rut-tien/TimKiem.vue'
// eslint-disable-next-line import/no-cycle
import yeuCauRutTienStoreModule from '@/views/giao-dich/yeu-cau-rut-tien/yeuCauRutTienStoreModule'
import moment from 'moment/moment'
// eslint-disable-next-line import/extensions
import TimKiemRutTien from '@/views/giao-dich/yeu-cau-rut-tien/TimKiemRutTien'
// eslint-disable-next-line import/extensions
import XemChiTietRutTien from '@/views/giao-dich/yeu-cau-rut-tien/XemChiTietRutTien'
// eslint-disable-next-line import/extensions
import XemChiTietDoiQua from '@/views/giao-dich/yeu-cau-rut-tien/XemChiTietDoiQua'
// eslint-disable-next-line import/extensions
import XacNhanDoiQua from '@/views/giao-dich/yeu-cau-rut-tien/XacNhanDoiQua'
import useGiaoDichList from './useGiaoDichList'

export default {
  directives: {
    Ripple,
  },
  components: {
    XacNhanDoiQua,
    XemChiTietDoiQua,
    XemChiTietRutTien,
    TimKiemRutTien,
    BBadge,
    TimKiem,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BPagination,
    BDropdown,
    BDropdownItem,
    BMedia,
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-giao-dich'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, yeuCauRutTienStoreModule)
    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const isTimKiemSidebarActive = ref(false)
    const isTimKiemRutTienSidebarActive = ref(false)
    const isXemChiTietRutTienSidebarActive = ref(false)
    const isXemChiTietDoiQuaSidebarActive = ref(false)
    const isDoiQuaConfirmIsActive = ref(false)

    const {
      fieldsTimKiem,
      fieldsTimKiemTwo,
      thucHienTimKiem,
      thucHienTimKiemTwo,
      fetchUsers,
      fetchRutTien,
      deleteOrder,
      xacNhanRutTien,
      xacNhanDoiQua,
      tableColumns,
      tableSeacondColumns,
      perPageOne,
      perPageTwo,
      currentPageOne,
      currentPageTwo,
      totalUsers,
      totalUsersTwo,
      dataMeta,
      dataMetaTwo,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      refetchTwoData,
      refUserTwoListTable,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      tongTienData,
      tongTienDataTwo,

    } = useGiaoDichList()

    return {
      fieldsTimKiemTwo,
      fieldsTimKiem,
      thucHienTimKiem,
      thucHienTimKiemTwo,
      // Sidebar
      moment,
      isTimKiemSidebarActive,
      isTimKiemRutTienSidebarActive,
      isXemChiTietRutTienSidebarActive,
      isXemChiTietDoiQuaSidebarActive,
      isDoiQuaConfirmIsActive,
      fetchUsers,
      fetchRutTien,
      xacNhanRutTien,
      xacNhanDoiQua,
      deleteOrder,
      tableColumns,
      tableSeacondColumns,
      perPageOne,
      perPageTwo,
      currentPageOne,
      currentPageTwo,
      totalUsers,
      totalUsersTwo,
      dataMeta,
      dataMetaTwo,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      refetchTwoData,
      refUserTwoListTable,
      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      tongTienData,
      tongTienDataTwo,
    }
  },

  data() {
    return {
      selected: [],
      selectAll: false,
      tongTien: 0,
    }
  },
  mounted() {
    this.$root.$on('timKiemGiaoDich', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
    this.$root.$on('timKiemRutTien', data => {
      this.isTimKiemRutTienSidebarActive = false

      this.fieldsTimKiemTwo = data
      this.thucHienTimKiemTwo = true
      this.refetchTwoData()
    })
  },
  methods: {
    onRowSelected(items) {
      this.donHangDaChon = items
      this.tongTien = 0
      Object.keys(items).forEach(key => {
        if (items[key].trang_thai_giao_dich !== 'Chờ xác minh') {
          if (items[key].loai_giao_dich === 'Nạp tiền' || items[key].loai_giao_dich === 'Hoàn tiền đơn hàng') this.tongTien += Number(items[key].so_tien_giao_dich)
          else this.tongTien -= Number(items[key].so_tien_giao_dich)
        }
      })
    },
    selectAllRows() {
      this.$refs.refUserListTable.selectAllRows()
    },
    clearSelected() {
      this.$refs.refUserListTable.clearSelected()
    },
    selectAllRowsTwo() {
      this.$refs.refUserTwoListTable.selectAllRows()
    },
    clearSelectedTwo() {
      this.$refs.refUserTwoListTable.clearSelected()
    },
    timKiem() {
      this.isTimKiemSidebarActive = true
    },
    timKiemRutTien() {
      this.isTimKiemRutTienSidebarActive = true
    },
    xemChiTietRutTien(id) {
      this.isXemChiTietRutTienSidebarActive = true
      this.$root.$emit('xemChiTietRutTien', id)
    },
    xemChiTietDoiQua(id) {
      this.isXemChiTietDoiQuaSidebarActive = true
      this.$root.$emit('xemChiTietDoiQua', id)
    },
    rutTienConfirm(id) {
      this.$swal({
        title: 'Thông báo',
        text: 'Bạn có chắc chắn xác nhận rút tiền?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Đồng ý!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.xacNhanRutTien(id, () => {
            this.$refs.refUserTwoListTable.refresh()
          }, () => {
            this.$store.state.showBlock = true
          }, () => {
            this.$store.state.showBlock = false
          }, (message, type) => {
            this.showToast(type, 'Thông báo', 'BellIcon', message)
          })
        }
      }).catch(e => {
        this.showToast('danger', 'Thông báo', 'BellIcon', e.response.status)
      })
      this.$refs.refUserTwoListTable.refresh()
    },
    doiQuaConfirm(id) {
      this.isDoiQuaConfirmIsActive = true
      this.$root.$emit('xacNhanDoiQua', id)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
