<template>
  <b-sidebar
    id="add-new-user-sidebar"
    :visible="isAddNewUserSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thông tin danh mục
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- Tên danh mục -->
          <validation-provider
            #default="validationContext"
            name="Tên danh mục"
            rules="required"
          >
            <b-form-group
              label="Tên danh mục"
              label-for="ten-khu-vuc"
            >
              <b-form-input
                id="ten-khu-vuc"
                v-model="userData.name"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tên danh mục"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Nhóm -->
          <validation-provider
            #default="validationContext"
            name="Nhóm"
            rules="required"
          >
            <b-form-group
              label="Nhóm"
              label-for="type"
            >
              <v-select
                  v-model="userData.type"
                  :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="typesOptions"
                  :clearable="true"
                  input-id="type"
                  :state="getValidationState(validationContext)"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Tỉ lệ hoàn tiền -->
          <validation-provider
            #default="validationContext"
            name="Tỉ lệ hoàn tiền"
          >
            <b-form-group
              label="Tỉ lệ hoàn tiền"
              label-for="ti_le_hoan_tien"
            >
              <b-form-input
                  id="ti_le_hoan_tien"
                  v-model="userData.ti_le_hoan_tien"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
                  placeholder="Tỉ lệ hoàn tiền"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Loại hoàn tiền -->
          <validation-provider
              #default="validationContext"
              name="Loại hoàn tiền"
          >
            <b-form-group
                label="Loại hoàn tiền"
                label-for="type_hoan_tien"
            >
              <v-select
                  v-model="userData.type_hoan_tien"
                  :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="typeHoanTienOptions"
                  :clearable="true"
                  input-id="type"
                  :state="getValidationState(validationContext)"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Image -->
          <div v-if="userData.type.value == 'Thương hiệu' || userData.type.value == 'Dịch vụ'">
            <validation-provider
                #default="validationContext"
                name="Logo"
            >
              <b-form-group
                  label="Logo"
                  label-for="logo"
              >
                <b-form-input
                    id="logo"
                    v-model="userData.image"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                    placeholder="Logo"
                />

                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </div>
          <!-- Social Link -->
          <div v-if="userData.type.value == 'Fanpage Facebook' || userData.type.value == 'Zalo'">
            <validation-provider
                #default="validationContext"
                name="Fanpage Facebook/SĐT Zalo"
            >
              <b-form-group
                  label="Fanpage Facebook/SĐT Zalo"
                  label-for="facebook"
              >
                <b-form-input
                    id="facebook"
                    v-model="userData.link"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                    placeholder="Fanpage Facebook/SĐT Zalo"
                />

                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </div>
          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="CloudIcon"
                class="mr-50"
              />
              Lưu lại
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewUserSidebarActive',
    event: 'update:is-add-new-user-sidebar-active',
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      required,
      typesOptions: [
        { value: 'Category', label: 'Category' },
        { value: 'Mã giới thiệu', label: 'Mã giới thiệu' },
        { value: 'Offer Country', label: 'Offer Country' },
        { value: 'Offer type', label: 'Offer type' },
        { value: 'Offer Device', label: 'Offer Device' },
        { value: 'Thương hiệu', label: 'Thương hiệu' },
        { value: 'Dịch vụ', label: 'Dịch vụ' },
        { value: 'Fanpage Facebook', label: 'Fanpage Facebook' },
        { value: 'Zalo', label: 'Zalo' },
      ],
      typeHoanTienOptions: [
        { value: 'Phần trăm', label: 'Phần trăm' },
        { value: 'Tiền mặt', label: 'Tiền mặt' },
      ],
    }
  },
  mounted() {
    const currentUser = getUserData()

    this.$root.$on('updateKhach', id => {
      store.state.showBlock = true

      store
        .dispatch('app-khu-vuc/loadModel', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          danh_muc: id,
        })
        .then(response => {
          store.state.showBlock = false
          this.userData = response.data
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const loaiDanhMuc = [
      { label: 'Chi phí', value: 'Chi phí' },
      { label: 'Kho hàng', value: 'Kho hàng' },
    ]
    const blankUserData = {
      id: '',
      name: '',
      type: '',
      ti_le_hoan_tien: '',
      type_hoan_tien: '',
      active: 1,
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true

      const oldKhuVucData = userData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-khu-vuc/save', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      loaiDanhMuc,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {

  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
