<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Lịch sử giao dịch</b-card-title>
      </b-card-header>

      <b-table
        ref="refChienDichListTable"
        class="position-relative"
        empty-text="Không có dữ liệu"
        show-empty
        responsive="sm"
        stacked="md"
        :items="fetchChienDichs"
        :fields="tableColumns"
        :sort-by.sync="sortBy"
        primary-key="id"
        :sort-desc.sync="isSortDirDesc"
      >

        <!-- A virtual id column -->
        <template #cell(id)="data">
          <p class="text-center">
            {{ data.index + 1 }}
          </p>
        </template>

        <!-- A virtual image column -->
        <template #cell(image)="data">
          <b-link
            href="#"
            @click="getLink(data.item.id)"
          >
            <b-img
              :src="data.item.image"
              fluid
              alt="Responsive image"
              width="80"
            />
          </b-link>
        </template>

        <!-- A virtual ma_chien_dich column -->
        <template #cell(title)="data">
          <b-link
            href="#"
            @click="getLink(data.item.id)"
          >
            {{ data.item.title }}
          </b-link>
          <br>
        </template>

        <!-- A virtual so_tien_nhan_duoc column -->
        <template #cell(so_tien_nhan_duoc)="data">
          <div>
            <strong>Giá network: </strong><br>{{ Number(data.item.chi_phi_chien_dich).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
            <div v-if="isViewAllUser">
              <strong>Nhận được: </strong><br>{{ Number(data.item.so_tien_nhan_duoc).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
            </div>
          </div>
        </template>

        <!-- A virtual ngay_thuc_hien column -->
        <template #cell(ngay_thuc_hien)="data">
          <div class="text-center">
            {{ moment(String(data.item.ngay_thuc_hien)).format('DD/MM/YYYY HH:mm:ss') }}
          </div>
        </template>

        <!-- A virtual trang_thai_postback column -->
        <template #cell(trang_thai_postback)="data">
          <div v-if="data.item.trang_thai_postback == 'Hoạt động'">
            <p>
              <b-avatar
                size="32"
                variant="light-success"
              >
                <feather-icon
                  icon="CheckIcon"
                />
              </b-avatar>
              {{ data.item.trang_thai_postback }}
            </p>
          </div>
          <div v-else-if="data.item.trang_thai_postback == 'Không hoạt động'">
            <p>
              <b-avatar
                size="32"
                variant="light-danger"
              >
                <feather-icon
                  icon="XIcon"
                />
              </b-avatar>
              {{ data.item.trang_thai_postback }}
            </p>
          </div>
          <div v-else>
            <p>
              <b-avatar
                size="32"
                variant="light-warning"
              >
                <feather-icon
                  icon="FlagIcon"
                />
              </b-avatar>
              {{ data.item.trang_thai_postback }}
            </p>
          </div>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalChienDichs"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BImg,
  BCardTitle, BAvatar, BLink,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import moment from 'moment'
import userStoreModule from '../userStoreModule'
// eslint-disable-next-line import/no-cycle
import useCampainList from './useCampainList'

export default {
  directives: {
    Ripple,
  },
  components: {
    BLink,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BPagination,
    BImg,
    BAvatar,
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-user'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const {
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      isViewAllUser,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useCampainList()

    const statusOptions = [
      { label: 'Pending', value: 'pending' },
      { label: 'Active', value: 'active' },
      { label: 'Inactive', value: 'inactive' },
    ]

    return {
      // Sidebar
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      refetchData,
      isViewAllUser,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      statusOptions,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      moment,
    }
  },
  data() {
    return {
      selected: [],
      selectAll: false,
    }
  },
  mounted() {
  },
  methods: {
    refreshTable() {
      this.$refs.refChienDichListTable.refresh()
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
