<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <b-card
      no-body
      m-0
    >
      <b-card-header>
        <b-card-title>Thông tin cấu hình hệ thống</b-card-title>
      </b-card-header>
      <b-card-body>
        <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
        >
          <b-form
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
          >
            <b-row>
              <b-col
                cols="12"
                md="3"
              >
                <!-- ti_gia -->
                <validation-provider
                  #default="validationContext"
                  name="Tỉ giá"
                  rules="required"
                >
                  <b-form-group
                    label="Tỉ giá"
                    label-for="ti_gia"
                  >
                    <cleave
                      id="ti_gia"
                      v-model="FormCauHinhData.exchange"
                      class="form-control"
                      :raw="false"
                      :state="getValidationState(validationContext)"
                      :options="options.number"
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                cols="12"
                md="3"
              >
                <!-- ti_gia -->
                <validation-provider
                  #default="validationContext"
                  name="Tỷ lệ đặt cọc"
                  rules="required"
                >
                  <b-form-group
                    label="Tỷ lệ đặt cọc"
                    label-for="ty_le_dat_coc"
                  >
                    <cleave
                      id="ty_le_dat_coc"
                      v-model="FormCauHinhData.ty_le_dat_coc"
                      class="form-control"
                      :raw="false"
                      :state="getValidationState(validationContext)"
                      :options="options.number"
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!--              Email nhận mã giao dịch-->
              <b-col
                cols="12"
                md="6"
              >
                <!-- Email nhận thông tin -->
                <validation-provider
                  #default="validationContext"
                  name="Email nhận mã giao dịch"
                  rules="required"
                >
                  <b-form-group
                    label="Email nhận mã giao dịch"
                    label-for="mail_nhan_ma_giao_dich"
                  >
                    <b-form-input
                      id="mail_nhan_ma_giao_dich"
                      v-model="FormCauHinhData.mail_nhan_ma_giao_dich"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                cols="12"
                md="3"
              >
                <validation-provider
                  #default="validationContext"
                  name="Tiền tố mã khách hàng"
                  rules="required"
                >
                  <b-form-group
                    label="Tiền tố mã khách hàng"
                    label-for="tien_to_ma_khach_hang"
                  >
                    <b-form-input
                      id="ten_he_thong"
                      v-model="FormCauHinhData.ma_khach_hang"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                cols="12"
                md="3"
              >
                <validation-provider
                  #default="validationContext"
                  name="Tên hệ thống"
                  rules="required"
                >
                  <b-form-group
                    label="Tên hệ thống"
                    label-for="ten_he_thong"
                  >
                    <b-form-input
                      id="ten_he_thong"
                      v-model="FormCauHinhData.ten_he_thong"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                cols="12"
                md="3"
              >
                <!-- Tài khoản SMTP -->
                <validation-provider
                  #default="validationContext"
                  name="Tài khoản SMTP"
                  rules="required"
                >
                  <b-form-group
                    label="Tài khoản SMTP"
                    label-for="user_smtp"
                  >
                    <b-form-input
                      id="user_smtp"
                      v-model="FormCauHinhData.user_smtp"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!--              Email nhận mã giao dịch-->
              <b-col
                cols="12"
                md="3"
              >
                <!--                pass_smtp-->
                <validation-provider
                  #default="validationContext"
                  name="Mật khẩu SMTP"
                  rules="required"
                >
                  <b-form-group
                    label="Mật khẩu SMTP"
                    label-for="pass_smtp"
                  >
                    <b-form-input
                      id="pass_smtp"
                      v-model="FormCauHinhData.pass_smtp"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                  cols="12"
                  md="3"
              >
                <validation-provider
                    #default="validationContext"
                    name="Số tiền rút tối thiểu"
                    rules="required"
                >
                  <b-form-group
                      label="Số tiền rút tối thiểu"
                      label-for="so_tien_rut_toi_thieu"
                  >
                    <b-form-input
                        id="ten_he_thong"
                        v-model="FormCauHinhData.so_tien_rut_toi_thieu"
                        trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                  cols="12"
                  md="3"
              >
                <validation-provider
                    #default="validationContext"
                    name="Số giờ khiếu nại tối đa"
                    rules="required"
                >
                  <b-form-group
                      label="Số giờ khiếu nại tối đa"
                      label-for="so_gio_khieu_nai_toi_da"
                  >
                    <b-form-input
                        id="ten_he_thong"
                        v-model="FormCauHinhData.so_gio_khieu_nai_toi_da"
                        trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            </b-row>
            <!-- Email nhận thông tin -->
            <validation-provider
              name="Phí mua hàng"
              rules="required"
            >
              <b-form-group
                label="Phí mua hàng"
                label-for="tien_mua_hang"
              >
                <b-form-textarea
                  id="tien_mua_hang"
                  v-model="FormCauHinhData.tien_mua_hang"
                />
              </b-form-group>
            </validation-provider>
            <!-- Form Actions -->
            <div class="d-flex mt-2">
              <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="primary"
                type="submit"
              >
                <feather-icon
                  icon="CloudIcon"
                  class="mr-50"
                />
                Lưu lại
              </b-button>
            </div>
          </b-form>

        </validation-observer>
      </b-card-body>
    </b-card>

  </div>
</template>

<script>
import {
  BCard,
  BFormInput,
  BCardBody,
  BCardHeader,
  BCardTitle,
  BCol,
  BForm,
  BFormGroup,
  BFormInvalidFeedback,
  BRow,
  BButton,
  BFormTextarea,
} from 'bootstrap-vue'

import { ValidationObserver, ValidationProvider } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { onUnmounted, ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import store from '@/store'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import cauHinhStoreModule from '@/views/cau-hinh/cauHinhStoreModule'
import Cleave from 'vue-cleave-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { useToast } from 'vue-toastification/composition'

export default {
  directives: {
    Ripple,
  },
  components: {
    BFormTextarea,
    BButton,
    Cleave,
    BFormInput,
    BFormGroup,
    BCardBody,
    BFormInvalidFeedback,
    BForm,
    BRow,
    BCol,
    BCardTitle,
    BCardHeader,
    ValidationProvider,
    ValidationObserver,
    BCard,
  },
  data() {
    return {
      required,
      email,
      alphaNum,
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  methods: {

  },
  setup() {
    const blankFormCauHinhData = {
      exchange: '',
      ty_le_dat_coc: '',
      tien_mua_hang: '',
      noi_dung_xac_nhan_giao_dich: '',
      mail_nhan_ma_giao_dich: '',
      ten_he_thong: '',
      user_smtp: '',
      pass_smtp: '',
      ma_khach_hang: '',
      so_tien_rut_toi_thieu: '',
      so_gio_khieu_nai_toi_da: '',
    }
    const toast = useToast()

    const FormCauHinhData = ref(JSON.parse(JSON.stringify(blankFormCauHinhData)))

    const USER_APP_STORE_MODULE_NAME = 'app-cau-hinh'

    const resetuserData = () => {
      FormCauHinhData.value = JSON.parse(JSON.stringify(blankFormCauHinhData))
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const currentUser = getUserData()
    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, cauHinhStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })
    const onSubmit = () => {
      store.state.showBlock = true

      Object.assign(FormCauHinhData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-cau-hinh/save', FormCauHinhData.value)
        .then(response => {
          store.state.showBlock = false
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
        })
        .catch(e => {
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          store.state.showBlock = false
        })
    }

    store.state.showBlock = true
    store
      .dispatch('app-cau-hinh/fetchAllData', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      .then(response => {
        FormCauHinhData.value = response.data
        store.state.showBlock = false
      })
      .catch(() => {
        store.state.showBlock = false
      })

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      onSubmit,
      FormCauHinhData,
      resetuserData,
      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
@import '@core/scss/vue/libs/vue-select.scss';

</style>
