<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <b-card
            no-body
            class="m-0"
          >
            <b-card-header>
              <b-card-title>
                NETWORK
              </b-card-title>
            </b-card-header>
            <b-card-body>
              <validation-observer
                #default="{ handleSubmit }"
                ref="refFormObserver"
              >
                <b-form
                  ref="form-phan-quyen"
                  @submit.prevent="handleSubmit(onSubmit)"
                  @reset.prevent="resetForm"
                >
                  <b-row>
                    <b-col
                      md="3"
                      cols="12"
                    >
                      <!--Network-->
                      <validation-provider
                        #default="validationContext"
                        name="Network"
                      >
                        <b-form-group
                          label="Network"
                          label-for="network"
                        >
                          <v-select
                            v-model="chucNangSelected"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="optionsNetwork"
                            :clearable="false"
                            input-id="nhom-chuc-nang"
                            :state="getValidationState(validationContext)"
                            @input="changeNhomChucNang"
                          />
                          <b-form-invalid-feedback :state="getValidationState(validationContext)">
                            {{ validationContext.errors[0] }}
                          </b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </b-col>
                  </b-row>

                  <table class="table-bordered table">
                    <thead>
                    <tr>
                      <th
                          v-for="item in thead"
                          :key="item.key"
                          class="text-center text-nowrap"
                          :width="item.width"
                      >
                        {{ item.label }}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        v-for="item in items"
                        :key="item.id"
                    >
                      <td class="text-nowrap">{{ item.title }}</td>
                      <td>{{ item.track_link }}</td>
                      <td v-if="item.active === 1" class="text-success">Hoạt động</td>
                      <td v-else  class="text-danger">Đã xóa</td>
                    </tr>
                    </tbody>
                  </table>
                </b-form>
              </validation-observer>
            </b-card-body>
          </b-card>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>

</template>

<script>

import {
  BCard,
  BCardBody,
  BCardHeader,
  BCardTitle,
  BCol,
  BForm,
  BFormGroup,
  BRow,
  BFormInvalidFeedback,
} from 'bootstrap-vue'
import store from '@/store'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { onUnmounted, ref } from '@vue/composition-api'
import yNghiaCacConSoStoreModule from '@/views/network/yNghiaCacConSoStoreModule'
import { getUserData } from '@/auth/utils'
import vSelect from 'vue-select'
import useChienDichList from './useChienDichList'

export default {
  components: {
    BCard,
    BCardBody,
    BCardHeader,
    BCardTitle,
    BCol,
    BForm,
    BFormGroup,
    BRow,
    BFormInvalidFeedback,
    vSelect,
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      thead: [],
      chucNangSelected: { key: 'Chọn', label: '-- Chọn --' },
      boxChecked: {
        matrix: [],
      },
      items: [],
      phanQuyenSelected: [],
    }
  },
  methods: {
    changeNhomChucNang() {
      const currentUser = getUserData()
      store.state.showBlock = true
      store
        .dispatch('app-network/fetchData', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          nhom_network: this.chucNangSelected,
        })
        .then(response => {
          this.thead = response.data.fields
          this.items = response.data.chienDich
          store.state.showBlock = false
        })
        .catch(() => {
          store.state.showBlock = false
        })
    },
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-network'
    const {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useChienDichList()
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, yNghiaCacConSoStoreModule)
    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const optionsNetwork = ref([])
    const currentUser = getUserData()

    const resetuserData = () => {
    }

    store.state.showBlock = true
    store
      .dispatch('app-network/getNetwork', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      .then(response => {
        optionsNetwork.value = response.data.optionsNetwork
        store.state.showBlock = false
      })
      .catch(() => {
        store.state.showBlock = false
      })

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      optionsNetwork,
      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style scoped>

</style>
