<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Thêm chiến dịch</b-card-title>
      </b-card-header>
      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <b-row>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Iamge -->
              <validation-provider
                #default="validationContext"
                name="Image"
              >
                <b-form-group>
                  <label for="anh_chien_dich">Ảnh chiến dịch (<span class="text-danger">*</span>)</label>
                  <b-form-file
                      id="anh_chien_dich"
                      v-model="FormTaiKhoanChuyenTien.image"
                      placeholder="Chọn file(s)..."
                      drop-placeholder="Chọn file(s).."
                      accept="image/jpeg, image/png, image/gif"
                      :state="getValidationState(validationContext)"
                      @change="selectedFile($event)"
                  >
                  </b-form-file>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md="4"
            >
              <!-- Tên chiến dịch -->
              <validation-provider
                  #default="validationContext"
                  name="Tên chiến dịch"
                  rules="required"
              >
                <b-form-group>
                    <label for="title">Tên chiến dịch (<span class="text-danger">*</span>)</label>
                  <b-form-input
                      id="title"
                      v-model="userData.title"
                      placeholder="Tên chiến dịch"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md = "4"
            >
              <!-- Mã chiến dịch -->
              <validation-provider
                  #default="validationContext"
                  name="Mã chiến dịch"
              >
                <b-form-group>
                  <label for="ma_chien_dich">Mã chiến dịch</label>
                  <b-form-input
                      id="ma_chien_dich"
                      v-model="userData.ma_chien_dich"
                      placeholder="Mã chiến dịch"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col
                cols="12"
                md="12"
            >
              <validation-provider
                  #default="validationContext"
                  name="Link ảnh"
              >
                <b-form-group>
                  <label for="link_anh">Link ảnh</label>

                  <b-form-input
                      id="link_anh"
                      v-model="userData.image"
                      placeholder="Link ảnh"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md="12"
            >
              <validation-provider
                  #default="validationContext"
                  name="Track Link"
                  rules="required"
              >
                <b-form-group>
                  <label for="track_link">Track Link (<span class="text-danger">*</span>)</label>

                  <b-form-input
                      id="track_link"
                      v-model="userData.track_link"
                      placeholder="Track Link"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col
                cols="12"
                md="4"
            >
              <!-- UTM Source -->
              <validation-provider
                  #default="validationContext"
                  name="UTM Source"
              >
                <b-form-group>
                  <label for="utm_source">UTM Source</label>
                  <b-form-input
                      id="utm_source"
                      v-model="userData.utm_source"
                      placeholder="UTM Source"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Loại hoa hồng -->
              <validation-provider
                  #default="validationContext"
                  name="Loại hoa hồng"
              >
                <b-form-group>
                  <label for="type_hoa_hong">Loại hoa hồng (<span class="text-danger">*</span>)</label>

                  <v-select
                      v-model="userData.type_hoa_hong"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="typeHoaHong"
                      :clearable="true"
                      input-id="type_hoa_hong"
                      placeholder="Loại hoa hồng"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>

            </b-col>

            <b-col
                cols="12"
                md="4"
            >
              <!-- Loại chiến dịch -->
              <validation-provider
                  #default="validationContext"
                  name="Loại chiến dịch"
              >
                <b-form-group>
                  <label for="type">Loại chiến dịch (<span class="text-danger">*</span>)</label>

                  <v-select
                      v-model="userData.danh_muc_id"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="typeDataOptions"
                      :clearable="true"
                      input-id="type"
                      placeholder="Loại chiến dịch"
                      multiple
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Category -->
              <validation-provider
                  #default="validationContext"
                  name="Category"
              >
                <b-form-group
                    label="Category"
                    label-for="category"
                >
                  <v-select
                      v-model="userData.category_id"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="categoryData"
                      :clearable="true"
                      input-id="category"
                      placeholder="Category"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col
              cols="12"
              md="4"
            >
              <!-- Thiết bị -->
              <validation-provider
                  #default="validationContext"
                  name="Loại thiết bị"
              >
                <b-form-group
                    label="Loại thiết bị"
                    label-for="device"
                >
                  <v-select
                      v-model="userData.device_id"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="deviceData"
                      :clearable="true"
                      input-id="device"
                      placeholder="Loại thiết bị"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Network -->
              <validation-provider
                  #default="validationContext"
                  name="Network"
              >
                <b-form-group
                    label="Network"
                    label-for="network"
                >
                  <v-select
                      v-model="userData.network_id"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="arrayData"
                      :clearable="true"
                      input-id="network"
                      placeholder="Network"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md="4"
            >

                <!-- Chi phí chiến dịch -->
                <validation-provider
                    #default="validationContext"
                    name="Chi phí chiến dịch"
                    rules="required"
                >
                  <b-form-group>
                    <label for="chi_phi_chien_dich">Chi phí chiến dịch (<span class="text-danger">*</span>)</label>

                    <b-form-input
                        id="chi_phi_chien_dich"
                        v-model="userData.chi_phi_chien_dich"
                        :state="getValidationState(validationContext)"
                        :options="options.number"
                        placeholder="Chi phí chiến dịch"
                        trim>
                    </b-form-input>
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                  cols="12"
                  md="4"
              >
                <!-- Hoa hồng -->
                <validation-provider
                    #default="validationContext"
                    name="Hoa hồng"
                    rules="required"
                >
                  <b-form-group>
                    <label for="hoa_hong_tu_net">Hoa hồng (<span class="text-danger">*</span>)</label>

                    <b-form-input
                        id="hoa_hong_tu_net"
                        v-model="userData.hoa_hong_tu_net"
                        :state="getValidationState(validationContext)"
                        placeholder="Hoa hồng"
                        trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <b-col
                  cols="12"
                  md="4"
              >
                <!-- Capped -->
                <validation-provider
                    #default="validationContext"
                    name="Capped"
                >
                  <b-form-group
                      label="Capped"
                      label-for="capped"
                  >
                    <b-form-input
                        id="capped"
                        v-model="userData.Capped"
                        :state="getValidationState(validationContext)"
                        placeholder="Capped"
                        trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            <b-col
                  cols="12"
                  md="6"
              >
                <!-- Mô tả -->
                <validation-provider
                    #default="validationContext"
                    name="Mô tả"
                    rules="required"
                >
                  <b-form-group>
                    <label for="preview_offer">Mô tả (<span class="text-danger">*</span>)</label>

                    <b-form-textarea
                        id="preview_offer"
                        v-model="userData.preview_offer"
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                  cols="12"
                  md="6"
              >
                <!-- Điều kiện chuyển đổi -->
                <validation-provider
                    #default="validationContext"
                    name="Điều kiện chuyển đổi"
                    rules="required"
                >
                  <b-form-group>
                    <label for="conversion_requirements">Điều kiện chuyển đổi (<span class="text-danger">*</span>)</label>

                    <b-form-textarea
                        id="conversion_requirements"
                        v-model="userData.conversion_requirements"
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            <b-col
                cols="12"
                md="12"
            >
              <validation-provider
                  #default="validationContext"
                  name="Link video"
              >
                <b-form-group>
                  <label for="track_link">Link Youtube/ảnh hướng dẫn</label>

                  <b-form-input
                      id="link_video"
                      v-model="userData.link_video"
                      placeholder="Link Youtube/Link ảnh hướng dẫn"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="primary"
                class="mr-2"
                type="submit"
            >
              <feather-icon
                  icon="CloudIcon"
                  class="mr-50"
              />
              Lưu lại
            </b-button>
            <b-button
                v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                type="button"
                variant="outline-secondary"
                @click="redirectToLink('/kiem-tien')"
            >
              Hủy
            </b-button>
          </div>
        </b-form>
      </validation-observer>
    </b-card>

  </div>
</template>

<script>

import {
  BRow, BCol, BForm, BFormGroup, BFormInvalidFeedback, BFormInput,
  BCard, BCardTitle, BCardHeader, BFormFile, BFormTextarea, BButton,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref, onUnmounted } from '@vue/composition-api'
import store from '@/store'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { required } from '@validations'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
// eslint-disable-next-line import/no-cycle
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
// eslint-disable-next-line import/extensions
import config from '@/config.json'
import postBackViewStoreModule from '@/views/kiem-tien/view/postBackViewStoreModule'
// eslint-disable-next-line import/no-cycle
import useChienDichList from '@/views/kiem-tien/view/useChienDichList'
import vSelect from 'vue-select'

export default {
  components: {
    // eslint-disable-next-line global-require
    vSelect,
    ValidationProvider,
    ValidationObserver,
    BCardTitle,
    BCardHeader,
    BFormInput,
    BCard,
    BRow,
    BForm,
    BFormGroup,
    BFormInvalidFeedback,
    BCol,
    BFormFile,
    BFormTextarea,
    BButton,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      link_video: '',
      required,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
      arrayData: [],
      categoryData: [],
      deviceData: [],
      typeDataOptions: [
        { value: '73', label: 'Kiếm tiền' },
        { value: '92', label: 'Vay tiền mùa dịch' },
        { value: '93', label: 'Dịch vụ tài chính' },
        { value: '88', label: 'Shopee' },
        { value: '89', label: 'Lazada' },
        { value: '90', label: 'Sendo' },
        { value: '91', label: 'Tiki' },
      ],
      dichVuData: [],
      typeHoaHong: [
        { value: 'Tiền mặt', label: 'Tiền mặt' },
        { value: 'Phần trăm', label: 'Phần trăm' },
      ],
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  mounted() {
    const currentUser = getUserData()
    store.state.showBlock = true
    store
      .dispatch('app-chien-dich/load', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      .then(response => {
        this.arrayData = response.data.network
        this.categoryData = response.data.category
        this.deviceData = response.data.device
        this.typeData = response.data.type
        this.dichVuData = response.data.dichVu
        store.state.showBlock = false
      })
      .catch(e => {
        store.state.showBlock = false
        this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
      })
  },
  methods: {
    getUrl(img) {
      return `${config.apiUrl.mainUrl}images/${img}`
    },
    redirectToLink(link) {
      window.location.href = link
    },
  },
  setup() {
    const blankuserData = {
      ma_chien_dich: '',
      title: '',
      network_id: '',
      type_id: '',
      device_id: '',
      track_link: '',
      preview_offer: '',
      image: '',
      anhChienDich: [],
      hoa_hong_tu_net: '',
      type_hoa_hong: '',
      Capped: '',
      conversion_requirements: '',
      chi_phi_chien_dich: '',
      utm_source: '',
      danh_muc_id: '',
    }
    const blankFormTaiKhoanChuyenTien = {
      image: null,
      anh_giao_dich: [],
      id: '',
      user_id: '',
    }

    const userData = ref(JSON.parse(JSON.stringify(blankuserData)))

    const FormTaiKhoanChuyenTien = ref(JSON.parse(JSON.stringify(blankFormTaiKhoanChuyenTien)))

    const USER_APP_STORE_MODULE_NAME = 'app-chien-dich'

    const tinhThanhTien = () => {
      Number(userData.value.chi_phi_chien_dich.replaceAll(',', ''))
    }
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankuserData))
    }
    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, postBackViewStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const currentUser = getUserData()
    const toast = useToast()
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const createImage = file => {
      const reader = new FileReader()
      reader.onload = e => {
        userData.value.anhChienDich.push(e.target.result)
      }
      reader.readAsDataURL(file)
    }
    const selectedFile = event => {
      const files = event.target.files || event.dataTransfer.files
      if (files.length > 0) {
        files.forEach(item => {
          createImage(item)
        })
      }
    }
    const onSubmit = () => {
      store.state.showBlock = true

      Object.assign(userData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
        id: '',
      })
      store.dispatch('app-chien-dich/fetchData', userData.value)
        .then(response => {
          window.location.href = 'https://app.vietlixi.com/kiem-tien'
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          store.state.showBlock = false
          this.userData.anhChienDich = []
          // this.file = response.data.anhChienDich
        })
        .catch(e => {
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          store.state.showBlock = false
        })
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    const {
      load,
      tableColumns,
      sortBy,
      isSortDirDesc,
      chienDichData,
    } = useChienDichList()
    //
    // store.state.showBlock = true
    //
    // store.dispatch('app-chien-dich/load', {
    //   id: router.currentRoute.params.id,
    //   auth: currentUser.auth_key,
    //   uid: currentUser.id,
    //   utm_source: router.currentRoute.params.utm_source,
    // })
    //   .then(response => {
    //     userData.value = response.data.chienDich
    //     userData.lich_su = response.data.lichSuTrangThai
    //     store.state.showBlock = false
    //   })
    //   .catch(error => {
    //     if (error.response.status === 404) {
    //       resetuserData()
    //     }
    //     this.showToast('danger', 'Thông báo', 'BellIcon', error)
    //     store.state.showBlock = false
    //   })

    return {
      onSubmit,
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      load,
      tableColumns,
      isSortDirDesc,
      sortBy,
      chienDichData,
      FormTaiKhoanChuyenTien,
      selectedFile,
      tinhThanhTien,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
