<template>
  <div>
    <b-card>
      <b-row>

        <!-- User Info: Left col -->
        <b-col
          cols="21"
          xl="6"
          class="d-flex justify-content-between flex-column"
        >
          <!-- User Avatar & Action Buttons -->
          <div class="d-flex justify-content-start">
            <b-avatar
              :src="userData.postBack.image"
              variant="light-primary"
              size="104px"
              rounded
            />
            <div class="d-flex flex-column ml-1">
              <div class="mb-1">
                <h4 class="mb-1">
                  <b-badge
                    variant="info"
                    class="badge-glow"
                  >
                    {{ userData.postBack.note_status }}
                  </b-badge>
                </h4>
                <h4>
                  {{ userData.postBack.title }}
                </h4>
              </div>
            </div>
          </div>

          <!-- User Stats -->
          <div class="d-flex align-items-center mt-2">
            <div class="d-flex align-items-center">
              <b-avatar
                variant="light-info"
                rounded
              >
                <feather-icon
                  icon="Share2Icon"
                  size="18"
                />
              </b-avatar>
              <div class="ml-1">
                <h5 class="mb-0">
                  {{ userData.postBack.so_tien_nhan_duoc }}
                </h5>
                <small>Reward</small>
              </div>
            </div>
          </div>
        </b-col>

        <!-- Right Col: Table -->
        <b-col
          cols="12"
          xl="6"
        >
          <table class="mt-2 mt-xl-0 w-100">
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="UserIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">Người thực hiện</span>
              </th>
              <td class="pb-50">
                {{ userData.postBack.nguoi_thuc_hien }}
              </td>
            </tr>
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="StarIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">UTM MEDIUM</span>
              </th>
              <td class="pb-50 text-capitalize">
                {{ userData.postBack.utm_medium }}
              </td>
            </tr>
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="StarIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">UTM SOURCE</span>
              </th>
              <td class="pb-50 text-capitalize">
                {{ userData.postBack.utm_source }}
              </td>
            </tr>
            <tr>
              <th class="pb-50">
                <feather-icon
                  icon="StarIcon"
                  class="mr-75"
                />
                <span class="font-weight-bold">Ngày thực hiện</span>
              </th>
              <td class="pb-50 text-capitalize">
                {{ userData.postBack.ngay_thuc_hien }}
              </td>
            </tr>
          </table>
        </b-col>
      </b-row>
    </b-card>

    <b-tabs>
      <b-tab
        title="Trạng thái"
        active
      >
        <b-card no-body>
          <b-card-body>
            <b-card-title>Lịch sử trạng thái</b-card-title>
            <b-table
              ref="refDaiLyListTable"
              class="position-relative"
              :items="userData.lichSuTrangThai"
              responsive
              :fields="tableColumnsTrangThai"
              primary-key="id"
              show-empty
              empty-text="Không có dữ liệu"
            />
          </b-card-body>
        </b-card>
      </b-tab>
      <b-tab
        title="Giao dịch"
      >
        <b-card no-body>
          <b-card-body>
            <b-card-title>Lịch sử giao dịch</b-card-title>
            <b-table
              ref="refDaiLyListTable"
              class="position-relative"
              :items="userData.lichSuGiaoDich"
              responsive
              :fields="tableColumnsGiaoDich"
              primary-key="id"
              show-empty
              empty-text="Không có dữ liệu giao dịch"
            />
          </b-card-body>
        </b-card>
      </b-tab>
    </b-tabs>

  </div>
</template>

<script>
import {
  BCard, BAvatar, BRow, BCol, BBadge, BCardBody, BCardTitle,
  BTable, BTabs, BTab,
} from 'bootstrap-vue'
import { avatarText } from '@core/utils/filter'

export default {
  components: {
    BTab,
    BTabs,
    BCardBody,
    BCardTitle,
    BCard,
    BRow,
    BCol,
    BAvatar,
    BBadge,
    BTable,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      tableColumnsTrangThai: [
        { key: 'status', label: 'Status' },
        { key: 'reward', label: 'Reward' },
        { key: 'created', label: 'Thời gian' },
        { key: 'note_status', label: 'Note Status' },
      ],

      tableColumnsGiaoDich: [
        { key: 'type', label: 'Phân loại' },
        { key: 'created', label: 'Ngày giao dịch' },
        { key: 'cost', label: 'Số tiền' },
      ],
    }
  },
  setup() {
    const viewSoLuotXem = item => {
      if (item.loai_giao_dich === 'Mua bài') {
        return {
          class: 'success',
          soLuotXem: `+ ${item.so_luot_xem}`,
        }
      }
      return {
        class: 'danger',
        soLuotXem: `- ${item.so_luot_xem}`,
      }
    }
    return {
      viewSoLuotXem,
      avatarText,
    }
  },
}
</script>

<style>

</style>
