  <template>
  <div>
    <b-card>
      <b-row>

        <!-- User Info: Left col -->
        <b-col
          cols="12"
          xl="1"
          class="d-flex justify-content-between flex-column"
        >
          <!-- User Avatar & Action Buttons -->
          <div class="d-flex justify-content-start">
            <img :src=userData.chienDich.image style="width: 130px; padding-right: 4px;">
          </div>
        </b-col>

        <!-- Right Col: Table -->
        <b-col
          cols="12"
          xl="5"
          style="padding-left: 55px;"
        >
          <div>
            <h3 class="mb-0" style="color: #7367f0">{{ userData.chienDich.title }}</h3>
          </div>
          <div>
            <p class="mb-0"><strong>UTM Source: </strong>{{ userData.chienDich.utm_source }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Người thực hiện: </strong>{{ userData.chienDich.hoten }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Trạng thái giao dịch: </strong> {{ userData.chienDich.note_status }}</p>
          </div>
          <div v-if="!userData.chienDich.update">
            <p class="mb-0"><strong>Ngày thực hiện: </strong> {{ userData.chienDich.created }}</p>
          </div>
          <div v-if="userData.chienDich.updated !== null">
            <p class="mb-0"><strong>Ngày thực hiện: </strong> {{ userData.chienDich.updated }}</p>
          </div>
        </b-col>
        <b-col
            cols="12"
            xl="5"
        >
          <div>
            <p class="mb-0"><strong>Phần thưởng: </strong>{{  Number(userData.chienDich.reward).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Chi phí chiến dịch: </strong>{{ Number(userData.chienDich.chi_phi_chien_dich).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Lợi nhuận: </strong>{{ Number(userData.chienDich.loi_nhuan).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Số tiền nhận được: </strong>{{ Number(userData.chienDich.so_tien_nhan_duoc).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</p>
          </div>
          <div>
            <p class="mb-0"><strong>Ngày tạo chiến dịch: </strong> {{ userData.chienDich.ngay_thuc_hien }}</p>
          </div>
        </b-col>
      </b-row>
    </b-card>

<!--    <b-tabs>-->

<!--&lt;!&ndash;      <b-tab&ndash;&gt;-->
<!--&lt;!&ndash;        title="Cây hệ thống"&ndash;&gt;-->
<!--&lt;!&ndash;        active&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        <b-card no-body>&ndash;&gt;-->
<!--&lt;!&ndash;          <b-card-body style="overflow: scroll">&ndash;&gt;-->
<!--&lt;!&ndash;            <vue2-org-tree&ndash;&gt;-->
<!--&lt;!&ndash;              :data="userData.chienDich.tree"&ndash;&gt;-->
<!--&lt;!&ndash;              :horizontal="layoutType==='horizontal'"&ndash;&gt;-->
<!--&lt;!&ndash;              :collapsable="collapsable"&ndash;&gt;-->
<!--&lt;!&ndash;              @on-node-click="onNodeClick"&ndash;&gt;-->
<!--&lt;!&ndash;            />&ndash;&gt;-->
<!--&lt;!&ndash;          </b-card-body>&ndash;&gt;-->
<!--&lt;!&ndash;        </b-card>&ndash;&gt;-->
<!--&lt;!&ndash;      </b-tab>&ndash;&gt;-->

<!--&lt;!&ndash;      <b-tab&ndash;&gt;-->
<!--&lt;!&ndash;        title="Danh sách khách hàng"&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        <b-card no-body>&ndash;&gt;-->
<!--&lt;!&ndash;          <b-card-body>&ndash;&gt;-->
<!--&lt;!&ndash;            <b-card-title>Danh sách khách hàng</b-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;            <b-table&ndash;&gt;-->
<!--&lt;!&ndash;              ref="refDaiLyListTable"&ndash;&gt;-->
<!--&lt;!&ndash;              class="position-relative"&ndash;&gt;-->
<!--&lt;!&ndash;              :items="userData.chienDich.created"&ndash;&gt;-->
<!--&lt;!&ndash;              responsive&ndash;&gt;-->
<!--&lt;!&ndash;              :fields="tableColumnsKhachHang"&ndash;&gt;-->
<!--&lt;!&ndash;              primary-key="id"&ndash;&gt;-->
<!--&lt;!&ndash;              show-empty&ndash;&gt;-->
<!--&lt;!&ndash;              empty-text=""&ndash;&gt;-->
<!--&lt;!&ndash;            />&ndash;&gt;-->
<!--&lt;!&ndash;          </b-card-body>&ndash;&gt;-->
<!--&lt;!&ndash;        </b-card>&ndash;&gt;-->

<!--&lt;!&ndash;      </b-tab>&ndash;&gt;-->

<!--      <b-tab-->
<!--        title="Lịch sử giao dịch"-->
<!--      >-->
        <b-card no-body>
          <b-card-body>
            <b-card-title>Lịch sử giao dịch</b-card-title>
            <b-table
              ref="refDaiLyListTable"
              class="position-relative"
              :items="userData.lichSuTrangThai"
              responsive
              :fields="tableColumnsGiaoDich"
              primary-key="id"
              show-empty
              empty-text=""
              style="color: #7367f0"
            >
            </b-table>
          </b-card-body>
        </b-card>
<!--      </b-tab>-->
<!--    </b-tabs>-->

  </div>
</template>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue2-org-tree/dist/index.js"></script>

<script>
import {
  BCard, BAvatar, BRow, BCol, BBadge, BCardBody, BCardTitle,
  BTable, BTabs, BTab, BLink
} from 'bootstrap-vue'
import Vue2OrgTree from 'vue2-org-tree'

import { avatarText } from '@core/utils/filter'
import { getUserData } from "@/auth/utils";

export default {
  components: {
    BLink,
    Vue2OrgTree,
    BTab,
    BTabs,
    BCardBody,
    BCardTitle,
    BCard,
    BRow,
    BCol,
    BAvatar,
    BBadge,
    BTable,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      treeData: null,
      expandAll: true,
      layoutType: 'horizontal',
      collapsable: true,
      image: '',
      ngay_thuc_hien: '',
      // 'id', 'username', 'email', 'hoten', 'dien_thoai', 'ma_dai_ly'
      tableColumnsDaiLy: [
        { key: 'ma_dai_ly', label: 'Mã đại lý' },
        { key: 'hoten', label: 'Họ tên' },
        { key: 'dien_thoai', label: 'Điện thoại' },
        { key: 'email', label: 'Email' },

        {
          key: 'so_luong_khach', sortable: true, label: 'Số bài', thStyle: { width: '10%' },
        },
        {
          key: 'so_luong_dai_ly', sortable: true, label: 'Đ/Lý', thStyle: { width: '10%' },
        },
        {
          key: 'so_lan_xem_con_lai', sortable: true, label: 'Còn lại', thStyle: { width: '10%' },
        },
      ],

      tableColumnsKhachHang: [
        { key: 'hoten', label: 'Họ tên' },
        { key: 'dien_thoai', label: 'Điện thoại' },
        { key: 'ngay_sinh', label: 'Ngày sinh' },
      ],

      tableColumnsGiaoDich: [
        { key: 'note_status', label: 'Trạng thái' },
        { key: 'ngay_thuc_hien', label: 'Ngày thực hiện' },
      ],
    }
  },
  methods: {
    renderContent(h, data) {
      return (
          <div class="flex flex-col space-y-2 justify-start" style="width: 275px">
          <span
              class="text-sm self-end rounded-tr-md rounded-bl-md bg-gray-300 p-2 text-white font-bold"
              style="margin-top: -10px; margin-right: -15px"
          >
            35%
          </span>
            <span class="text-left text-md font-bold whitespace-pre-wrap">
            {data.label}
          </span>
            <div class="inline-flex w-full space-x-5 items-center">
            <span class="text-sm font-bold text-white p-3 bg-gray-300 rounded-lg w-auto">
              Company
            </span>
              <div class="inline-flex w-full">
                <div class="text-sm p-5 bg-gray-200 rounded-full w-auto"></div>
                <span class="text-sm text-gray-500 p-2 w-auto">
                Person +2 Others
              </span>
              </div>
            </div>
          </div>
      )
    },
    onExpand(e, data) {
      if ('expand' in data) {
        // eslint-disable-next-line no-param-reassign
        data.expand = !data.expand

        if (!data.expand && data.children) {
          this.collapse(data.children)
        }
      } else {
        this.$set(data, 'expand', true)
      }
    },
    isCurrentUserLogin(uid){
      const user = getUserData()
      return user.id === uid
    },
    onNodeClick(e, data) {
      this.$router.push({
        path: '/xem-chi-tiet-dai-ly/'+data.id,
        // params: {
        //   id: data.id,
        // }
      });
      this.$router.go();
      // console.log('onNodeClick: %o', data)
      // this.$set(data, 'selectedKey', !data.selectedKey)
    },
    collapse(list) {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this
      list.forEach(child => {
        if (child.expand) {
          // eslint-disable-next-line no-param-reassign
          child.expand = false
        }

        // eslint-disable-next-line no-unused-expressions
        child.children && _this.collapse(child.children)
      })
    },
    expandChange() {
      this.toggleExpand(this.data, this.expandAll)
    },
    toggleExpand(data, val) {
      // eslint-disable-next-line no-underscore-dangle
      const _this = this
      if (Array.isArray(data)) {
        data.forEach(item => {
          _this.$set(item, 'expand', val)
          if (item.children) {
            _this.toggleExpand(item.children, val)
          }
        })
      } else {
        this.$set(data, 'expand', val)
        if (data.children) {
          _this.toggleExpand(data.children, val)
        }
      }
    },
  },
  setup() {
    return {
      avatarText,
    }
  },
}
</script>
<style lang="css">
/*@import '@core/scss/tree/style.css';*/
</style>
