<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <b-card
      no-body
      m-0
    >
      <b-card-header>
        <b-card-title>Thống kê đơn hàng</b-card-title>
      </b-card-header>
      <b-card-body>
        <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
        >
          <b-form
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
          >
            <b-row>
              <b-col
                cols="12"
                md="11"
              >
                <b-row>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <!-- Nhóm -->
                    <validation-provider
                      #default="validationContext"
                      name="Nhóm"
                      rules="required"
                    >
                      <b-form-group
                        label="Nhóm"
                        label-for="loai-thong-ke"
                      >
                        <v-select
                          v-model="FormThongKeDaiLyData.loai_thong_ke"
                          :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="loaiThongKe"
                          :clearable="false"
                          input-id="loai-thong-ke"
                          :state="getValidationState(validationContext)"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="5"
                    :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? '' : 'hidden'"
                  >
                    <b-row>
                      <b-col
                        cols="12"
                        md="6"
                      >
                        <validation-provider
                          #default="validationContext"
                          name="Từ ngày"
                        >
                          <b-form-group
                            label="Từ ngày"
                            label-for="tu-ngay"
                          >
                            <flat-pickr
                              id="tu-ngay"
                              v-model="FormThongKeDaiLyData.tu_ngay"
                              class="form-control"
                              :config="configDate"
                              placeholder="Chọn ngày"
                              :state="getValidationState(validationContext)"
                              trim
                            />
                            <b-form-invalid-feedback>
                              {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </validation-provider>
                      </b-col>
                      <b-col
                        cols="12"
                        md="6"
                      >
                        <validation-provider
                          #default="validationContext"
                          name="Đến ngày"
                        >
                          <b-form-group
                            label="Đến ngày"
                            label-for="den-ngay"
                          >
                            <flat-pickr
                              id="den-ngay"
                              v-model="FormThongKeDaiLyData.den_ngay"
                              class="form-control"
                              :config="configDate"
                              placeholder="Chọn ngày"
                              :state="getValidationState(validationContext)"
                              trim
                            />
                            <b-form-invalid-feedback>
                              {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </validation-provider>
                      </b-col>
                    </b-row>
                  </b-col>
                  <b-col
                    cols="12"
                    md="1"
                    :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? '' : 'hidden'"
                  >
                    <div class="mt-2">
                      <b-button
                        v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                        variant="success"
                        class="btn-icon rounded-circle"
                        type="submit"
                      >
                        <feather-icon icon="SearchIcon" />
                      </b-button>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <b-row>
              <b-col
                cols="12"
                md="11"
                :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? 'hidden' : ''"
              >
                <b-row>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Từ tháng"
                    >
                      <b-form-group
                        label="Từ tháng"
                        label-for="tu-thang"
                      >
                        <v-select
                          v-model="FormThongKeDaiLyData.tu_thang"
                          :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="thang"
                          :clearable="true"
                          input-id="tu-thang"
                          :state="getValidationState(validationContext)"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Từ năm"
                    >
                      <b-form-group
                        label="Từ năm"
                        label-for="tu-nam"
                      >
                        <b-form-input
                          id="tu-nam"
                          v-model="FormThongKeDaiLyData.tu_nam"
                          type="number"
                          placeholder="2021"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Đến tháng"
                    >
                      <b-form-group
                        label="Đến tháng"
                        label-for="den-thang"
                      >
                        <v-select
                          v-model="FormThongKeDaiLyData.den_thang"
                          :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="thang"
                          :clearable="true"
                          input-id="den-thang"
                          :state="getValidationState(validationContext)"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="đến năm"
                    >
                      <b-form-group
                        label="Đến năm"
                        label-for="den-nam"
                      >
                        <b-form-input
                          id="den-nam"
                          v-model="FormThongKeDaiLyData.den_nam"
                          type="number"
                          placeholder="2021"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                </b-row>
              </b-col>

              <b-col
                cols="12"
                md="1"
                :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? 'hidden' : ''"
              >
                <div class="mt-2">
                  <b-button
                    v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                    variant="success"
                    class="btn-icon rounded-circle"
                    type="submit"
                  >
                    <feather-icon icon="SearchIcon" />
                  </b-button>
                </div>

              </b-col>
            </b-row>

          </b-form>
        </validation-observer>

      </b-card-body>
    </b-card>
    <b-card title="Biến động đơn hàng">
      <e-charts
        ref="line"
        autoresize
        :options="option"
        theme="theme-color"
        auto-resize
      />
    </b-card>
    <b-card
      v-if="duLieuThongKe !== null"
      no-body
    >
      <b-card-header>
        <h4 class="mb-0">
          Thống kê doanh thu
        </h4>
        <b-card-text class="font-medium-5 mb-0">
          <feather-icon
            icon="HelpCircleIcon"
            size="21"
            class="text-muted cursor-pointer"
          />
        </b-card-text>
      </b-card-header>

      <!-- apex chart -->
      <vue-apex-charts
        type="radialBar"
        height="245"
        class="my-2"
        :options="goalOverviewRadialBar"
        :series="duLieuThongKe.tiLe"
      />
      <b-row class="text-center mx-0">
        <b-col
          cols="4"
          class="border-top border-right d-flex align-items-between flex-column py-1"
        >
          <b-card-text class="text-muted mb-0">
            Tổng đơn hàng
          </b-card-text>
          <h3 class="font-weight-bolder mb-0">
            {{ Number(duLieuThongKe.tongTien).toLocaleString('vi') }}
          </h3>
        </b-col>

        <b-col
          cols="8"
          class="border-top d-flex align-items-between flex-column py-1"
        >
          <b-card-text class="text-muted mb-0">
            Doanh thu
          </b-card-text>
          <h3 class="font-weight-bolder mb-0">
            {{ Number(duLieuThongKe.tongLoiNhuan).toLocaleString('vi') }}
          </h3>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import {
  BButton,
  BCard,
  BCardBody,
  BCardHeader,
  BCardTitle,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,
  BRow,
  BCardText,
} from 'bootstrap-vue'

import { ValidationObserver, ValidationProvider } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { onUnmounted, ref } from '@vue/composition-api'
import store from '@/store'
import flatPickr from 'vue-flatpickr-component'
import thongKeStoreModule from '@/views/thong-ke/thongKeStoreModule'
import vSelect from 'vue-select'
import { required } from '@validations'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import ECharts from 'vue-echarts'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/legend'
import 'echarts/lib/chart/pie'
import 'echarts/lib/chart/line'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'
import theme from '@core/components/charts/echart/theme.json'

ECharts.registerTheme('theme-color', theme)

const $strokeColor = '#ebe9f1'
const $textHeadingColor = '#5e5873'
const $goalStrokeColor2 = '#51e5a8'
export default {
  directives: {
    Ripple,
  },
  components: {
    ECharts,
    BCardText,
    VueApexCharts,
    BFormGroup,
    BButton,
    BCardBody,
    BFormInvalidFeedback,
    BFormInput,
    BForm,
    flatPickr,
    BRow,
    BCol,
    BCardTitle,
    BCardHeader,
    vSelect,
    ValidationProvider,
    ValidationObserver,
    BCard,
  },
  data() {
    return {
      required,
      tableData: [],
      tongSoBaiDaXem: 0,
      tongSoBaiDaMua: 0,
      tongSoBaiDaBan: 0,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
      loaiThongKe: [
        { key: 'Theo ngày', label: 'Theo ngày' },
        { key: 'Theo tháng', label: 'Theo tháng' },
      ],
      thongKeNgay: false,
      thang: [
        { key: 1, label: 'Tháng 1' },
        { key: 2, label: 'Tháng 2' },
        { key: 3, label: 'Tháng 3' },
        { key: 4, label: 'Tháng 4' },
        { key: 5, label: 'Tháng 5' },
        { key: 6, label: 'Tháng 6' },
        { key: 7, label: 'Tháng 7' },
        { key: 8, label: 'Tháng 8' },
        { key: 9, label: 'Tháng 9' },
        { key: 10, label: 'Tháng 10' },
        { key: 11, label: 'Tháng 11' },
        { key: 12, label: 'Tháng 12' },
      ],
      fieldColumns: [
        { key: 'stt', label: 'STT' },
        { key: 'dai_ly', label: 'Đại lý' },

        { key: 'ngay', label: 'Ngày / Tháng - Năm' },
        { key: 'ban_goi', label: 'Bán gói' },
        { key: 'xem_bai', label: 'Xuất bài' },
        { key: 'mua_bai', label: 'Mua gói' },
      ],
      goalOverviewRadialBar: {
        chart: {
          height: 245,
          type: 'radialBar',
          sparkline: {
            enabled: true,
          },
          dropShadow: {
            enabled: true,
            blur: 3,
            left: 1,
            top: 1,
            opacity: 0.1,
          },
        },
        colors: [$goalStrokeColor2],
        plotOptions: {
          radialBar: {
            offsetY: -10,
            startAngle: -150,
            endAngle: 150,
            hollow: {
              size: '77%',
            },
            track: {
              background: $strokeColor,
              strokeWidth: '50%',
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                color: $textHeadingColor,
                fontSize: '2.86rem',
                fontWeight: '600',
              },
            },
          },
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: [$themeColors.success],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100],
          },
        },
        stroke: {
          lineCap: 'round',
        },
        grid: {
          padding: {
            bottom: 30,
          },
        },
      },
      duLieuThongKe: {
        tongTien: 0,
        tongLoiNhuan: 0,
        tiLe: [0],
      },
      option: {
        title: {
          text: 'Stacked area chart',
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985',
            },
          },
        },
        legend: {
          left: '0',
        },
        grid: {
          width: '95%',
          left: '40px',
          right: '4%',
          containLabel: false,
        },
        xAxis: [
          {
            type: 'category',
            boundaryGap: false,
            data: [], // ['7/12', '8/12', '9/12', '10/12', '11/12', '12/12', '13/12', '14/12', '15/12', '16/12', '17/12', '18/12', '19/12', '20/12'],
          },
        ],
        yAxis: [
          {
            type: 'value',
            splitLine: { show: false },
          },
        ],
        series: [
          {
            name: 'Số đơn hàng',
            type: 'line',
            stack: 'Total',
            areaStyle: {
              color: '#84d0ff',
            },
            color: '#84d0ff',
            showSymbol: false,
            smooth: 0.4,
            lineStyle: {
              width: 0,
            },
            data: [], // [120, 432, 281, 434, 590, 330, 210, 150, 110, 150, 420, 650, 560, 250],
          },
          {
            name: 'Doanh thu',
            type: 'line',
            stack: 'Total',
            areaStyle: {
              color: '#299aff',
            },
            color: '#299aff',
            showSymbol: false,
            smooth: 0.4,
            lineStyle: {
              width: 0,
            },
            data: [], // [20, 32, 281, 634, 490, 430, 310, 450, 900, 1250, 1180, 750, 560, 550],
          },
          {
            name: 'Tổng tiền',
            type: 'line',
            stack: 'Total',
            areaStyle: {
              color: '#eef1f4',
            },
            color: '#eef1f4',
            showSymbol: false,
            smooth: 0.4,
            lineStyle: {
              width: 0,
            },
            data: [], // [120, 132, 981, 134, 100, 80, 410, 550, 50, 0, 0, 0, 80, 550],
          },
        ],
      },
    }
  },
  methods: {
    onSubmit() {
      let choPhepThongKe = false
      const currentUser = getUserData()
      if (this.FormThongKeDaiLyData.loai_thong_ke.key === 'Theo tháng') {
        if (this.FormThongKeDaiLyData.tu_thang === '' || this.FormThongKeDaiLyData.den_thang === '' || this.FormThongKeDaiLyData.tu_nam === '' || this.FormThongKeDaiLyData.den_nam === '') {
          this.$swal({
            title: 'Thông báo!',
            text: ' Vui lòng nhập đầy đủ thông tin thống kê từ tháng - năm đến tháng - năm!',
            icon: 'error',
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        } else choPhepThongKe = true
      } else if (this.FormThongKeDaiLyData.tu_ngay === '' || this.FormThongKeDaiLyData.den_ngay === '') {
        this.$swal({
          title: 'Thông báo',
          text: ' Vui lòng nhập đầy đủ thông tin thống kê từ ngày bắt đầu đến ngày kết thúc',
          icon: 'error',
          customClass: {
            confirmButton: 'btn btn-danger',
          },
          buttonsStyling: false,
        })
      } else choPhepThongKe = true

      if (choPhepThongKe) {
        store.state.showBlock = true
        Object.assign(this.FormThongKeDaiLyData, {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          thong_ke: true,
        })
        store.dispatch('app-user/thongKe', this.FormThongKeDaiLyData)
          .then(response => {
            this.duLieuThongKe = response.data
            this.option.xAxis[0].data = response.data.oXData
            this.option.series[0].data = response.data.duLieuDonHang
            this.option.series[1].data = response.data.duLieuTongDoanhThu
            this.option.series[2].data = response.data.duLieuTongTien
            store.state.showBlock = false
          })
          .catch(e => {
            this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
            store.state.showBlock = false
          })
      }
    },
    xemChiTietLoiNhuan(obj) {
      this.$root.$emit('xemChiTietLoiNhuan', obj)
    },
  },
  setup() {
    const blankFormThongKeDaiLyData = {
      loai_thong_ke: { key: 'Theo tháng', label: 'Theo tháng' },
      dai_ly: null,
      tu_ngay: '',
      den_ngay: '',
      tu_thang: '',
      tu_nam: '',
      den_thang: '',
      den_nam: '',
    }

    const optionsDaiLy = ref([])
    const FormThongKeDaiLyData = ref(JSON.parse(JSON.stringify(blankFormThongKeDaiLyData)))

    const USER_APP_STORE_MODULE_NAME = 'app-user'

    const resetuserData = () => {
      FormThongKeDaiLyData.value = JSON.parse(JSON.stringify(blankFormThongKeDaiLyData))
    }

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, thongKeStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      optionsDaiLy,
      FormThongKeDaiLyData,
      resetuserData,
      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
@import '@core/scss/vue/libs/vue-select.scss';
.echarts {
  width: 100%
}
</style>
