<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <tim-kiem
      :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
      @refetch-data="refetchData"
    />

    <xem-chi-tiet
        :is-add-new-user-sidebar-active.sync="isXemChiTietSidebarActive"
        @refetch-data="refetchData"
    />
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Báo cáo đơn hàng</b-card-title>

        <b-dropdown
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
          dropright
          text="Chức năng"
          :right="$store.state.appConfig.isRTL"
        >
          <b-dropdown-item @click="refreshTable()">
            <feather-icon
              icon="RefreshCcwIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Cập nhật</span>
          </b-dropdown-item>
          <b-dropdown-item @click="isTimKiemSidebarActive = true">
            <feather-icon
              icon="SearchIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Tìm kiếm</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-card-header>
      <b-card-title style="padding-left: 22px">Tổng chi phí chiến dịch: <span class="text-success">{{ Number(tongNetData).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
      </span>. Tổng tiền nhận được: <span class="text-success">{{ Number(tongNhanDuocData).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ</span></b-card-title>

      <b-table
        ref="refPostBackChienDichListTable"
        class="position-relative"
        empty-text="Không có dữ liệu"
        show-empty
        responsive="sm"
        stacked="md"
        :items="fetchChienDichs"
        :fields="tableColumns"
        :sort-by.sync="sortBy"
        :sort-desc.sync="isSortDirDesc"
      >

        <!-- A virtual id column -->
        <template #cell(id)="data">
          <p class="text-center">
            {{ data.index + 1 }}
          </p>
        </template>

        <!-- A virtual image column -->
        <template #cell(image)="data">
          <b-img
            :src="data.item.image"
            fluid
            alt="Responsive image"
            width="80"
          />
        </template>

        <template #cell(title)="data">
          <b-media vertical-align="center">
            <b-link
              :to="{ name: 'xem-chi-tiet-postback', params: { utm_source: data.item.utm_source } }"
              class="font-weight-bold d-block text-nowrap text-primary"
            >
              {{ data.item.title }}
            </b-link>
            <small class="text-muted">
              Utm Source: {{ data.item.utm_source }}
            </small>
          </b-media>
        </template>

        <!-- A virtual so_tien_nhan_duoc column -->
        <template #cell(so_tien_nhan_duoc)="data">
          <div>
            <strong>Giá network: </strong><br>{{ Number(data.item.chi_phi_chien_dich).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
            <div v-if="isViewAllUser">
              <strong>Nhận được: </strong><br>{{ Number(data.item.so_tien_nhan_duoc).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
            </div>
          </div>
        </template>

        <!-- A virtual ngay_thuc_hien column -->
        <template #cell(ngay_thuc_hien)="data">
          <div class="text-center">
            {{ moment(String(data.item.created)).format('DD/MM/YYYY HH:mm:ss') }}
          </div>
        </template>

        <!-- A virtual note_status column -->
        <template #cell(note_status)="data">
          <div v-if="data.item.note_status === 'Pending'">
            <b-badge variant="light-warning">
              Pending
            </b-badge>
          </div>
          <div v-else-if="data.item.note_status === 'Rejected'">
            <b-badge variant="light-danger">
              Rejected
            </b-badge>
          </div>
          <div v-else-if="data.item.note_status === 'Approved'">
            <b-badge variant="light-success">
              Approved
            </b-badge>
          </div>
        </template>

        <!-- Column: Người thực hiện -->
        <template #cell(hoten)="data">
          {{ data.item.hoten }}
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown
              variant="link"
              no-caret
              dropright
              :right="$store.state.appConfig.isRTL"
          >

            <template #button-content>
              <feather-icon
                  icon="MoreVerticalIcon"
                  size="16"
                  class="align-middle text-body"
              />
            </template>
            <b-dropdown-item>
              <b-link
                  :to="{ name: 'xem-chi-tiet-postback', params: { utm_source: data.item.utm_source } }"
                  class="font-weight-bold d-block text-nowrap text-primary"
              >
                <feather-icon icon="EyeIcon" />
                <span class="align-middle ml-50">Xem chi tiết</span>
              </b-link>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalChienDichs"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BDropdown, BDropdownItem, BImg,
  BCardTitle, BLink, BBadge, BMedia,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { onUnmounted, ref } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import moment from 'moment'
// eslint-disable-next-line import/extensions
import XemChiTiet from '@/views/kiem-tien/postback/XemChiTiet'
import postBackStoreModule from '@/views/kiem-tien/postback/postBackStoreModule'
import useChienDichList from './useChienDichList'
import TimKiem from './TimKiem.vue'

export default {
  directives: {
    Ripple,
  },
  components: {
    XemChiTiet,
    BBadge,
    BLink,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BPagination,
    BDropdown,
    BDropdownItem,
    BImg,
    TimKiem,
    BMedia,
  },
  setup() {
    const CHIEN_DICH_APP_STORE_MODULE_NAME = 'app-chien-dich'

    // Register module
    if (!store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.registerModule(CHIEN_DICH_APP_STORE_MODULE_NAME, postBackStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.unregisterModule(CHIEN_DICH_APP_STORE_MODULE_NAME)
    })
    const isTimKiemSidebarActive = ref(false)
    const isXemChiTietSidebarActive = ref(false)
    const {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refPostBackChienDichListTable,
      isViewAllUser,
      refetchData,
      tongNhanDuocData,
      tongNetData,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useChienDichList()

    return {
      // Sidebar
      isXemChiTietSidebarActive,
      fieldsTimKiem,
      thucHienTimKiem,
      fetchChienDichs,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refPostBackChienDichListTable,
      refetchData,
      isTimKiemSidebarActive,
      isViewAllUser,
      tongNhanDuocData,
      tongNetData,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      moment,
    }
  },
  data() {
    return {
      selected: [],
      selectAll: false,
    }
  },
  mounted() {
    this.$root.$on('timKiemChienDich', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
  },
  methods: {
    refreshTable() {
      this.$refs.refPostBackChienDichListTable.refresh()
    },
    taiExcel() {
      const currentUser = getUserData()
      store.state.showBlock = true
      store.dispatch('app-chien-dich/downloadExcel', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
        data: this.fieldsTimKiem,
      })
        .then(response => {
          this.$swal({
            title: response.data.title,
            icon: 'info',
            html: response.data.content,
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText: 'Đóng lại',
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-outline-danger ml-1',
            },
            buttonsStyling: false,
          })
          store.state.showBlock = false
        })
        .catch(() => {
          store.state.showBlock = false
        })
    },
    // eslint-disable-next-line camelcase
    xemChiTiet(id, utm_source) {
      this.isXemChiTietSidebarActive = true
      this.$root.$emit('xemChiTietPostBack', id, utm_source)
    },
  },
}
</script>
