<template>
  <b-sidebar
    id="search-sidebar"
    :visible="isTimKiemSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-tim-kiem-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Tìm kiếm
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- title -->
          <validation-provider
            #default="validationContext"
            name="Tên chiến dịch"
          >
            <b-form-group
              label="Tên chiến dịch"
              label-for="title-search"
              :state="getValidationState(validationContext)"
            >
              <b-form-input
                id="title-search"
                v-model="userData.title"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tên chiến dịch"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- title -->
          <validation-provider
            #default="validationContext"
            name="Tên người thực hiện"
          >
            <b-form-group
              label="Tên người thực hiện"
              label-for="title-search"
              :state="getValidationState(validationContext)"
            >
              <b-form-input
                id="nguoi-thuc-hien"
                v-model="userData.hoten"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tên người thực hiện"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Trạng thái -->
          <validation-provider
            #default="validationContext"
            name="Trạng thái"
          >
            <b-form-group
              label="Trạng thái"
              label-for="note_status-search"
            >
              <v-select
                v-model="userData.note_status"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="statusOptions"
                :clearable="true"
                input-id="type"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <b-row>
            <b-col
              cols="12"
              md="6"
            >
              <!-- Ngày thực hiện từ -->
              <validation-provider
                #default="validationContext"
                name="Ngày thực hiện, từ"
              >
                <b-form-group
                  label="Ngày thực hiện, từ"
                  label-for="ngay_thuc_hien_tu-search"
                >
                  <flat-pickr
                    id="ngay_thuc_hien_tu-search"
                    v-model="userData.ngay_thuc_hien_tu"
                    class="form-control"
                    :config="configDate"
                    placeholder="Chọn ngày thực hiện"
                    :state="getValidationState(validationContext)"
                    trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              cols="12"
              md="6"
            >
              <!-- Ngày thực hiện đến -->
              <validation-provider
                #default="validationContext"
                name="Ngày thực hiện, đến"
              >
                <b-form-group
                  label="Ngày thực hiện, đến"
                  label-for="ngay_thuc_hien_den-search"
                >
                  <flat-pickr
                    id="ngay_thuc_hien_den-search"
                    v-model="userData.ngay_thuc_hien_den"
                    class="form-control"
                    :config="configDate"
                    placeholder="Chọn ngày thực hiện"
                    :state="getValidationState(validationContext)"
                    trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="SearchIcon"
                class="mr-50"
              />
              Tìm kiếm
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInvalidFeedback, BButton, BFormInput,
  BRow, BCol,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import { Vi } from 'flatpickr/dist/l10n/vn'

export default {
  components: {
    BRow,
    BCol,
    flatPickr,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInvalidFeedback,
    BButton,
    BFormInput,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isTimKiemSidebarActive',
    event: 'update:is-tim-kiem-sidebar-active',
  },
  props: {
    isTimKiemSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      statusOptions: [
        { key: 'Rejected', label: 'Rejected' },
        { key: 'Pending', label: 'Pending' },
        { key: 'Approved', label: 'Approved' },
      ],
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
        locale: Vi, // locale for this instance only
      },
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
          numeralDecimalScale: 10,
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  setup() {
    const blankUserData = {
      title: '',
      note_status: '',
      nguoi_thuc_hien: '',
      ngay_thuc_hien_tu: '',
      ngay_thuc_hien_den: '',
      hoten: '',
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
    onSubmit() {
      const currentUser = getUserData()
      Object.assign(this.userData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
        timKiem: 1,
      })

      this.$root.$emit('timKiemChienDich', this.userData)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
