<template>
  <b-sidebar
      id="add-new-user-sidebar"
      :visible="isAddNewUserSidebarActive"
      bg-variant="white"
      sidebar-class="sidebar-lg"
      shadow
      backdrop
      no-header
      right
      @hidden="resetForm"
      @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Chi tiết đơn hàng
        </h5>

        <feather-icon
            class="ml-1 cursor-pointer"
            icon="XIcon"
            size="16"
            @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
            class="p-2"
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
        >

          <!-- Tilte -->
          <validation-provider
              #default="validationContext"
              name="Title"
              rules="required"
          >
            <b-form-group
                label="Tên chiến dịch"
                label-for="ten_chien_dich"
            >
              <b-form-input
                  id="ten_chien_dich"
                  v-model="title"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Utm Source -->
          <validation-provider
              #default="validationContext"
              name="UTM Source"
              rules="required"
          >
            <b-form-group
                label="UTM Source"
                label-for="utm_source"
            >
              <b-form-input
                  id="utm_source"
                  v-model="utm_source"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Reward -->
          <validation-provider
              #default="validationContext"
              name="Reward"
          >
            <b-form-group
                label="Phần thưởng"
                label-for="reward"
            >
              <b-form-input
                  id="reward"
                  v-model="reward"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Ngày tạo -->
          <validation-provider
              #default="validationContext"
              name="Ngày tạo"
          >
            <b-form-group
                label="Ngày tạo"
                label-for="created"
            >
              <b-form-input
                  id="created"
                  v-model="created"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Ngày cập nhật -->
          <validation-provider
              #default="validationContext"
              name="Ngày cập nhật"
          >
            <b-form-group
                label="Ngày cập nhật"
                label-for="updated"
            >
              <b-form-input
                  id="updated"
                  v-model="updated"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
<!--          &lt;!&ndash; Lịch sử trạng thái &ndash;&gt;-->
<!--          <label>Lịch sử trạng thái</label>-->
<!--          <div-->
<!--              v-for="(lichSuTrangThai,index) in lich_su"-->
<!--              :key="lichSuTrangThai.id"-->
<!--              :class="index < lich_su.length-1 ? 'mb-1':''"-->
<!--              class="d-flex justify-content-between"-->
<!--          >-->
<!--            <div class="d-flex align-items-center">-->
<!--              <span class="font-weight ml-75 mr-25">{{ lichSuTrangThai.ngay_thuc_hien }}</span>-->
<!--              <span class="font-weight-bold ml-75 mr-25">{{ lichSuTrangThai.note_status }}</span>-->
<!--            </div>-->
<!--          </div>-->

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
                v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                type="button"
                variant="outline-secondary"
                @click="hide"
            >
              Hủy
            </b-button>
          </div>
          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import moment from 'moment'

export default {
  components: {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewUserSidebarActive',
    event: 'update:is-add-new-user-sidebar-active',
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: '',
      utm_source: '',
      reward: '',
      created: '',
      updated: '',
    }
  },
  mounted() {
    const currentUser = getUserData()
    // eslint-disable-next-line camelcase
    this.$root.$on('xemChiTietPostBack', (id, utm_source) => {
      store.state.showBlock = true
      store
        .dispatch('app-chien-dich/xemChiTiet', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
          utmSource: utm_source,
        })
        .then(response => {
          store.state.showBlock = false
          this.chienDich = response.data.chienDich.result
          this.title = response.data.chienDich.title
          this.utm_source = response.data.chienDich.utm_source
          this.reward = response.data.chienDich.reward
          this.created = moment(String(response.data.chienDich.created)).format('DD/MM/YYYY HH:mm:ss')
          this.updated = moment(String(response.data.chienDich.updated)).format('DD/MM/YYYY HH:mm:ss')
          // this.lich_su = response.data.lichSuTrangThai
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const loaiDanhMuc = [
      { label: 'Chi phí', value: 'Chi phí' },
      { label: 'Kho hàng', value: 'Kho hàng' },
    ]
    const blankUserData = {
      id: '',
      name: '',
      type: '',
      active: 1,
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true

      const oldKhuVucData = userData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/xemChiTiet', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      loaiDanhMuc,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
