<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>{{ chienDichData.id !== '' ? `Chi tiết đơn hàng  ${chienDichData.title}` : '' }}
        </b-card-title>
      </b-card-header>
      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <b-row>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Utm Source -->
              <validation-provider
                #default="validationContext"
                name="UTM Source"
              >
                <b-form-group
                  label="UTM Source"
                  label-for="utm_source"
                >
                  <b-form-input
                      id="utm_source"
                      disabled="disabled"
                      v-model="chienDichData.utm_source"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md="4"
            >
              <!-- Trạng thái giao dịch -->
              <validation-provider
                  #default="validationContext"
                  name="Trạng thái giao dịch"
                  rules="required"
              >
                <b-form-group
                    label="Trạng thái giao dịch"
                    label-for="note_status"
                >
                  <b-form-input
                      id="note_status"
                      disabled="disabled"
                      v-model="chienDichData.note_status"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md = "4"
            >
              <!-- Trạng thái Postback -->
              <validation-provider
                  #default="validationContext"
                  name="Trạng thái Postback"
                  rules="required"
              >
                <b-form-group
                    label="Trạng thái Postback"
                    label-for="trang_thai_postback"
                >
                  <b-form-input
                      id="ngay_thuc_hien"
                      disabled="disabled"
                      v-model="chienDichData.trang_thai_postback"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>

            </b-col>

            <b-col
              cols="12"
              md="4"
            >
              <!-- Phần thưởng -->
              <validation-provider
                #default="validationContext"
                name="Phần thưởng"
                rules="required"
              >
                <b-form-group
                  label="Phần thưởng"
                  label-for="reward"
                >
                  <b-form-input
                    id="reward"
                    disabled="disabled"
                    v-model="chienDichData.reward"
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col
              cols="12"
              md="4"
            >
              <!-- Hoa hồngg -->
              <validation-provider
                #default="validationContext"
                name="Hoa hồng"
              >
                <b-form-group
                  label="Hoa hồng"
                  label-for="hoa_hong"
                >
                  <b-form-input
                    id="hoa_hong"
                    disabled="disabled"
                    v-model="chienDichData.hoa_hong"
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col
              cols="12"
              md="4"
            >
              <!-- Loại hoa hồng -->
              <validation-provider
                #default="validationContext"
                name="type_hoa_hong"
              >
                <b-form-group
                  label="Loại hoa hồng"
                  label-for="type_hoa_hong"
                >
                  <b-form-input
                    id="type_hoa_hong"
                    disabled="disabled"
                    v-model="chienDichData.type_hoa_hong"
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Số tiền nhận được -->
              <validation-provider
                #default="validationContext"
                name="Số tiền nhận được"
                rules="required"
              >
                <b-form-group
                  label="Số tiền nhận được"
                  label-for="so_tien_nhan_duoc"
                >
                  <b-form-input
                    id="so_tien_nhan_duoc"
                    disabled="disabled"
                    v-model="chienDichData.so_tien_nhan_duoc"
                    :state="getValidationState(validationContext)"
                    trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              cols="12"
              md="4"
            >
              <!-- Lợi nhuận -->
              <validation-provider
                #default="validationContext"
                name="Lợi nhuận"
                rules="required"
              >
                <b-form-group
                  label="Lợi nhuận"
                  label-for="loi_nhuan"
                >
                  <b-form-input
                    id="loi_nhuan"
                    disabled="disabled"
                    v-model="chienDichData.loi_nhuan"
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
                cols="12"
                md="4"
            >
              <!-- Chi phí chiến dịch -->
              <validation-provider
                  #default="validationContext"
                  name="Chi phí chiến dịch"
                  rules="required"
              >
                <b-form-group
                    label="Chi phí chiến dịch"
                    label-for="chi_phi_chien_dich"
                >
                  <b-form-input
                      id="chi_phi_chien_dich"
                      disabled="disabled"
                      v-model="chienDichData.chi_phi_chien_dich"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>

            </b-col>

              <b-col
                  cols="12"
                  md="4"
              >
                <div v-if=" !chienDichData.update">
                <!-- Ngày tạo -->
                <validation-provider
                    #default="validationContext"
                    name="Ngày tạo"
                    rules="required"
                >
                  <b-form-group
                      label="Ngày tạo"
                      label-for="created"
                  >
                    <b-form-input
                        id="created"
                        v-model="chienDichData.created"
                        disabled="disabled"
                        :state="getValidationState(validationContext)"
                        trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                </div>
                <div v-if="chienDichData.updated !== null ">
                  <!-- Ngày cập nhật -->
                  <validation-provider
                      #default="validationContext"
                      name="Ngày cập nhật"
                      rules="required"
                  >
                    <b-form-group
                        label="Ngày cập nhật"
                        label-for="updated"
                    >
                      <b-form-input
                          id="updated"
                          v-model="chienDichData.updated"
                          disabled="disabled"
                          :state="getValidationState(validationContext)"
                          trim
                      />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </div>
              </b-col>

              <b-col
                  cols="12"
                  md="4"
              >
                <!-- Ngày thực hiện -->
                <validation-provider
                    #default="validationContext"
                    name="Ngày thực hiện"
                    rules="required"
                >
                  <b-form-group
                      label="Ngày thực hiện"
                      label-for="ngay_thuc_hien"
                  >
                    <b-form-input
                        id="ngay_thuc_hien"
                        disabled="disabled"
                        v-model="chienDichData.ngay_thuc_hien"
                        :state="getValidationState(validationContext)"
                        trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                  cols="12"
                  md="4"
              >
                <!-- Người thực hiện -->
                <validation-provider
                    #default="validationContext"
                    name="Người thực hiện"
                    rules="required"
                >
                  <b-form-group
                      label="Người thực hiện"
                      label-for="nguoi_thuc_hien"
                  >
                    <b-form-input
                        id="nguoi_thuc_hien"
                        disabled="disabled"
                        v-model="chienDichData.nguoi_thuc_hien"
                        :state="getValidationState(validationContext)"
                        trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
          </b-row>
          <b-card-title>Lịch sử giao dịch</b-card-title>
          <b-col
              cols="12"
              md="12"
          >
            <b-table
                ref="refUserListTable"
                class="position-relative"
                empty-text="Không có dữ liệu"
                show-empty
                responsive="sm"
                stacked="md"
                :items="fetchChienDichs"
                :fields="tableColumns"
                :sort-by.sync="sortBy"
                primary-key="id"
                :sort-desc.sync="isSortDirDesc"
            >
              <!-- A virtual column -->
              <template #cell(id)="data">
                <p class="text-right">
                  {{ data.index+1 }}
                </p>
              </template>
              <!-- gia_ban -->
              <template #cell(note_status)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.note_status }}
                  </p>
                </b-media>
              </template>

              <!-- cho_phep_ban -->
              <template #cell(ngay_thuc_hien)="data">
                <div class="text-center">
                  <b-media vertical-align="center">
                    <p class="text-left">
                      {{ data.item.ngay_thuc_hien }}
                    </p>
                  </b-media>
                </div>
              </template>
            </b-table>
          </b-col>
        </b-form>
      </validation-observer>
    </b-card>

  </div>
</template>

<script>

import {
  BRow, BCol, BForm, BFormGroup, BFormInvalidFeedback, BFormInput,
  BCard, BCardTitle, BCardHeader, BTable, BMedia,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref, onUnmounted } from '@vue/composition-api'
import store from '@/store'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { required } from '@validations'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
// eslint-disable-next-line import/no-cycle
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
// eslint-disable-next-line import/extensions
import config from '@/config.json'
import postBackViewStoreModule from '@/views/kiem-tien/postback/view/postBackViewStoreModule'
// eslint-disable-next-line import/no-cycle
import useChienDichList from '@/views/kiem-tien/postback/view/useChienDichList'

export default {
  directives: {
    Ripple,
  },
  components: {
    // eslint-disable-next-line global-require
    ValidationProvider,
    ValidationObserver,
    BCardTitle,
    BCardHeader,
    BFormInput,
    BCard,
    BRow,
    BForm,
    BFormGroup,
    BFormInvalidFeedback,
    BCol,
    BTable,
    BMedia,
  },
  data() {
    return {
      required,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
    }
  },
  mounted() {
    this.userData.value = this.chienDichData
  },
  methods: {
    getUrl(img) {
      return `${config.apiUrl.mainUrl}images/${img}`
    },
  },
  setup() {
    const blankuserData = {
      id: '',
      utm_source: '',
      status: '',
      reward: '',
      trang_thai: '',
      hoa_hong: '',
      type_hoa_hong: '',
      so_tien_nhan_duoc: '',
      loi_nhuan: '',
      created: 0,
      updated: '',
      active: '',
      note_status: '',
      chi_phi_chien_dich: '',
      title: '',
      ngay_thuc_hien: '',
      trang_thai_postback: '',
      nguoi_thuc_hien: '',
      lich_su: {},
    }

    const userData = ref(JSON.parse(JSON.stringify(blankuserData)))

    const USER_APP_STORE_MODULE_NAME = 'app-chien-dich'

    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankuserData))
    }
    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, postBackViewStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const currentUser = getUserData()
    const toast = useToast()
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const onSubmit = () => {
      store.state.showBlock = true

      Object.assign(userData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/updateProfile', userData.value)
        .then(response => {
          store.state.showBlock = false
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
        })
        .catch(e => {
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          store.state.showBlock = false
        })
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    const {
      load,
      fetchChienDichs,
      tableColumns,
      sortBy,
      isSortDirDesc,
      chienDichData,
    } = useChienDichList()
    //
    // store.state.showBlock = true
    //
    // store.dispatch('app-chien-dich/load', {
    //   id: router.currentRoute.params.id,
    //   auth: currentUser.auth_key,
    //   uid: currentUser.id,
    //   utm_source: router.currentRoute.params.utm_source,
    // })
    //   .then(response => {
    //     userData.value = response.data.chienDich
    //     userData.lich_su = response.data.lichSuTrangThai
    //     store.state.showBlock = false
    //   })
    //   .catch(error => {
    //     if (error.response.status === 404) {
    //       resetuserData()
    //     }
    //     this.showToast('danger', 'Thông báo', 'BellIcon', error)
    //     store.state.showBlock = false
    //   })

    return {
      onSubmit,
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      load,
      tableColumns,
      fetchChienDichs,
      isSortDirDesc,
      sortBy,
      chienDichData,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
