<template>

  <div>
    <!-- Table Container Card -->
    <b-card
      no-body
      class="mb-2"
    >
      <b-card-header>
        <b-card-title>Hệ thống đại lý</b-card-title>
      </b-card-header>
      <vue-tree
        style="height: 400px; overflow: scroll"
        :dataset="daiLy.dai_ly"
        :config="treeConfig"
      >
        <template v-slot:node="{ node, collapsed }">
          <div
            class="rich-media-node"
            :style="{ border: collapsed ? '2px solid grey' : '' }"
          >
            <span
              style="padding: 4px 0; font-weight: bold;"
            >{{ node.name }}</span>
          </div>
        </template>
      </vue-tree>
    </b-card>
  </div>
</template>

<script>
import {
  BCard, BCardHeader, BCardTitle,
} from 'bootstrap-vue'
import VueTree from '@ssthouse/vue-tree-chart'
import store from '@/store'
import { onUnmounted } from '@vue/composition-api'
import userStoreModule from '../../../userStoreModule'

export default {
  components: {
    BCard,
    BCardTitle,
    BCardHeader,
    VueTree,
  },
  props: {
    daiLy: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      treeConfig: { nodeWidth: 220, nodeHeight: 80, levelHeight: 100 },
    }
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-user'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })
  },
}
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rich-media-node {
  width: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  background-color: #f7c616;
  border-radius: 4px;
}
</style>
