<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <tim-kiem
      :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
      @refetch-data="refetchData"
    />
    <xem-chi-tiet
      :is-add-new-user-sidebar-active.sync="isXemChiTietSidebarActive"
      @refetch-data="refetchData"
    />
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Giao dịch</b-card-title>
        <b-dropdown
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
          dropright
          text="Chức năng"
          :right="$store.state.appConfig.isRTL"
        >
          <b-dropdown-item @click="timKiem()">
            <feather-icon
              icon="SearchIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Tìm kiếm</span>
          </b-dropdown-item>
          <b-dropdown-item @click="selectAllRows()">
            <feather-icon icon="CheckCircleIcon" />
            <span class="align-middle ml-50">Chọn tất cả</span>
          </b-dropdown-item>
          <b-dropdown-item @click="clearSelected()">
            <feather-icon icon="XIcon" />
            Bỏ chọn
          </b-dropdown-item>
        </b-dropdown>
      </b-card-header>
      <b-card-title style="padding-left: 22px">
        Tổng số tiền: <span class="text-success">{{ Number(tongTienData).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ</span>
      </b-card-title>
      <b-table
        ref="refUserListTable"
        class="position-relative"
        empty-text="Không có dữ liệu"
        show-empty
        responsive="sm"
        stacked="md"
        selectable
        :items="fetchUsers"
        :fields="tableColumns"
        :sort-by.sync="sortBy"
        primary-key="id"
        :sort-desc.sync="isSortDirDesc"
        @row-selected="onRowSelected"
      >
        <!--        selected-->
        <template #cell(selected)="{ rowSelected }">
          <template v-if="rowSelected">
            <div class="text-center">
              <feather-icon icon="CheckSquareIcon" />
            </div>
          </template>
          <template v-else>
            <span aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Not selected</span>
          </template>
        </template>
        <!-- A virtual id column -->
        <template #cell(index)="data">
          <p class="text-center">
            {{ data.index +1 }}
          </p>
        </template>
        <!-- Column: Tên quà tặng -->
        <template #cell(name)="data">
          <b-media vertical-align="center">
            <p class="font-weight-bold d-block text-nowrap text-primary">
              {{ data.item.name }}
            </p>
          </b-media>
        </template>
        <!-- Column: Người thực hiện -->
        <template #cell(hoten)="data">
          <b-media vertical-align="center">
            <p class="font-weight-bold d-block text-nowrap text-primary">
              {{ data.item.hoten }}
            </p>
          </b-media>
        </template>
        <!-- Column: Số lượng -->
        <template #cell(so_luong)="data">
          <b-media vertical-align="center">
            <p class="font-weight-bold d-block text-nowrap text-primary">
              {{ data.item.so_luong }}
            </p>
          </b-media>
        </template>
        <!-- Column: Số tiền -->
        <template #cell(cost)="data">
          <div>
            {{ Number(data.item.cost).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
          </div>
        </template>
        <!-- Column: Ngày thực hiện -->
        <template #cell(created)="data">
          <div class="text-left">
            {{
              moment(String(data.item.created)).format('DD/MM/YYYY HH:mm:ss')
            }}
          </div>
        </template>
        <!-- A virtual trang_thai column -->
        <template #cell(trang_thai)="data">
          <div v-if="data.item.trang_thai === 'Chờ duyệt'">
            <b-badge variant="light-warning">
              Chờ duyệt
            </b-badge>
          </div>
          <div v-else-if="data.item.trang_thai === 'Đã duyệt'">
            <b-badge variant="light-success">
              Đã duyệt
            </b-badge>
          </div>
        </template>
        <!-- Column: Ghi chú -->
        <template #cell(ghi_chu)="data">
          <div>
            {{ data.item.ghi_chu }}
          </div>
        </template>
        <!-- Column: actions -->
        <template #cell(actions)="data">
          <b-dropdown
            variant="link"
            no-caret
            dropright
            :right="$store.state.appConfig.isRTL"
          >

            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>

            <div v-if="data.item.trang_thai === 'Chờ duyệt'">
              <b-dropdown-item
                @click="rutTienConfirm(data.item.id)"
              >
                <feather-icon icon="CheckCircleIcon" />
                <span class="align-middle ml-50">Xác nhận rút tiền</span>
              </b-dropdown-item>
            </div>
            <b-dropdown-item @click="xemChiTiet(data.item.id)">
              <feather-icon icon="EyeIcon" />
              <span class="align-middle ml-50">Xem chi tiết</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalUsers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BDropdown, BDropdownItem,
  BCardTitle, BBadge, BMedia,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import TimKiem from '@/views/giao-dich/TimKiem.vue'
import moment from 'moment/moment'
// eslint-disable-next-line import/extensions
import XemChiTiet from '@/views/giao-dich/XemChiTiet'
import giaoDichStoreModule from './giaoDichStoreModule'
// eslint-disable-next-line import/no-cycle
import useGiaoDichList from './useGiaoDichList'

export default {
  directives: {
    Ripple,
  },
  components: {
    XemChiTiet,
    TimKiem,
    BCardTitle,
    BCardHeader,
    BBadge,
    BCard,
    BRow,
    BCol,
    BMedia,
    BTable,
    BPagination,
    BDropdown,
    BDropdownItem,
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-giao-dich'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, giaoDichStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const isTimKiemSidebarActive = ref(false)
    const isXemChiTietSidebarActive = ref(false)
    const {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchUsers,
      deleteOrder,
      xacNhanRutTien,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      tongTienData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

    } = useGiaoDichList()

    return {
      // Sidebar
      fieldsTimKiem,
      thucHienTimKiem,
      isTimKiemSidebarActive,
      isXemChiTietSidebarActive,
      fetchUsers,
      xacNhanRutTien,
      deleteOrder,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      moment,
      tongTienData,
    }
  },

  data() {
    return {
      selected: [],
      selectAll: false,
      tongTien: 0,
    }
  },
  mounted() {
    this.$root.$on('timKiemGiaoDich', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
  },
  methods: {
    onRowSelected(items) {
      this.donHangDaChon = items
      this.tongTien = 0
      Object.keys(items).forEach(key => {
        this.tongTien += Number(items[key].cost)
      })
    },
    selectAllRows() {
      this.$refs.refUserListTable.selectAllRows()
    },
    clearSelected() {
      this.$refs.refUserListTable.clearSelected()
    },
    timKiem() {
      this.isTimKiemSidebarActive = true
    },
    xemChiTiet(id) {
      this.isXemChiTietSidebarActive = true
      this.$root.$emit('xemChiTiet', id)
    },
    rutTienConfirm(id) {
      this.$swal({
        title: 'Thông báo',
        text: 'Bạn có chắc chắn xác nhận rút tiền?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Đồng ý!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.xacNhanRutTien(id, () => {
            this.$refs.refUserListTable.refresh()
          }, () => {
            this.$store.state.showBlock = true
          }, () => {
            this.$store.state.showBlock = false
          }, (message, type) => {
            this.showToast(type, 'Thông báo', 'BellIcon', 'Đã cập nhật giao dịch thành công')
          })
        }
      }).catch(e => {
        this.showToast('danger', 'Thông báo', 'BellIcon', e.response.status)
      })
      this.$refs.refUserListTable.refresh()
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
