<template>
  <div>
    <BlockUI
        v-show="$store.state.showBlock"
        message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
          icon="loading"
          size="12"
      />
    </BlockUI>
    <tim-kiem
        :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
        @refetch-data="refetchData"
    />
    <tim-kiem-rut-tien
        :is-tim-kiem-rut-tien-sidebar-active.sync="isTimKiemRutTienSidebarActive"
        @refetch-two-data="refetchTwoData"
    />
    <xem-chi-tiet-rut-tien
        :is-xem-chi-tiet-rut-tien-sidebar-active.sync="isXemChiTietRutTienSidebarActive"
        @refetch-two-data="refetchTwoData"
    />
    <xem-chi-tiet-doi-qua
        :is-xem-chi-tiet-doi-qua-sidebar-active.sync="isXemChiTietDoiQuaSidebarActive"
        @refetch-data="refetchData"
    />
    <b-card
        no-body
        class="mb-0"
    >
      <div>
        <b-tabs
            active-nav-item-class="font-weight-bold text-uppercase"
            active-tab-class="font-weight-bold text-success"
            content-class="mt-2"
            fill
        >
          <b-tab>
            <template slot="title">
              Đổi quà&nbsp;
            </template>
            <b-card-header>
              <b-card-title style="padding-left: 22px">
                Tổng số tiền: <span class="text-success">{{ Number(tongTienData).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ</span>
              </b-card-title>
              <b-dropdown
                  v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                  variant="flat-primary"
                  dropright
                  text="Chức năng"
                  :right="$store.state.appConfig.isRTL"
              >
                <b-dropdown-item @click="timKiem()">
                  <feather-icon
                      icon="SearchIcon"
                      class="mr-50"
                  />
                  <span class="align-middle ml-50">Tìm kiếm</span>
                </b-dropdown-item>
                <b-dropdown-item @click="selectAllRows()">
                  <feather-icon icon="CheckCircleIcon" />
                  <span class="align-middle ml-50">Chọn tất cả</span>
                </b-dropdown-item>
                <b-dropdown-item @click="clearSelected()">
                  <feather-icon icon="XIcon" />
                  Bỏ chọn
                </b-dropdown-item>
              </b-dropdown>
            </b-card-header>
            <b-table
                ref="refUserListTable"
                class="position-relative"
                empty-text="Không có dữ liệu"
                show-empty
                responsive="sm"
                stacked="md"
                selectable
                :items="fetchUsers"
                :fields="tableColumns"
                :sort-by.sync="sortBy"
                primary-key="id"
                :sort-desc.sync="isSortDirDesc"
                @row-selected="onRowSelected"
            >
              <!-- A virtual id column -->
              <template #cell(index)="data">
                <p class="text-center">
                  {{ data.index +1 }}
                </p>
              </template>
              <!-- Column: Tên quà tặng -->
              <template #cell(name)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.name }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Người thực hiện -->
              <template #cell(hoten)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.username }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số lượng -->
              <template #cell(so_luong)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.so_luong }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số tiền -->
              <template #cell(tong_tien)="data">
                <div>
                  {{ Number(data.item.tong_tien).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
                </div>
              </template>
              <!-- Column: Ngày thực hiện -->
              <template #cell(created)="data">
                <div class="text-left">
                  {{
                    moment(String(data.item.created)).format('DD/MM/YYYY HH:mm:ss')
                  }}
                </div>
              </template>
              <!-- A virtual trang_thai column -->
              <template #cell(trang_thai)="data">
                <div v-if="data.item.trang_thai === 'Chờ duyệt'">
                  <b-badge variant="light-warning">
                    Chờ duyệt
                  </b-badge>
                </div>
                <div v-else-if="data.item.trang_thai === 'Đã duyệt'">
                  <b-badge variant="light-success">
                    Đã duyệt
                  </b-badge>
                </div>
              </template>
              <!-- Column: Ghi chú -->
              <template #cell(ghi_chu)="data">
                <div>
                  {{ data.item.ghi_chu }}
                </div>
              </template>
              <!-- Column: actions -->
              <template #cell(actions)="data">
                <b-dropdown
                    variant="link"
                    no-caret
                    dropright
                    :right="$store.state.appConfig.isRTL"
                >

                  <template #button-content>
                    <feather-icon
                        icon="MoreVerticalIcon"
                        size="16"
                        class="align-middle text-body"
                    />
                  </template>
                  <b-dropdown-item @click="xemChiTietDoiQua(data.item.id)">
                    <feather-icon icon="EyeIcon" />
                    <span class="align-middle ml-50">Xem chi tiết</span>
                  </b-dropdown-item>
                </b-dropdown>
              </template>
            </b-table>
            <div class="mx-2 mb-2">
              <b-row>
                <b-col
                    cols="12"
                    sm="6"
                    class="d-flex align-items-center justify-content-center justify-content-sm-start"
                >
                  <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
                </b-col>
                <!-- Pagination -->
                <b-col
                    cols="12"
                    sm="6"
                    class="d-flex align-items-center justify-content-center justify-content-sm-end"
                >

                  <b-pagination
                      v-model="currentPageOne"
                      :total-rows="totalUsers"
                      :per-page="perPageOne"
                      first-number
                      last-number
                      class="mb-0 mt-1 mt-sm-0"
                      prev-class="prev-item"
                      next-class="next-item"
                  >
                    <template #prev-text>
                      <feather-icon
                          icon="ChevronLeftIcon"
                          size="18"
                      />
                    </template>
                    <template #next-text>
                      <feather-icon
                          icon="ChevronRightIcon"
                          size="18"
                      />
                    </template>
                  </b-pagination>

                </b-col>

              </b-row>
            </div>
          </b-tab>
          <b-tab>
            <template slot="title">
              Yêu cầu rút tiền&nbsp;
            </template>
            <b-card-header>
              <b-card-title style="padding-left: 22px">
                Tổng số tiền: <span class="text-success">{{ Number(tongTienDataTwo).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ</span>
              </b-card-title>
              <b-dropdown
                  v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                  variant="flat-primary"
                  dropright
                  text="Chức năng"
                  :right="$store.state.appConfig.isRTL"
              >
                <b-dropdown-item @click="timKiemRutTien()">
                  <feather-icon
                      icon="SearchIcon"
                      class="mr-50"
                  />
                  <span class="align-middle ml-50">Tìm kiếm</span>
                </b-dropdown-item>
                <b-dropdown-item @click="selectAllRowsTwo()">
                  <feather-icon icon="CheckCircleIcon" />
                  <span class="align-middle ml-50">Chọn tất cả</span>
                </b-dropdown-item>
                <b-dropdown-item @click="clearSelectedTwo()">
                  <feather-icon icon="XIcon" />
                  Bỏ chọn
                </b-dropdown-item>
              </b-dropdown>
            </b-card-header>
            <b-table
                ref="refUserTwoListTable"
                class="position-relative"
                empty-text="Không có dữ liệu"
                show-empty
                responsive="sm"
                stacked="md"
                selectable
                :items="fetchRutTien"
                :fields="tableSeacondColumns"
                :sort-by.sync="sortBy"
                primary-key="id"
                :sort-desc.sync="isSortDirDesc"
                @row-selected="onRowSelected"
            >
              <!--        selected-->
              <template #cell(selected)="{ rowSelected }">
                <template v-if="rowSelected">
                  <div class="text-center">
                    <feather-icon icon="CheckSquareIcon" />
                  </div>
                </template>
                <template v-else>
                  <span aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Not selected</span>
                </template>
              </template>
              <!-- A virtual id column -->
              <template #cell(index)="data">
                <p class="text-center">
                  {{ data.index +1 }}
                </p>
              </template>
              <!-- Column: Tên quà tặng -->
              <template #cell(name)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.name }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Người thực hiện -->
              <template #cell(hoten)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.username }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số lượng -->
              <template #cell(so_luong)="data">
                <b-media vertical-align="center">
                  <p class="font-weight-bold d-block text-nowrap text-primary">
                    {{ data.item.so_luong }}
                  </p>
                </b-media>
              </template>
              <!-- Column: Số tiền -->
              <template #cell(cost)="data">
                <div>
                  {{ Number(data.item.cost).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ
                </div>
              </template>
              <!-- Column: Ngày thực hiện -->
              <template #cell(created)="data">
                <div class="text-left">
                  {{
                    moment(String(data.item.created)).format('DD/MM/YYYY HH:mm:ss')
                  }}
                </div>
              </template>
              <!-- A virtual trang_thai column -->
              <template #cell(trang_thai)="data">
                <div v-if="data.item.trang_thai === 'Chờ duyệt'">
                  <b-badge variant="light-warning">
                    Chờ duyệt
                  </b-badge>
                </div>
                <div v-else-if="data.item.trang_thai === 'Đã duyệt'">
                  <b-badge variant="light-success">
                    Đã duyệt
                  </b-badge>
                </div>
              </template>
              <!-- Column: Ghi chú -->
              <template #cell(ghi_chu)="data">
                <div>
                  {{ data.item.ghi_chu }}
                </div>
              </template>
              <!-- Column: actions -->
              <template #cell(actions)="data">
                <b-dropdown
                    variant="link"
                    no-caret
                    dropright
                    :right="$store.state.appConfig.isRTL"
                >

                  <template #button-content>
                    <feather-icon
                        icon="MoreVerticalIcon"
                        size="16"
                        class="align-middle text-body"
                    />
                  </template>

                  <b-dropdown-item @click="xemChiTietRutTien(data.item.id)">
                    <feather-icon icon="EyeIcon" />
                    <span class="align-middle ml-50">Xem chi tiết</span>
                  </b-dropdown-item>
                </b-dropdown>
              </template>
            </b-table>
            <div class="mx-2 mb-2">
              <b-row>
                <b-col
                    cols="12"
                    sm="6"
                    class="d-flex align-items-center justify-content-center justify-content-sm-start"
                >
                  <span class="text-muted">Dòng {{ dataMetaTwo.from }} đến {{ dataMetaTwo.to }} / {{ dataMetaTwo.of }} bản ghi</span>
                </b-col>
                <!-- Pagination -->
                <b-col
                    cols="12"
                    sm="6"
                    class="d-flex align-items-center justify-content-center justify-content-sm-end"
                >

                  <b-pagination
                      v-model="currentPageTwo"
                      :total-rows="totalUsersTwo"
                      :per-page="perPageTwo"
                      first-number
                      last-number
                      class="mb-0 mt-1 mt-sm-0"
                      prev-class="prev-item"
                      next-class="next-item"
                  >
                    <template #prev-text>
                      <feather-icon
                          icon="ChevronLeftIcon"
                          size="18"
                      />
                    </template>
                    <template #next-text>
                      <feather-icon
                          icon="ChevronRightIcon"
                          size="18"
                      />
                    </template>
                  </b-pagination>

                </b-col>

              </b-row>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BDropdown, BDropdownItem,
  BCardTitle, BBadge, BMedia, BTabs, BTab,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import TimKiem from '@/views/giao-dich/rut-tien/TimKiem.vue'
// eslint-disable-next-line import/no-cycle
import rutTienStoreModule from '@/views/giao-dich/rut-tien/rutTienStoreModule'
import moment from 'moment/moment'
// eslint-disable-next-line import/extensions
import TimKiemRutTien from '@/views/giao-dich/rut-tien/TimKiemRutTien'
// eslint-disable-next-line import/extensions
import XemChiTietRutTien from '@/views/giao-dich/rut-tien/XemChiTietRutTien'
// eslint-disable-next-line import/extensions
import XemChiTietDoiQua from '@/views/giao-dich/rut-tien/XemChiTietDoiQua'
import useGiaoDichList from './useGiaoDichList'

export default {
  directives: {
    Ripple,
  },
  components: {
    XemChiTietDoiQua,
    XemChiTietRutTien,
    TimKiemRutTien,
    BBadge,
    TimKiem,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BPagination,
    BDropdown,
    BDropdownItem,
    BMedia,
    BTabs,
    BTab,
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-rut-tien'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, rutTienStoreModule)
    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const isTimKiemSidebarActive = ref(false)
    const isAddNewNoteSidebarActive = ref(false)
    const isTimKiemRutTienSidebarActive = ref(false)
    const isXemChiTietRutTienSidebarActive = ref(false)
    const isXemChiTietDoiQuaSidebarActive = ref(false)

    const {
      fieldsTimKiem,
      fieldsTimKiemTwo,
      thucHienTimKiem,
      thucHienTimKiemTwo,
      fetchUsers,
      fetchRutTien,
      deleteOrder,
      xacNhanRutTien,
      tableColumns,
      tableSeacondColumns,
      perPageOne,
      perPageTwo,
      currentPageOne,
      currentPageTwo,
      totalUsers,
      totalUsersTwo,
      dataMeta,
      dataMetaTwo,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      refetchTwoData,
      refUserTwoListTable,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      tongTienData,
      tongTienDataTwo,

    } = useGiaoDichList()

    return {
      fieldsTimKiem,
      fieldsTimKiemTwo,
      thucHienTimKiem,
      thucHienTimKiemTwo,
      fetchUsers,
      fetchRutTien,
      // Sidebar
      moment,
      isAddNewNoteSidebarActive,
      isTimKiemSidebarActive,
      isTimKiemRutTienSidebarActive,
      isXemChiTietRutTienSidebarActive,
      isXemChiTietDoiQuaSidebarActive,
      xacNhanRutTien,
      deleteOrder,
      tableColumns,
      tableSeacondColumns,
      perPageOne,
      perPageTwo,
      currentPageOne,
      currentPageTwo,
      totalUsers,
      totalUsersTwo,
      dataMeta,
      dataMetaTwo,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      refetchTwoData,
      refUserTwoListTable,
      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      tongTienData,
      tongTienDataTwo,
    }
  },

  data() {
    return {
      selected: [],
      selectAll: false,
      tongTien: 0,
    }
  },
  mounted() {
    this.$root.$on('timKiemGiaoDich', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
    this.$root.$on('timKiemRutTien', data => {
      this.isTimKiemRutTienSidebarActive = false

      this.fieldsTimKiemTwo = data
      this.thucHienTimKiemTwo = true
      this.refetchTwoData()
    })
  },
  methods: {
    onRowSelected(items) {
      this.donHangDaChon = items
      this.tongTien = 0
      Object.keys(items).forEach(key => {
        if (items[key].trang_thai_giao_dich !== 'Chờ xác minh') {
          if (items[key].loai_giao_dich === 'Nạp tiền' || items[key].loai_giao_dich === 'Hoàn tiền đơn hàng') this.tongTien += Number(items[key].so_tien_giao_dich)
          else this.tongTien -= Number(items[key].so_tien_giao_dich)
        }
      })
    },
    selectAllRows() {
      this.$refs.refUserListTable.selectAllRows()
    },
    clearSelected() {
      this.$refs.refUserListTable.clearSelected()
    },
    selectAllRowsTwo() {
      this.$refs.refUserTwoListTable.selectAllRows()
    },
    clearSelectedTwo() {
      this.$refs.refUserTwoListTable.clearSelected()
    },
    timKiem() {
      this.isTimKiemSidebarActive = true
    },
    timKiemRutTien() {
      this.isTimKiemRutTienSidebarActive = true
    },
    xemChiTietRutTien(id) {
      this.isXemChiTietRutTienSidebarActive = true
      this.$root.$emit('xemChiTietRutTien', id)
    },
    xemChiTietDoiQua(id) {
      this.isXemChiTietDoiQuaSidebarActive = true
      this.$root.$emit('xemChiTietDoiQua', id)
    },
    themGhiChu(id) {
      this.isAddNewNoteSidebarActive = true
      this.$root.$emit('themGhiChu', id)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
