<template>
  <b-sidebar
      id="add-new-user-sidebar"
      :visible="isXemChiTietRutTienSidebarActive"
      bg-variant="white"
      sidebar-class="sidebar-lg"
      shadow
      backdrop
      no-header
      right
      @hidden="resetForm"
      @change="(val) => $emit('update:is-xem-chi-tiet-rut-tien-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Chi tiết giao dịch
        </h5>

        <feather-icon
            class="ml-1 cursor-pointer"
            icon="XIcon"
            size="16"
            @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
            class="p-2"
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
        >

          <!-- Tên khách hàng -->
          <validation-provider
              #default="validationContext"
              name="Tên khách hàng"
              rules="required"
          >
            <b-form-group
                label="Tên khách hàng"
                label-for="ten_khach_hang"
            >
              <b-form-input
                  id="ten_khach_hang"
                  v-model="ho_ten"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Username -->
          <validation-provider
              #default="validationContext"
              name="Username"
              rules="required"
          >
            <b-form-group
                label="Tên đăng nhập"
                label-for="username"
            >
              <b-form-input
                  id="username"
                  v-model="userData.username"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Tên chiến dịch -->
          <validation-provider
              #default="validationContext"
              name="Tên chiến dịch"
          >
            <b-form-group
                label="Tên chiến dịch"
                label-for="name_chien_dich"
            >
              <b-form-input
                  id="name_chien_dich"
                  v-model="chien_dich"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Số tiền -->
          <validation-provider
              #default="validationContext"
              name="Cost"
          >
            <b-form-group
                label="Số tiền"
                label-for="cost"
            >
              <b-form-input
                  id="cost"
                  v-model="userData.cost"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Ngân hàng -->
          <validation-provider
              #default="validationContext"
              name="Ngân hàng"
          >
            <b-form-group
                label="Ngân hàng"
                label-for="bank_name"
            >
              <b-form-input
                  id="bank_name"
                  v-model="userData.bank_name"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Số tài khoản -->
          <validation-provider
              #default="validationContext"
              name="Số tài khoản"
          >
            <b-form-group
                label="Số tài khoản"
                label-for="bank_number"
            >
              <b-form-input
                  id="bank_number"
                  v-model="userData.bank_number"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Trạng thái -->
          <validation-provider
              #default="validationContext"
              name="Trạng thái"
          >
            <b-form-group
                label="Trạng thái"
                label-for="trang_thai"
            >
              <b-form-input
                  id="trang_thai"
                  v-model="userData.trang_thai"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Ngày thực hiện -->
          <validation-provider
              #default="validationContext"
              name="Ngày thực hiện"
          >
            <b-form-group
                label="Ngày thực hiện"
                label-for="created"
            >
              <b-form-input
                  id="created"
                  v-model="userData.created"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import moment from 'moment/moment'

export default {
  components: {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isXemChiTietRutTienSidebarActive',
    event: 'update:is-xem-chi-tiet-rut-tien-sidebar-active',
  },
  props: {
    isXemChiTietRutTienSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      ho_ten: '',
      chien_dich: '',
      bank_number: '',
      bank_name: '',
    }
  },
  mounted() {
    const currentUser = getUserData()
    // eslint-disable-next-line camelcase
    this.$root.$on('xemChiTietRutTien', id => {
      store.state.showBlock = true
      store
        .dispatch('app-rut-tien/xemChiTietRutTien', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          giaoDich: id,
        })
        .then(response => {
          store.state.showBlock = false
          this.userData = response.data.giaoDich
          this.ho_ten = response.data.hoTen
          this.chien_dich = response.data.chienDich
          this.userData.created = moment(String(this.userData.created)).format('DD/MM/YYYY HH:mm:ss')
          this.userData.cost = Number(this.userData.cost).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 })
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const loaiDanhMuc = [
      { label: 'Chi phí', value: 'Chi phí' },
      { label: 'Kho hàng', value: 'Kho hàng' },
    ]
    const blankUserData = {
      id: '',
      name: '',
      type: '',
      active: 1,
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true

      const oldKhuVucData = userData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/xemChiTiet', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      loaiDanhMuc,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
