<template>
  <div>
    <b-card
      no-body
      m-0
    >
      <b-card-header>
        <b-card-title>Thống kê doanh số, Đầu tư</b-card-title>
      </b-card-header>
      <b-card-body>
        <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
        >
          <b-form
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
          >
            <b-row>
              <b-col
                cols="12"
                md="2"
              >
                <!-- Nhóm -->
                <validation-provider
                  #default="validationContext"
                  name="Nhóm"
                  rules="required"
                >
                  <b-form-group
                    label="Nhóm"
                    label-for="loai-thong-ke"
                  >
                    <v-select
                      v-model="FormThongKeDaiLyData.loai_thong_ke"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="loaiThongKe"
                      :clearable="false"
                      input-id="loai-thong-ke"
                      :state="getValidationState(validationContext)"
                    />
                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <b-col
                cols="12"
                md="9"
                :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? 'hidden' : ''"
              >
                <b-row>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Từ tháng"
                    >
                      <b-form-group
                        label="Từ tháng"
                        label-for="tu-thang"
                      >
                        <v-select
                          v-model="FormThongKeDaiLyData.tu_thang"
                          :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="thang"
                          :clearable="true"
                          input-id="tu-thang"
                          :state="getValidationState(validationContext)"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Từ năm"
                    >
                      <b-form-group
                        label="Từ năm"
                        label-for="tu-nam"
                      >
                        <b-form-input
                          id="tu-nam"
                          v-model="FormThongKeDaiLyData.tu_nam"
                          type="number"
                          placeholder="2021"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Đến tháng"
                    >
                      <b-form-group
                        label="Đến tháng"
                        label-for="den-thang"
                      >
                        <v-select
                          v-model="FormThongKeDaiLyData.den_thang"
                          :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="thang"
                          :clearable="true"
                          input-id="den-thang"
                          :state="getValidationState(validationContext)"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="đến năm"
                    >
                      <b-form-group
                        label="Đến năm"
                        label-for="den-nam"
                      >
                        <b-form-input
                          id="den-nam"
                          v-model="FormThongKeDaiLyData.den_nam"
                          type="number"
                          placeholder="2021"
                        />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                </b-row>
              </b-col>
              <b-col
                cols="12"
                md="9"
                :class="FormThongKeDaiLyData.loai_thong_ke.key === 'Theo ngày'? '' : 'hidden'"
              >
                <b-row>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Từ ngày"
                    >
                      <b-form-group
                        label="Từ ngày"
                        label-for="tu-ngay"
                      >
                        <flat-pickr
                          id="tu-ngay"
                          v-model="FormThongKeDaiLyData.tu_ngay"
                          class="form-control"
                          :config="configDate"
                          placeholder="Chọn ngày"
                          :state="getValidationState(validationContext)"
                          trim
                        />
                        <b-form-invalid-feedback>
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                  <b-col
                    cols="12"
                    md="3"
                  >
                    <validation-provider
                      #default="validationContext"
                      name="Đến ngày"
                    >
                      <b-form-group
                        label="Đến ngày"
                        label-for="den-ngay"
                      >
                        <flat-pickr
                          id="den-ngay"
                          v-model="FormThongKeDaiLyData.den_ngay"
                          class="form-control"
                          :config="configDate"
                          placeholder="Chọn ngày"
                          :state="getValidationState(validationContext)"
                          trim
                        />
                        <b-form-invalid-feedback>
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>
                </b-row>
              </b-col>
              <b-col
                cols="12"
                md="1"
              >
                <div class="mt-2">
                  <b-button
                    v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                    variant="success"
                    class="btn-icon rounded-circle"
                    type="submit"
                  >
                    <feather-icon icon="SearchIcon" />
                  </b-button>
                </div>

              </b-col>
            </b-row>

          </b-form>
        </validation-observer>

        <b-row>
          <b-col
            cols="12"
            md="4"
          >
            <h4>TT ĐẦU TƯ: <span class="text-primary">{{ Number( this.tongTienDauTu).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> <span class="text-muted">VNĐ</span> </h4>
          </b-col>
          <b-col
            cols="12"
            md="4"
          >
            <h4>TT DOANH SỐ: <span class="text-success">{{ Number( this.tongDoanhSo).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> <span class="text-muted">VNĐ</span> </h4>
          </b-col>
          <b-col
            cols="12"
            md="4"
          >
            <h4>TT LỢI NHUẬN: <span class="text-danger">{{ Number( this.tongLoiNhuan).toLocaleString('vi', {minimumFractionDigits: 0}) }}</span> <span class="text-muted">VNĐ</span> </h4>
          </b-col>
        </b-row>
        <b-table
          ref="refDoanhSoTable"
          :items="tableData"
          empty-text=""
          show-empty
          primary-key="ngay"
          :fields="fieldColumns"
          responsive="sm"
          stacked="md"
        >
          <template #thead-top="data">
            <b-tr>
              <b-th
                colspan="2"
              />
              <b-th
                colspan="4"
                variant="secondary"
                class="text-center"
              >
                <span>TIỀN ĐẦU TƯ {{ data.index }}</span>
              </b-th>
              <b-th
                colspan="4"
                variant="primary"
                class="text-center"
              >
                <span>DOANH SỐ</span>
              </b-th>
              <b-th
                colspan="2"
              />
            </b-tr>
          </template>

          <template #cell(gia_von)="data">
            <div class="text-right">
              {{ data.item.gia_von != null ? Number( data.item.gia_von).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>
          <template #cell(khuyen_mai)="data">
            <div class="text-right">
              {{ data.item.khuyen_mai != null ? Number( data.item.khuyen_mai).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>
          <template #cell(so_tien)="data">
            <div class="text-right">
              {{ data.item.so_tien != null ? Number( data.item.so_tien).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>
          <template #cell(gia_von_doanh_thu)="data">
            <div class="text-right">
              {{ data.item.gia_von_doanh_thu != null ? Number( data.item.gia_von_doanh_thu).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>
          <template #cell(so_tien_doanh_thu)="data">
            <div class="text-right">
              {{ data.item.so_tien_doanh_thu != null ? Number( data.item.so_tien_doanh_thu).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>
          <template #cell(loi_nhuan)="data">
            <div class="text-right">
              <b-link @click="xemChiTietLoiNhuan(data.item)">
                {{ data.item.loi_nhuan != null ? Number( data.item.loi_nhuan).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
              </b-link>
            </div>
          </template>
          <template #cell(khuyen_mai_doanh_thu)="data">
            <div class="text-right">
              {{ data.item.khuyen_mai_doanh_thu != null ? Number( data.item.khuyen_mai_doanh_thu).toLocaleString('vi', {minimumFractionDigits: 0}) : '0' }}
            </div>
          </template>

        </b-table>
      </b-card-body>
    </b-card>

    <chi-tiet-loi-nhuan :dai-ly="this.daiLy" />
  </div>
</template>

<script>
import {
  BCard, BCardHeader, BCardTitle, BTable, BTh, BTr,
  BRow, BCol, BCardBody, BFormInput, BForm, BFormGroup,
  BFormInvalidFeedback, BButton, BLink,
} from 'bootstrap-vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { onUnmounted, ref } from '@vue/composition-api'
import store from '@/store'
import flatPickr from 'vue-flatpickr-component'
import userStoreModule from '@/views/users/userStoreModule'
import vSelect from 'vue-select'
import { required } from '@validations'
import Ripple from 'vue-ripple-directive'
import ChiTietLoiNhuan from '@/views/users/dai-ly/view/thong-ke/ChiTietLoiNhuan.vue'
import { getUserData } from '@/auth/utils'

export default {
  directives: {
    Ripple,
  },
  components: {
    ChiTietLoiNhuan,
    BLink,
    BFormGroup,
    BButton,
    BCardBody,
    BFormInvalidFeedback,
    BFormInput,
    BForm,
    flatPickr,
    BTh,
    BRow,
    BCol,
    BTr,
    BTable,
    BCardTitle,
    BCardHeader,
    vSelect,
    ValidationProvider,
    ValidationObserver,
    BCard,
  },
  props: {
    daiLy: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      required,
      tableData: [],
      tongTienDauTu: 0,
      tongDoanhSo: 0,
      tongLoiNhuan: 0,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
      loaiThongKe: [
        { key: 'Theo ngày', label: 'Theo ngày' },
        { key: 'Theo tháng', label: 'Theo tháng' },
      ],
      thongKeNgay: false,
      thang: [
        { key: 1, label: 'Tháng 1' },
        { key: 2, label: 'Tháng 2' },
        { key: 3, label: 'Tháng 3' },
        { key: 4, label: 'Tháng 4' },
        { key: 5, label: 'Tháng 5' },
        { key: 6, label: 'Tháng 6' },
        { key: 7, label: 'Tháng 7' },
        { key: 8, label: 'Tháng 8' },
        { key: 9, label: 'Tháng 9' },
        { key: 10, label: 'Tháng 10' },
        { key: 11, label: 'Tháng 11' },
        { key: 12, label: 'Tháng 12' },
      ],
      fieldColumns: [
        { key: 'stt', label: 'STT' },
        { key: 'ngay', label: 'Ngày' },
        { key: 'so_bai', label: 'Số bài' },
        { key: 'gia_von', label: 'Giá vốn' },
        { key: 'khuyen_mai', label: 'Khuyến mãi' },
        { key: 'so_tien', label: 'Số tiền' },

        { key: 'so_bai_doanh_thu', label: 'Số bài' },
        { key: 'gia_von_doanh_thu', label: 'Giá bán' },
        { key: 'khuyen_mai_doanh_thu', label: 'Khuyến mãi' },
        { key: 'so_tien_doanh_thu', label: 'Số tiền' },
        { key: 'loi_nhuan', label: 'Lợi nhuận' },
        { key: 'ghi_chu', label: 'Ghi chú' },
      ],
    }
  },
  methods: {
    onSubmit() {
      let choPhepThongKe = false
      const currentUser = getUserData()
      if (this.FormThongKeDaiLyData.loai_thong_ke.key === 'Theo tháng') {
        if (this.FormThongKeDaiLyData.tu_thang === '' || this.FormThongKeDaiLyData.den_thang === '' || this.FormThongKeDaiLyData.tu_nam === '' || this.FormThongKeDaiLyData.den_nam === '') {
          this.$swal({
            title: 'Thông báo!',
            text: ' Vui lòng nhập đầy đủ thông tin thống kê từ tháng - năm đến tháng - năm!',
            icon: 'error',
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        } else choPhepThongKe = true
      } else if (this.FormThongKeDaiLyData.tu_ngay === '' || this.FormThongKeDaiLyData.den_ngay === '') {
        this.$swal({
          title: 'Thông báo',
          text: ' Vui lòng nhập đầy đủ thông tin thống kê từ ngày bắt đầu đến ngày kết thúc',
          icon: 'error',
          customClass: {
            confirmButton: 'btn btn-danger',
          },
          buttonsStyling: false,
        })
      } else choPhepThongKe = true

      if (choPhepThongKe) {
        store.state.showBlock = true
        Object.assign(this.FormThongKeDaiLyData, {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          dai_ly: this.daiLy,
        })
        store.dispatch('app-user/thongKe', this.FormThongKeDaiLyData)
          .then(response => {
            this.tableData = response.data.ket_qua
            this.tongTienDauTu = response.data.tongTienDauTu
            this.tongDoanhSo = response.data.tongTienDoanhSo
            this.tongLoiNhuan = response.data.tongLoiNhuan
            this.$refs.refDoanhSoTable.refresh()
            store.state.showBlock = false
          })
          .catch(e => {
            if (typeof e.response !== 'undefined') {
              this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
            } else if (typeof e.message !== 'undefined') {
              this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
            } else {
              this.showToast('danger', 'Thông báo', 'BellIcon', e)
            }
            store.state.showBlock = false
          })
      }
    },
    xemChiTietLoiNhuan(obj) {
      this.$root.$emit('xemChiTietLoiNhuan', obj)
    },
  },
  setup() {
    const blankFormThongKeDaiLyData = {
      loai_thong_ke: { key: 'Theo tháng', label: 'Theo tháng' },
      tu_ngay: '',
      den_ngay: '',
      tu_thang: '',
      tu_nam: '',
      den_thang: '',
      den_nam: '',
    }

    const FormThongKeDaiLyData = ref(JSON.parse(JSON.stringify(blankFormThongKeDaiLyData)))

    const USER_APP_STORE_MODULE_NAME = 'app-y-nghia-cac-con-so'

    const resetuserData = () => {
      FormThongKeDaiLyData.value = JSON.parse(JSON.stringify(blankFormThongKeDaiLyData))
    }

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      FormThongKeDaiLyData,
      resetuserData,
      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
@import '@core/scss/vue/libs/vue-select.scss';

</style>
