<template>
  <b-sidebar
    id="add-new-chien-dich-sidebar"
    :visible="isAddNewChienDichSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-chien-dich-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thêm Offer
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <!-- Image -->
          <validation-provider
            #default="validationContext"
            name="image"
          >
            <b-form-group
              label="Image"
              label-for="image"
            >
              <b-form-file
                id="image"
                v-model="userData.image"
                placeholder="Chọn file(s)..."
                drop-placeholder="Chọn file(s).."
                accept="image/jpeg, image/png, image/gif"
                @change="selectedFileTruoc($event)"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- ma_chien_dich -->
          <validation-provider
            #default="validationContext"
            name="ma_chien_dich"
            rules="required"
          >
            <b-form-group
              label="Mã chiến dịch"
              label-for="ma_chien_dich"
            >
              <b-form-input
                id="ma_chien_dich"
                v-model="userData.ma_chien_dich"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- title -->
          <validation-provider
            #default="validationContext"
            name="title"
          >
            <b-form-group
              label="Title"
              label-for="title"
            >
              <b-form-input
                id="title"
                v-model="userData.title"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Network -->
          <validation-provider
            #default="validationContext"
            name="network_id"
          >
            <b-form-group
              label="Network"
              label-for="network_id"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.type"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="networkOptions"
                :clearable="true"
                input-id="network_id"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Offer Category -->
          <validation-provider
            #default="validationContext"
            name="category_id"
          >
            <b-form-group
              label="Offer Category"
              label-for="category_id"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.category_id"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="categoryOptions"
                :clearable="true"
                input-id="category_id"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Offer Type -->
          <validation-provider
            #default="validationContext"
            name="type_id"
          >
            <b-form-group
              label="Offer Type"
              label-for="type_id"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.type_id"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="typeOptions"
                :clearable="true"
                input-id="type_id"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Devide -->
          <validation-provider
            #default="validationContext"
            name="devide_id"
          >
            <b-form-group
              label="Devide"
              label-for="devide_id"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.devide_id"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="devideOptions"
                :clearable="true"
                input-id="devide_id"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Track Link -->
          <validation-provider
            #default="validationContext"
            name="track_link"
          >
            <b-form-group
              label="Track Link"
              label-for="track_link"
            >
              <b-form-input
                id="track_link"
                v-model="userData.track_link"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Preview offer -->
          <validation-provider
            #default="validationContext"
            name="preview_offer"
          >
            <b-form-group
              label="Preview Offer"
              label-for="preview_offer"
            >
              <b-form-input
                id="preview_offer"
                v-model="userData.preview_offer"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Hoa hồng từ nét -->
          <validation-provider
            #default="validationContext"
            name="hoa_hong_tu_net"
          >
            <b-form-group
              label="Hoa hồng từ nét"
              label-for="hoa_hong_tu_net"
            >
              <cleave
                id="hoa_hong_tu_net"
                v-model="userData.hoa_hong_tu_net"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- loai_hoa_hong -->
          <validation-provider
            #default="validationContext"
            name="type_hoa_hong"
          >
            <b-form-group
              label="Loại hoa hồng"
              label-for="type_hoa_hong"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.type_hoa_hong"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="PercentOptions"
                :clearable="true"
                input-id="type_hoa_hong"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Capped -->
          <validation-provider
            #default="validationContext"
            name="Capped"
          >
            <b-form-group
              label="Capped"
              label-for="capped"
            >
              <b-form-input
                id="capped"
                v-model="userData.Capped"                autofocus
                :state="getValidationState(validationContext)"
                trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Request -->
          <validation-provider
            #default="validationContext"
            name="Request"
          >
            <b-form-group
              label="Request"
              label-for="Request"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.Request"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="ActiveOptions"
                :clearable="true"
                input-id="Request"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- active -->
          <validation-provider
            #default="validationContext"
            name="active"
          >
            <b-form-group
              label="Active"
              label-for="active"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.active"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="ActiveOptions"
                :clearable="true"
                input-id="active"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- noi_bat -->
          <validation-provider
            #default="validationContext"
            name="noi_bat"
          >
            <b-form-group
              label="Nổi bật"
              label-for="noi_bat"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="userData.noi_bat"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="ActiveOptions"
                :clearable="true"
                input-id="active"
              />
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- vi_tri_hien_thi -->
          <validation-provider
            #default="validationContext"
            name="vi_tri_hien_thi"
          >
            <b-form-group
              label="Vị trí hiện thị"
              label-for="vi_tri_hien_thi"
            >
              <b-form-input
                id="vi_tri_hien_thi"
                v-model="userData.vi_tri_hien_thi"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- conversion requirements -->
          <validation-provider
            #default="validationContext"
            name="conversion_requirements"
          >
            <b-form-group
              label="Conversion Requirements"
              label-for="conversion_requirements"
            >
              <b-form-textarea
                id="conversion_requirements"
                v-model="userData.conversion_requirements"
                placeholder="Ghi chú"
                rows="3"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="CloudIcon"
                class="mr-50"
              />
              Lưu lại
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BButton, BFormGroup, BFormInput, BFormInvalidFeedback, BFormTextarea, BFormFile,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { Vi } from 'flatpickr/dist/l10n/vn'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Cleave from 'vue-cleave-component'
import vSelect from 'vue-select'
import config from '@/config.json'

export default {
  components: {
    vSelect,
    Cleave,
    BSidebar,
    BForm,
    BButton,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormInvalidFeedback,
    BFormFile,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewChienDichSidebarActive',
    event: 'update:is-add-new-chien-dich-sidebar-active',
  },
  props: {
    isAddNewChienDichSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
        locale: Vi, // locale for this instance only
      },
      required,
      ActiveOptions: [
        { value: 1, label: 'ON' },
        { value: 0, label: 'OFF' },
      ],
      PercentOptions: [
        { value: 'Phần trăm', label: 'Phần trăm' },
        { value: 'Tiền mặt', label: 'Tiền mặt' },
      ],
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('themChienDich', id => {
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/load', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
        })
        .then(response => {
          store.state.showBlock = false
          this.userData = response.data.result
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const blankUserData = {
      id: '',
      ma_chien_dich: '',
      title: '',
      network_id: '',
      category_id: '',
      type_id: '',
      device_id: '',
      track_link: '',
      preview_offer: '',
      image: '',
      hoa_hong_tu_net: '',
      Capped: '',
      Request: '',
      active: '',
      conversion_requirements: '',
      noi_bat: '',
      vi_tri_hien_thi: '',
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const networkOptions = ref([])
    const categoryOptions = ref([])
    const typeOptions = ref([])
    const devideOptions = ref([])
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true
      Object.assign(userData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/save', userData.value)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-chien-dich-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
      store.dispatch('app-chien-dich/getLink', userData.value)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-chien-dich-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }
    store
      .dispatch('app-chien-dich/fetchOption', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      .then(response => {
        const {
          network, category, type, devide,
        } = response.data
        networkOptions.value = network
        categoryOptions.value = category
        typeOptions.value = type
        devideOptions.value = devide
      })
      .catch(() => {
      })

    const createImageTruoc = file => {
      const reader = new FileReader()
      reader.onload = e => {
        userData.value.image = e.target.result
      }
      reader.readAsDataURL(file)
    }
    const selectedFileTruoc = event => {
      const files = event.target.files || event.dataTransfer.files
      if (files.length > 0) {
        files.forEach(item => {
          createImageTruoc(item)
        })
      }
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      createImageTruoc,
      networkOptions,
      categoryOptions,
      typeOptions,
      selectedFileTruoc,
      devideOptions,
      userData,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
    getUrl(img) {
      return `${config.apiUrl.mainUrl}images/${img}`
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-chien-dich-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
