<template>
  <b-sidebar
    id="search-sidebar"
    :visible="isChuyenTrangThaiNhieuChienDichSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-chuyen-trang-thai-nhieu-chien-dich-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thay đổi trạng thái
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>
      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver2"
      >
        <b-form
          v-if="chienDich.length > 0"
          class="p-1"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <h4 class="mt-0 text-primary">
            CHIẾN DỊCH ĐÃ CHỌN
          </h4>
          <b-table
            ref="refChienDichDaChon"
            class="position-relative"
            empty-text="Không có dữ liệu"
            show-empty
            responsive="sm"
            stacked="md"
            selectable
            :items="chienDich"
            :fields="tableColumns"
            primary-key="id"
          />

          <!-- Trạng thái mới -->
          <validation-provider
            #default="validationContext"
            name="Trạng thái mới"
          >
            <b-form-group
              label="Trạng thái mới"
              label-for="trang-thai-selection"
            >
              <v-select
                v-model="trangThaiMoi"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="danhSachTrangThai"
                :clearable="true"
                input-id="trang-thai-selection"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex">

            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="DollarSignIcon"
                class="mr-50"
              />
              Chuyển trạng thái
            </b-button>

            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>

          </div>
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BTable, BForm, BButton, BFormGroup,
  BFormInvalidFeedback,
} from 'bootstrap-vue'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import store from '@/store'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { useToast } from 'vue-toastification/composition'
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
    BFormGroup,
    BFormInvalidFeedback,
    ValidationObserver,
    ValidationProvider,
    BForm,
    BButton,
    BSidebar,
    BTable,
    // Form Validation
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isChuyenTrangThaiNhieuChienDichSidebarActive',
    event: 'update:is-chuyen-trang-thai-nhieu-chien-dich-sidebar-active',
  },
  props: {
    isChuyenTrangThaiNhieuChienDichSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      chienDich: [],
      danhSachTrangThai: [],
      tableColumns: [
        { key: 'title', label: 'Tên chiến dịch' },
        { key: 'trang_thai', label: 'Trạng thái' },
      ],
      trangThaiMoi: null,
    }
  },
  setup(props, { emit }) {
    const toast = useToast()

    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const blankUserData = {
      donHang: [],
      khachHang: null,
    }
    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const submit = (chienDich, trangThaiMoi) => {
      const currentUser = getUserData()
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/chuyenTrangThaiNhieuChienDich', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich,
          trangThaiMoi,
        })
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          store.state.showBlock = false
          emit('refetch-data')
          emit('update:is-chuyen-trang-thai-nhieu-chien-dich-sidebar-active', false)
        })
        .catch(e => {
          store.state.showBlock = false
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
      submit,
    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('chuyenTrangThaiNhieuChienDich', chienDichDaChon => {
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/chuyenTrangThaiNhieuChienDich', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDichDaChon,
        })
        .then(response => {
          store.state.showBlock = false
          this.chienDich = response.data.chienDich
          this.danhSachTrangThai = response.data.trangThai
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  methods: {
    onSubmit() {
      this.submit(this.chienDich, this.trangThaiMoi)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
