<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <chuyen-trang-thai-nhieu-chien-dich
      :is-chuyen-trang-thai-nhieu-chien-dich-sidebar-active.sync="isChuyenTrangThaiNhieuChienDichSidebarActive"
      @refetch-data="refetchData"
    />
    <chuyen-noi-bat-nhieu-chien-dich
      :is-chuyen-noi-bat-nhieu-chien-dich-sidebar-active.sync="isChuyenNoiBatNhieuChienDichSidebarActive"
      @refetch-data="refetchData"
    />
    <tim-kiem
      :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
      @refetch-data="refetchData"
    />
    <xem-chi-tiet
      :is-add-new-user-sidebar-active.sync="isXemChiTietSidebarActive"
      @refetch-data="refetchData"
    />
    <update-thong-tin
      :is-update-sidebar-active.sync="isUpdateSidebarActive"
      @refetch-data="refetchData"
    />

    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Offers</b-card-title>

        <b-dropdown
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
          dropright
          text="Chức năng"
          :right="$store.state.appConfig.isRTL"
        >
          <b-dropdown-item @click="redirectToLink('/them-chien-dich')">
            <feather-icon
              icon="PlusIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Thêm chiến dịch</span>
          </b-dropdown-item>
          <b-dropdown-item @click="isTimKiemSidebarActive = true">
            <feather-icon
              icon="SearchIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Tìm kiếm</span>
          </b-dropdown-item>
          <b-dropdown-item @click="refreshTable()">
            <feather-icon
              icon="RefreshCcwIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Cập nhật</span>
          </b-dropdown-item>
          <b-dropdown-item @click="selectAllRows()">
            <feather-icon icon="CheckCircleIcon" />
            <span class="align-middle ml-50">Chọn tất cả</span>
          </b-dropdown-item>
          <b-dropdown-item @click="clearSelected()">
            <feather-icon icon="XIcon" />
            Bỏ chọn
          </b-dropdown-item>
          <b-dropdown-item
            @click="chuyenTrangThai()"
          >
            <feather-icon
              icon="TrendingUpIcon"
            />
            <span class="align-middle ml-50">Chuyển trạng thái</span>
          </b-dropdown-item>
          <b-dropdown-item @click="chuyenNoiBat()">
            <feather-icon
              icon="CheckCircleIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Nổi bật</span>
          </b-dropdown-item>
          <b-dropdown-item
            @click="xoaNhieuChienDichFunc()"
          >
            <feather-icon
              icon="TrashIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Xóa</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-card-header>

      <b-table
        ref="refChienDichListTable"
        class="position-relative"
        empty-text="Không có dữ liệu"
        show-empty
        responsive="sm"
        stacked="md"
        selectable
        :items="fetchChienDichs"
        :fields="tableColumns"
        :sort-by.sync="sortBy"
        :sort-desc.sync="isSortDirDesc"
        @row-selected="onRowSelected"
      >

        <!-- A virtual id column -->
        <template #cell(id)="data">
          <p class="text-center">
            {{ data.id }}
          </p>
        </template>

        <!-- selected-->
        <template #cell(selected)="{ rowSelected }">
          <template v-if="rowSelected">
            <div class="text-center">
              <feather-icon icon="CheckSquareIcon" />
            </div>
          </template>
          <template v-else>
            <span aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Not selected</span>
          </template>
        </template>

        <!-- A virtual image column -->
        <template #cell(image)="data">
          <b-link
            href="#"
            @click="getLink(data.item.id)"
          >
            <b-img
              :src="data.item.image"
              fluid
              alt="Responsive image"
              width="80"
            />
          </b-link>
        </template>

        <!-- A virtual ma_chien_dich column -->
        <template #cell(title)="data">
          <b-link
            href="#"
            @click="xemChiTiet(data.item.id)"
          >
            {{ data.item.title }}
          </b-link>
          <br>
          <strong>Chi phí:</strong> {{ Number( data.item.chi_phi_chien_dich).toLocaleString('vi', {minimumFractionDigits: 0}) }}
        </template>

        <!-- A virtual hoa_hong_tu_net column -->
        <template #cell(hoa_hong_tu_net)="data">
          <div v-if="data.item.type_hoa_hong">
            <div v-if="data.item.type_hoa_hong == 'Tiền mặt'">
              <strong> Net: </strong> {{ Number(data.item.hoa_hong_tu_net).toLocaleString('vi', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }} VNĐ<br>
              <strong>Capped:</strong> {{ Number(data.item.Capped).toLocaleString('vi', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }} %
            </div>
            <div v-if="data.item.type_hoa_hong == 'Phần trăm'">
              <strong>Net:</strong> {{ Number(data.item.hoa_hong_tu_net).toLocaleString('vi', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }} %<br>
              <strong>Capped:</strong> {{ Number(data.item.Capped).toLocaleString('vi', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }} %
            </div>
          </div>
        </template>

        <!-- A virtual noi_bat column -->
        <template #cell(noi_bat)="data">
          <div v-if="data.item.noi_bat == 1">
            <p class="text-center">
              <b-avatar
                size="32"
                variant="light-success"
              >
                <feather-icon
                  icon="CheckIcon"
                />
              </b-avatar>
            </p>
          </div>
        </template>

        <!-- A virtual vi_tri_hien_thi column -->
        <template #cell(vi_tri_hien_thi)="data">
          <p class="text-center">
            {{ data.item.vi_tri_hien_thi + 1 }}
          </p>
        </template>

        <!-- A virtual trang_thai column -->
        <template #cell(trang_thai)="data">
          <div v-if="data.item.trang_thai == 'Hoạt động'">
            <p class="text-center">
              <b-avatar
                size="32"
                variant="light-success"
              >
                <feather-icon
                  icon="CheckIcon"
                />
              </b-avatar>
            </p>
          </div>
          <div v-else>
            <p class="text-center">
              <b-avatar
                size="32"
                variant="light-danger"
              >
                <feather-icon
                  icon="XIcon"
                />
              </b-avatar>
            </p>
          </div>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown
            variant="link"
            no-caret
            dropright
            :right="$store.state.appConfig.isRTL"
          >

            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <b-dropdown-item @click="xemChiTiet(data.item.id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Sửa</span>
            </b-dropdown-item>
            <b-dropdown-item @click="nhanDoiApp(data.item.id)">
              <feather-icon icon="CopyIcon" />
              <span class="align-middle ml-50">Nhân đôi App</span>
            </b-dropdown-item>
            <b-dropdown-item
              @click="handleNoiBat(data.item.id)"
            >
              <feather-icon icon="CheckCircleIcon" />
              <span class="align-middle ml-50">Nổi bật</span>
            </b-dropdown-item>
            <b-dropdown-item
              @click="handleTrangThai(data.item.id)"
            >
              <feather-icon icon="RefreshCcwIcon" />
              <span class="align-middle ml-50">Thay trạng thái</span>
            </b-dropdown-item>
            <b-dropdown-item
              @click="suaThongTin(data.item.id, 'thay_vi_tri')"
            >
              <feather-icon icon="ChevronsUpIcon" />
              <span class="align-middle ml-50">Thay vị trí</span>
            </b-dropdown-item>
            <div v-if="data.item.danh_muc_id === 92">
              <b-dropdown-item
                  @click="suaThongTin(data.item.id, 'thay_tien_thuong')"
              >
                <feather-icon icon="DollarSignIcon" />
                <span class="align-middle ml-50">Cập nhật tiền thưởng</span>
              </b-dropdown-item>
            </div>
            <b-dropdown-item
              @click="suaThongTin(data.item.id, 'thay_hoa_hong')"
            >
              <feather-icon icon="TrendingUpIcon" />
              <span class="align-middle ml-50">Cập nhật hoa hồng</span>
            </b-dropdown-item>
            <b-dropdown-item
              @click="suaThongTin(data.item.id, 'thay_link', data.item.track_link)"
            >
              <feather-icon icon="LinkIcon" />
              <span class="align-middle ml-50">Thay link</span>
            </b-dropdown-item>
            <b-dropdown-item
              @click="xoaChienDichFunc(data.item.id)"
            >
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Xóa</span>
            </b-dropdown-item>

          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalChienDichs"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BPagination, BDropdown, BDropdownItem, BImg,
  BCardTitle, BAvatar, BLink,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import moment from 'moment'
// eslint-disable-next-line import/extensions
import XemChiTiet from '@/views/kiem-tien/XemChiTiet'
import { getUserData } from '@/auth/utils'
// eslint-disable-next-line import/extensions
import config from '@/config.json'
import TimKiem from './TimKiem.vue'
import ChuyenTrangThaiNhieuChienDich from './ChuyenTrangThaiNhieuChienDich.vue'
import ChuyenNoiBatNhieuChienDich from './ChuyenNoiBatNhieuChienDich.vue'
import chienDichStoreModule from './chienDichStoreModule'
import UpdateThongTin from './UpdateThongTin.vue'
import useChienDichList from './useChienDichList'

export default {
  directives: {
    Ripple,
  },
  components: {
    XemChiTiet,
    ChuyenTrangThaiNhieuChienDich,
    ChuyenNoiBatNhieuChienDich,
    UpdateThongTin,
    TimKiem,
    BLink,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BPagination,
    BDropdown,
    BDropdownItem,
    BImg,
    BAvatar,
  },
  setup() {
    const CHIEN_DICH_APP_STORE_MODULE_NAME = 'app-chien-dich'

    // Register module
    if (!store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.registerModule(CHIEN_DICH_APP_STORE_MODULE_NAME, chienDichStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.unregisterModule(CHIEN_DICH_APP_STORE_MODULE_NAME)
    })

    const isAddNewChienDichSidebarActive = ref(false)
    const isTimKiemSidebarActive = ref(false)
    const isXemChiTietSidebarActive = ref(false)
    const {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchChienDichs,
      xoaChienDich,
      xoaNhieuChienDich,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useChienDichList()

    const statusOptions = [
      { label: 'Pending', value: 'pending' },
      { label: 'Active', value: 'active' },
      { label: 'Inactive', value: 'inactive' },
    ]
    const isUpdateSidebarActive = ref(false)
    const isChuyenTrangThaiNhieuChienDichSidebarActive = ref(false)
    const isChuyenNoiBatNhieuChienDichSidebarActive = ref(false)

    return {
      // Sidebar
      fieldsTimKiem,
      thucHienTimKiem,
      isUpdateSidebarActive,
      isAddNewChienDichSidebarActive,
      isTimKiemSidebarActive,
      isXemChiTietSidebarActive,
      fetchChienDichs,
      xoaChienDich,
      xoaNhieuChienDich,
      tableColumns,
      perPage,
      currentPage,
      totalChienDichs,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refChienDichListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      statusOptions,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      moment,
      isChuyenTrangThaiNhieuChienDichSidebarActive,
      isChuyenNoiBatNhieuChienDichSidebarActive,
    }
  },
  data() {
    return {
      selected: [],
      selectAll: false,
    }
  },
  mounted() {
    this.$root.$on('timKiemOffers', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
  },
  methods: {
    getUrl(img) {
      return `${config.apiUrl.mainUrl}images/${img}`
    },
    xoaChienDichFunc(id) {
      this.$swal({
        title: 'Bạn có chắc chắn thực hiện việc này?',
        text: 'Dữ liệu sau khi xóa không thể phục hồi!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Đồng ý!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.xoaChienDich(id, () => {
            this.$refs.refChienDichListTable.refresh()
          }, () => {
            this.$store.state.showBlock = true
          }, () => {
            this.$store.state.showBlock = false
            // eslint-disable-next-line no-shadow
          }, (message, type) => {
            this.showToast(type, 'Thông báo', 'BellIcon', 'Xóa chiến dịch thành công')
          })
        }
      }).catch(() => {
      })
    },
    xoaNhieuChienDichFunc() {
      if (typeof this.chienDichDaChon === 'undefined') this.showToast('danger', 'Thông báo', 'bell', 'Vui lòng chọn ít nhất 1 chiến dịch')
      else {
        this.$swal({
          title: 'Bạn có chắc chắn thực hiện việc này?',
          text: 'Dữ liệu sau khi xóa không thể phục hồi!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Đồng ý!',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.xoaNhieuChienDich(this.chienDichDaChon, () => {
              this.$refs.refChienDichListTable.refresh()
            }, () => {
              this.$store.state.showBlock = true
            }, () => {
              this.$store.state.showBlock = false
            }, (message, type) => {
              this.showToast(type, 'Thông báo', 'BellIcon', message)
            })
          }
        }).catch(() => {
        })
      }
    },
    xemChiTiet(id) {
      this.isXemChiTietSidebarActive = true
      this.$root.$emit('xemChiTiet', id)
    },
    redirectToLink(link) {
      window.location.href = link
    },
    onRowSelected(items) {
      this.chienDichDaChon = items
    },
    clearSelected() {
      this.$refs.refChienDichListTable.clearSelected()
    },
    selectAllRows() {
      this.$refs.refChienDichListTable.selectAllRows()
    },
    chuyenTrangThai() {
      if (typeof this.chienDichDaChon === 'undefined') this.showToast('danger', 'Thông báo', 'bell', 'Vui lòng chọn ít nhất 1 chiến dịch')
      else {
        const currentUser = getUserData()
        store.state.showBlock = true

        store
          .dispatch('app-chien-dich/chuyenTrangThaiNhieuChienDich', {
            auth: currentUser.auth_key,
            uid: currentUser.id,
            chienDichDaChon: this.chienDichDaChon,
          })
          .then(response => {
            this.$refs.refChienDichListTable.refresh()
            store.state.showBlock = false
            this.chienDich = response.data.chienDich
            this.danhSachTrangThai = response.data.trangThai
          })
          .catch(e => {
            this.$refs.refChienDichListTable.refresh()
            store.state.showBlock = false
            this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          })
        this.$refs.refChienDichListTable.refresh()
      }
    },
    nhanDoiApp(chienDich) {
      const currentUser = getUserData()
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/nhanDoiApp', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          id: chienDich,
        })
        .then(response => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.chienDich = response.data.chienDich
        })
        .catch(e => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
      this.$refs.refChienDichListTable.refresh()
    },
    chuyenNoiBat() {
      if (typeof this.chienDichDaChon === 'undefined') this.showToast('danger', 'Thông báo', 'bell', 'Vui lòng chọn ít nhất 1 chiến dịch')
      else {
        const currentUser = getUserData()
        store.state.showBlock = true
        store
          .dispatch('app-chien-dich/chuyenNoiBatNhieuChienDich', {
            auth: currentUser.auth_key,
            uid: currentUser.id,
            chienDichDaChon: this.chienDichDaChon,
          })
          .then(response => {
            this.$refs.refChienDichListTable.refresh()
            store.state.showBlock = false
            this.chienDich = response.data.chienDich
            this.danhSachNoiBat = response.data.noiBat
          })
          .catch(e => {
            this.$refs.refChienDichListTable.refresh()
            store.state.showBlock = false
            this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          })
        this.$refs.refChienDichListTable.refresh()
      }
    },
    handleNoiBat(id) {
      const currentUser = getUserData()
      store.state.showBlock = true
      store
        .dispatch('app-chien-dich/chuyenNoiBatNhieuChienDich', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
        })
        .then(response => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.chienDich = response.data.chienDich
          this.danhSachNoiBat = response.data.noiBat
        })
        .catch(e => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
      this.$refs.refChienDichListTable.refresh()
    },
    handleTrangThai(id) {
      const currentUser = getUserData()
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/chuyenTrangThaiNhieuChienDich', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
        })
        .then(response => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.chienDich = response.data.chienDich
          this.danhSachTrangThai = response.data.trangThai
        })
        .catch(e => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
      this.$refs.refChienDichListTable.refresh()
    },
    // eslint-disable-next-line camelcase
    suaThongTin(id, type) {
      this.isUpdateSidebarActive = true
      this.$root.$emit('updateThongTin', id, type)
    },
    themChienDich(id) {
      this.isAddNewChienDichSidebarActive = true
      this.$root.$emit('themChienDich', id)
    },
    refreshTable() {
      this.$refs.refChienDichListTable.refresh()
    },
  },
}
</script>
