<template>
  <b-sidebar
    id="search-sidebar"
    :visible="isUpdateSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-update-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <div v-if="type === 'thay_vi_tri'">
          <h5 class="mb-0">
            Cập nhật vị trí
          </h5>
        </div>
        <div v-else-if="type === 'thay_link'">
          <h5 class="mb-0">
            Cập nhật TrackLink
          </h5>
        </div>
        <div v-else-if="type === 'thay_hoa_hong'">
          <h5 class="mb-0">
            Cập nhật hoa hồng
          </h5>
        </div>
        <div v-else-if="type === 'thay_tien_thuong'">
          <h5 class="mb-0">
            Cập nhật tiền thưởng chiến dịch
          </h5>
        </div>
        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />
      </div>
      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver2"
      >
        <b-form
          class="p-1"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <dl
            v-if="chienDich !== null"
            class="row"
          >
            <dt class="col-sm-5">
              Title:
            </dt>
            <dd class="col-sm-7">
              <div class="text-right">
                {{ chienDich.title }}
              </div>
            </dd>
            <dt
              v-if="type === 'thay_vi_tri'"
              class="col-sm-5"
            >
              Vị trí:
            </dt>
            <dd
              v-if="type === 'thay_vi_tri'"
              class="col-sm-7"
            >
              <div class="text-right">
                {{ vi_tri_hien_thi }}
              </div>
            </dd>
            <dt
              v-if="type === 'thay_link'"
              class="col-sm-5"
            >
              Track link:
            </dt>
            <dd
              v-if="type === 'thay_link'"
              class="col-sm-7"
            >
              <div class="text-right">
                {{ track_link }}
              </div>
            </dd>
            <dt
              v-if="type === 'thay_hoa_hong'"
              class="col-sm-5"
            >
              Hoa hồng:
            </dt>
            <dd
              v-if="type === 'thay_hoa_hong'"
              class="col-sm-7"
            >
              <div class="text-right">
                {{ Number( hoa_hong_tu_net).toLocaleString('vi', {maximumFractionDigits: 2}) }}{{ type_hoa_hong.value === 'Phần trăm' ? ' %' : ' VNĐ' }}
              </div>
            </dd>
          </dl>

          <!-- Vị trí hiện thị -->
          <validation-provider
            v-if="type === 'thay_vi_tri'"
            #default="validationContext"
            name="Vị trí"
          >
            <b-form-group
              label="Vị trí"
              label-for="vi-tri"
            >
              <b-form-input
                id="vi-tri"
                v-model="chienDich.vi_tri_hien_thi"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="10"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          <label><strong>Ảnh mô tả vị trí</strong></label>
            <div v-if="chienDich.danh_muc_id === 73">
              <div class="row" style="padding-bottom: 10px">
              <div class="col-6">
                <img src="../../../api/images/vi-tri-trang-chu.png"  style="width: 240px; margin-left: -20px" alt="Ảnh mô tả vị trí trang chủ">
              </div>
              <div class="col-6">
                <img src="../../../api/images/vi-tri-xem-chi-tiet.png"  style="width: 240px; margin-left: -25px" alt="Ảnh mô tả vị trí xem chi tiết kiếm tiền">
              </div>
              </div>
            </div>
            <div v-else>
              <div style="padding-bottom: 10px">
                <img src="../../../api/images/vi-tri-khac.png"  style="width: 340px; margin-left: -20px" alt="Ảnh mô tả vị trí">
              </div>
            </div>
          </validation-provider>
          <!-- Track Link -->
          <validation-provider
            v-if="type === 'thay_link'"
            #default="validationContext"
            name="Track link"
          >
            <b-form-group
              label="Track link"
              label-for="track-link"
            >
              <b-form-input
                id="track-link"
                v-model="chienDich.track_link"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="10"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- thay_tien_thuong -->
          <validation-provider
            v-if="type === 'thay_tien_thuong'"
            #default="validationContext"
            name="Cập nhật tiền thưởng"
          >
            <b-form-group
              label="Cập nhật tiền thưởng"
              label-for="thay_tien_thuong"
            >

              <cleave
                  id="hoa-hong-tu-net"
                  v-model="chienDich.ti_le_hoan_tien"
                  class="form-control"
                  :raw="false"
                  :state="getValidationState(validationContext)"
                  :options="options.number"
                  placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- thay_tien_thuong -->
          <validation-provider
            v-if="type === 'thay_tien_thuong'"
            #default="validationContext"
            name="Cập nhật tiền thưởng"
          >
            <b-form-group
              label="Loại tiền thưởng"
              label-for="type_hoan_tien"
            >

              <v-select
                  v-model="chienDich.type_hoan_tien"
                  :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="PercentOptions"
                  :clearable="true"
                  input-id="type_hoan_tien"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Hoa hồng từ net -->
          <validation-provider
              v-if="type === 'thay_hoa_hong'"
              #default="validationContext"
              name="Hoa hồng từ nét"
          >
            <b-form-group
                label="Hoa hồng từ nét"
                label-for="hoa-hong-tu-net"
            >
              <cleave
                  id="hoa-hong-tu-net"
                  v-model="chienDich.hoa_hong_tu_net"
                  class="form-control"
                  :raw="false"
                  :state="getValidationState(validationContext)"
                  :options="options.number"
                  placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Type hoa hồng -->
          <validation-provider
            v-if="type === 'thay_hoa_hong'"
            #default="validationContext"
            name="Loại hoa hồng"
          >
            <b-form-group
              label="Loại hoa hồng"
              label-for="type-hoa-hong-selection"
            >
              <v-select
                v-model="chienDich.type_hoa_hong"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="PercentOptions"
                :clearable="true"
                input-id="type-hoa-hong-selection"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex">

            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="SaveIcon"
                class="mr-50"
              />
              Cập nhật
            </b-button>

            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>

          </div>
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BButton, BFormGroup,
  BFormInvalidFeedback, BFormInput,
} from 'bootstrap-vue'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'
import store from '@/store'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { useToast } from 'vue-toastification/composition'
import Cleave from 'vue-cleave-component'
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
    Cleave,
    BFormGroup,
    BFormInvalidFeedback,
    ValidationObserver,
    ValidationProvider,
    BForm,
    BButton,
    BSidebar,
    BFormInput,
    // Form Validation
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isUpdateSidebarActive',
    event: 'update:is-update-sidebar-active',
  },
  props: {
    isUpdateSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      track_link: '',
      hoa_hong_tu_net: '',
      vi_tri_hien_thi: '',
      type_hoa_hong: '',
      chienDich: {
        id: '',
        title: '',
        track_link: '',
        hoa_hong_tu_net: '',
        vi_tri_hien_thi: '',
        type_hoa_hong: '',
        ti_le_hoan_tien: '',
        type_hoan_tien: '',
      },
      type: '',
      PercentOptions: [
        { value: 'Phần trăm', label: 'Phần trăm' },
        { value: 'Tiền mặt', label: 'Tiền mặt' },
      ],
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  setup(props, { emit }) {
    const toast = useToast()

    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const blankUserData = {
      chienDich: [],
      khachHang: null,
    }
    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    // eslint-disable-next-line camelcase
    const submit = (chienDich, type, track_link) => {
      const currentUser = getUserData()
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/updateThongTin', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich,
          type,
          track_link,
        })
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          store.state.showBlock = false
          emit('refetch-data')
          emit('update:is-update-sidebar-active', false)
        })
        .catch(e => {
          store.state.showBlock = false
          showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
      submit,
    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('updateThongTin', (id, type) => {
      this.type = type
      store.state.showBlock = true

      store
        .dispatch('app-chien-dich/load', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
          type,
        })
        .then(response => {
          store.state.showBlock = false
          this.chienDich = response.data.result
          this.track_link = response.data.result.track_link
          this.hoa_hong_tu_net = response.data.result.hoa_hong_tu_net
          this.vi_tri_hien_thi = response.data.result.vi_tri_hien_thi
          this.type_hoa_hong = response.data.result.type_hoa_hong
          this.type_id = response.data.result.type_id
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  methods: {
    onSubmit() {
      this.submit(this.chienDich, this.type)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
