<template>
  <b-sidebar
    id="add-new-user-sidebar"
    :visible="isAddNewUserSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thông tin Offer
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- Image -->
          <validation-provider
            #default="validationContext"
            name="Image"
          >
            <b-form-group
              label="Ảnh chiến dịch"
              label-for="image"
            >
              <b-img
                  :src="userData.image"
                  height="150px"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Tilte -->
          <validation-provider
            #default="validationContext"
            name="Title"
          >
            <b-form-group
              label="Tên chiến dịch"
              label-for="ten_chien_dich"
            >
              <b-form-input
                id="ten_chien_dich"
                v-model="userData.title"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Tilte -->
          <validation-provider
            #default="validationContext"
            name="Title"
          >
            <b-form-group
              label="Link ảnh"
              label-for="link_anh"
            >
              <b-form-input
                id="link_anh"
                v-model="userData.image"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Loại chiến dịch -->
          <validation-provider
            #default="validationContext"
            name="Loại chiến dịch"
          >
            <b-form-group
              label="Loại chiến dịch"
              label-for="danh_muc_id"
            >
              <v-select
                v-model="userData.ten_danh_muc"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="typeDataOptions"
                :clearable="true"
                input-id="danh_muc_id"
                :state="getValidationState(validationContext)"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Network -->
          <validation-provider
            #default="validationContext"
            name="Network"
          >
            <b-form-group
              label="Network"
              label-for="network_id"
            >
              <v-select
                v-model="userData.network"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="network_arr"
                :clearable="true"
                input-id="network_id"
                :state="getValidationState(validationContext)"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Ngày tạo -->
          <validation-provider
            #default="validationContext"
            name="Ngày tạo"
          >
            <b-form-group
              label="Ngày tạo"
              label-for="created"
            >
              <b-form-input
                id="track_link"
                v-model="userData.created"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Track Link -->
          <validation-provider
            #default="validationContext"
            name="Track Link"
          >
            <b-form-group
              label="Track Link"
              label-for="track_link"
            >
              <b-form-input
                id="track_link"
                v-model="userData.track_link"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Chi phí chiến dịch -->
          <validation-provider
            #default="validationContext"
            name="Chi phi"
          >
            <b-form-group
              label="Chi phí chiến dịch"
              label-for="chi_phi_chien_dich"
            >
              <b-form-input
                id="chi_phi_chien_dich"
                v-model="userData.chi_phi_chien_dich"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Hoa Hồng -->
          <validation-provider
            #default="validationContext"
            name="Hoa Hong"
          >
            <b-form-group
              label="Hoa hồng"
              label-for="hoa_hong"
            >
              <b-form-input
                id="hoa_hong"
                v-model="userData.hoa_hong_tu_net"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Loại hoa hồng -->
          <validation-provider
            #default="validationContext"
            name="Loại hoa hồng"
          >
            <b-form-group
              label="Loại hoa hồng."
              label-for="type_hoa_hong"
            >
              <v-select
                v-model="userData.type_hoa_hong"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="typeOptions"
                :clearable="true"
                input-id="category"
                :state="getValidationState(validationContext)"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Trạng thái -->
          <validation-provider
            #default="validationContext"
            name="Trang thai"
          >
            <b-form-group
              label="Trạng thái"
              label-for="trang_thai"
            >
              <v-select
                v-model="userData.trang_thai"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="statusOptions"
                :clearable="true"
                input-id="trang_thai"
                :state="getValidationState(validationContext)"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Link video -->
          <validation-provider
              #default="validationContext"
              name="Link Youtube/ảnh hướng dẫn"
          >
            <b-form-group
                label="Link Youtube/ảnh hướng dẫn"
                label-for="link_video"
            >
              <b-form-input
                  id="link_video"
                  v-model="userData.link_video"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Điều kiện chuyển đổi -->
          <validation-provider
              #default="validationContext"
              name="Điều kiện chuyển đổi"
          >
            <b-form-group
                label="Điều kiện chuyển đổi"
                label-for="conversion_requirements"
            >
              <div v-html="userData.conversion_requirements"></div>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="CloudIcon"
                class="mr-50"
              />
              Lưu lại
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>
          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton, BImg,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import vSelect from 'vue-select'
import moment from 'moment'

export default {
  components: {
    vSelect,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    BImg,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewUserSidebarActive',
    event: 'update:is-add-new-user-sidebar-active',
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: '',
      category: '',
      trang_thai: '',
      track_link: '',
      network: '',
      hoa_hong_tu_net: '',
      chi_phi_chien_dich: '',
      type_hoa_hong: '',
      category_arr: '',
      network_arr: [],
      ten_danh_muc: '',
      conversion_requirements: '',
      image: '',
      typeOptions: [
        { value: 'Tiền mặt', label: 'Tiền mặt' },
        { value: 'Phần trăm', label: 'Phần trăm' },
      ],
      statusOptions: [
        { value: 'Hoạt động', label: 'Hoạt động' },
        { value: 'Không hoạt động', label: 'Không hoạt động' },
      ],
      typeDataOptions: [
        { value: '73', label: 'Kiếm tiền' },
        { value: '92', label: 'Vay tiền mùa dịch' },
        { value: '93', label: 'Dịch vụ tài chính' },
        { value: '88', label: 'Shopee' },
        { value: '89', label: 'Lazada' },
        { value: '90', label: 'Sendo' },
        { value: '91', label: 'Tiki' },
      ],

    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('xemChiTiet', id => {
      store.state.showBlock = true
      store
        .dispatch('app-chien-dich/xemChiTiet', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          chienDich: id,
        })
        .then(response => {
          this.userData = response.data.chienDich
          if (this.userData.type_hoa_hong === 'Tiền mặt') {
            this.userData.hoa_hong_tu_net = Number(this.userData.hoa_hong_tu_net).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 })
          } else if (this.userData.type_hoa_hong === 'Phần trăm') {
            this.userData.hoa_hong_tu_net = Number(this.userData.hoa_hong_tu_net).toLocaleString('vi', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
          }
          this.userData.category = response.data.category
          this.userData.chi_phi_chien_dich = Number(this.userData.chi_phi_chien_dich).toLocaleString('vi', { minimumFractionDigits: 0, maximumFractionDigits: 0 })
          this.userData.created = moment(String(this.userData.created)).format('DD/MM/YYYY HH:mm:ss')
          store.state.showBlock = false
          this.chienDich = response.data.chienDich.result
          this.title = response.data.chienDich.title
          this.category_id = response.data.chienDich.category_id
          this.trang_thai = response.data.chienDich.trang_thai
          this.track_link = response.data.chienDich.track_link
          this.category_arr = response.data.category_array
          this.network_arr = response.data.network
          this.type_hoa_hong_arr = response.data.type_hoa_hong_arr
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const loaiDanhMuc = [
      { label: 'Chi phí', value: 'Chi phí' },
      { label: 'Kho hàng', value: 'Kho hàng' },
    ]
    const blankUserData = {
      id: '',
      name: '',
      type: '',
      category: '',
      active: 1,
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true
      const oldKhuVucData = userData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/updateChienDich', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
      this.$refs.refChienDichListTable.refresh()
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      loaiDanhMuc,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
