<template>
  <b-sidebar
    id="add-new-user-sidebar"
    :visible="isAddNewUserSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thêm sản phẩm
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- Tiêu đề -->
          <validation-provider
            #default="validationContext"
            name="Tiêu đề"
            rules="required"
          >
            <b-form-group
              label="Tiêu đề"
              label-for="title-banner"
            >
              <b-form-input
                id="ma-sp"
                v-model="loaiSPData.title"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tiêu đề"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Liên kết -->
          <validation-provider
            #default="validationContext"
            name="Liên kết"
          >
            <b-form-group
              label="Liên kết"
              label-for="link-banner"
            >
              <b-form-input
                id="ten-loai"
                v-model="loaiSPData.link"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Liên kết"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Vị trí -->
          <validation-provider
            #default="validationContext"
            name="Vị trí"
          >
            <b-form-group
              label="Vị trí"
              label-for="vi-tri-banner"
            >
              <cleave
                id="vi-tri"
                v-model="loaiSPData.vi_tri"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10.000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Vùng hiển thị -->
          <validation-provider
            #default="validationContext"
            name="Vùng hiển thị"
          >
            <b-form-group
              label="Vùng hiển thị"
              label-for="vung-hien-thi-selection"
            >
              <v-select
                v-model="loaiSPData.region"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="regionsOptions"
                :clearable="true"
                input-id="cho-phep-ban-selection"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider
            #default="validationContext"
            name="Ảnh Banner"
          >
            <b-form-group
              label="Ảnh Banner"
              label-for="anh-banner-banner"
            >
              <b-form-file
                id="anh-banner-banner"
                v-model="loaiSPData.image"
                multiple
                placeholder="Chọn file(s)..."
                drop-placeholder="Chọn file(s).."
                accept="image/jpeg, image/png, image/gif"
                @change="selectedFile($event)"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <template>
            <div v-if="file.length > 0">
              <p
                v-for="(anhBanner, index) in file"
                :key="anhBanner.id"
              >
                <b-img
                  thumbnail
                  :src="getUrl(anhBanner.image)"
                  width="100"
                />
                <b-link @click="xoaHinhAnh(anhBanner.id, index)">
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Xóa</span>
                </b-link>
              </p>
            </div>
          </template>
          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="SaveIcon"
                class="mr-50"
              />
              Lưu lại
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
  BFormFile, BImg, BLink,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Cleave from 'vue-cleave-component'
import config from '../../config.json'
import useSanPhamList from './useSanPhamList'

export default {
  components: {
    Cleave,
    BFormFile,
    BImg,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    BLink,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
    vSelect,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewUserSidebarActive',
    event: 'update:is-add-new-user-sidebar-active',
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      required,
      alphaNum,
      file: [],
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
      regionsOptions: [
        { key: 'Đầu trang', label: 'Đầu trang' },
        { key: 'Giữa trang', label: 'Giữa trang' },
        { key: 'Cuối trang', label: 'Cuối trang' },
      ],
    }
  },
  mounted() {
    const currentUser = getUserData()

    this.$root.$on('themBanner', () => {
      this.file = []
    })
    this.$root.$on('suaThongTinBanner', id => {
      store.state.showBlock = true

      store
        .dispatch('app-san-pham/getOneData', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          danh_muc: id,
        })
        .then(response => {
          store.state.showBlock = false
          this.loaiSPData = response.data.banner
          this.loaiSPData.anhBanners = []
          this.file = response.data.anhBanners
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const blankLoaiSPData = {
      id: null,
      title: '',
      image: null,
      anhBanners: [],
      active: 1,
      region: null,
      vi_tri: 1,
      auth: currentUser.auth_key,
      uid: currentUser.id,
    }
    const loaiSPData = ref(JSON.parse(JSON.stringify(blankLoaiSPData)))

    const resetuserData = () => {
      loaiSPData.value = JSON.parse(JSON.stringify(blankLoaiSPData))
    }
    const setUserData = user => {
      loaiSPData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }
    const createImage = file => {
      const reader = new FileReader()
      reader.onload = e => {
        loaiSPData.value.anhBanners.push(e.target.result)
      }
      reader.readAsDataURL(file)
    }
    const selectedFile = event => {
      const files = event.target.files || event.dataTransfer.files
      if (files.length > 0) {
        files.forEach(item => {
          createImage(item)
        })
      }
      // console.log(loaiSPData.value)
    }
    const onSubmit = () => {
      store.state.showBlock = true
      const oldKhuVucData = loaiSPData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-san-pham/save', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    const {
      xoaAnhBanner,
    } = useSanPhamList()
    return {
      xoaAnhBanner,
      loaiSPData,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
      selectedFile,
      createImage,
    }
  },
  methods: {
    getUrl(img) {
      return `${config.apiUrl.mainUrl}images/${img}`
    },
    xoaHinhAnh(id, index) {
      this.$swal({
        title: 'Bạn có chắc chắn thực hiện việc này?',
        text: 'Dữ liệu sau khi xóa không thể phục hồi!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Đồng ý!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.xoaAnhBanner(id, () => {
            this.file.splice(index, 1)
          }, () => {
            this.$store.state.showBlock = true
          }, () => {
            this.$store.state.showBlock = false
          }, (message, type) => {
            this.showToast(type, 'Thông báo', 'BellIcon', message)
          })
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
