<template>
  <b-sidebar
    id="search-sidebar"
    :visible="isTimKiemSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-tim-kiem-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Tìm kiếm giao dịch
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
          #default="{ handleSubmit }"
          ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
            class="p-2"
            @submit.prevent="handleSubmit(onSubmit)"
            @reset.prevent="resetForm"
        >
          <!-- Tên quà tặng -->
          <validation-provider
              #default="validationContext"
              name="Tên quà tặng"
          >
            <b-form-group
                label="Tên quà tặng"
                label-for="ma-giao-dich-search"
            >
              <b-form-input
                  id="ma-giao-dich-search"
                  v-model="userData.name"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
                  placeholder="Tên quà tặng"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Tên người thực hiện -->
          <validation-provider
              #default="validationContext"
              name="Người thực hiện"
          >
            <b-form-group
                label="Người thực hiện"
                label-for="ma-giao-dich-search"
            >
              <b-form-input
                  id="ma-giao-dich-search"
                  v-model="userData.username"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
                  placeholder="Người thực hiện "
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Số tiền -->
          <validation-provider
              #default="validationContext"
              name="Số tiền"
          >
            <b-form-group
                label="Số tiền"
                label-for="khach-hang-search-giao-dich"
            >
              <b-form-input
                  id="khach-hang-search-giao-dich"
                  v-model="userData.tong_tien"
                  autofocus
                  :state="getValidationState(validationContext)"
                  trim
                  placeholder="Số tiền"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <b-row>
            <b-col md="6">
              <!-- Ngày giao dịch từ -->
              <validation-provider
                  #default="validationContext"
                  name="Ngày giao dịch từ"
              >
                <b-form-group
                    label="Ngày giao dịch từ"
                    label-for="ngay-giao-dich-tu"
                    rules="required"
                >
                  <flat-pickr
                      id="ngay-giao-dich-tu"
                      v-model="userData.tuNgay"
                      class="form-control"
                      :config="configDate"
                      placeholder="Chọn ngày"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col md="6">
              <!-- Ngày giao dịch đến -->
              <validation-provider
                  #default="validationContext"
                  name="Ngày giao dịch đến"
              >
                <b-form-group
                    label="Ngày giao dịch đến"
                    label-for="ngay-giao-dich-den"
                >
                  <flat-pickr
                      id="ngay-giao-dich-den"
                      v-model="userData.denNgay"
                      class="form-control"
                      :config="configDate"
                      placeholder="Chọn ngày"
                      :state="getValidationState(validationContext)"
                      trim
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="SearchIcon"
              />
              Tìm kiếm
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Hủy
            </b-button>
          </div>

          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton, BRow, BCol,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import { Vi } from 'flatpickr/dist/l10n/vn'
// import store from '@/store'
import flatPickr from 'vue-flatpickr-component'

export default {
  components: {
    BRow,
    BCol,
    flatPickr,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isTimKiemSidebarActive',
    event: 'update:is-tim-kiem-sidebar-active',
  },
  props: {
    isTimKiemSidebarActive: {
      type: Boolean,
    },
  },
  data() {
    return {
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
        locale: Vi, // locale for this instance only
      },
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
      loaiGiaoDichOptions: [
        { key: 'Nạp tiền', label: 'Nạp tiền' },
        { key: 'Rút tiền', label: 'Rút tiền' },
        { key: 'Hoa Hồng', label: 'Hoa Hồng' },
        { key: 'Đổi quà', label: 'Đổi quà' },
      ],
      trangThaiOptions: [
        { key: 'Đã duyệt', label: 'Đã duyệt' },
        { key: 'Chờ duyệt', label: 'Chờ duyệt' },
      ],
    }
  },
  setup() {
    const blankUserData = {
      name: '',
      username: '',
      tong_tien: '',
      trang_thai: '',
      tuNgay: '',
      denNgay: '',
    }

    const listVaiTro = ref([])

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      listVaiTro,
      userData,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  mounted() {
  },
  methods: {
    submit() {
      this.$root.$emit('timKiemGiaoDich', this.userData)
    },
    onSubmit() {
      this.submit()
    },

    timVaTaiFile() {
      this.submit(true)
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
